<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <ion-title class="new-background"> Payment Success </ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>

<ion-content padding class="custom-class">

<div class="background"></div>
<div class="container">
		<div class="row success-message">
				<div class="{{class1}} modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
					<ion-icon class="icon-style" name="checkmark"></ion-icon>
						<!--/.icon-->
						<h1>Payment Successful!</h1>
						<p>We have delivered a card on your e-mail.
					 </p>
						<button type="button" (click)="myOrders()" class="redo btn">Ok</button>
				 
				</div>
				<!--/.success-->
		</div>
		<!--/.row-->
 
</div>
<!--/.container-->
</ion-content>