<div class="row ">
  <div class="col-md-6 col-50">
    <h5 class="category-page-title"> Deal Categories</h5>
  </div>
  <div class="col-md-6  col-50">
    <!-- <div id="new-cat-btn" class="btn btn-primary float-right add-button instant" (click)="addDealCategoryByCSV()" style="margin-left: 1px!important;padding-right: 0px;">
            <i class="fa fa-caret-down mr-1" aria-hidden="true"></i></div>  -->
    <p-dropdown styleClass="float-right category-dropdown" [options]="categoryMenu" [(ngModel)]="selectedCity1"
      (onChange)="changeEvent($event)"></p-dropdown>

    <div id="new-cat-btn" class="btn btn-primary mr-3 float-right add-button instant" (click)="dealCategoryAction='Add Deal Category';addDealCategory()">
      Add Deal Category
    </div>
  </div>
</div>

<p-treeTable [value]="dealCategoryData" (onNodeExpand)="nodeExpand($event)">
  <p-header>Deals Category Table</p-header>
  <p-column field="categoryName" header="Name" styleClass="category-wrap-data"></p-column>
  <p-column field="description" header="Description" styleClass="category-wrap-data"></p-column>
  <p-column field="categoryImage" header="Icon" styleClass="category-wrap-data">
    <ng-template let-col let-node="rowData" pTemplate="body">
      <i class="fa {{node.data.categoryImage}}"></i>
    </ng-template>
  </p-column>
  <p-column field="" header="Add Sub Category" styleClass="category-wrap-data" [style]="{'text-align':'-webkit-center'}">
    <ng-template let-col let-node="rowData" pTemplate="body">
      <span (click)="dealCategoryAction='Add Deal Sub Category';addSubCategory(node);"><i class="fa fa-plus-square"
          aria-hidden="true" data-toggle="tooltip" data-animation="false" title="Add Subcategory"></i></span>
    </ng-template>
  </p-column>
  <p-column field="" header="Update" styleClass="category-wrap-data" [style]="{'text-align':'-webkit-center','cursor':'pointer'}">
    <ng-template let-col let-node="rowData" pTemplate="body">
      <span (click)="dealCategoryAction='Edit Deal Category';updateDealCategory(node);"><i class="fa fa-lg fa-pencil-square-o"
          aria-hidden="true" data-toggle="tooltip" data-animation="false" title="Edit"></i></span>
    </ng-template>
  </p-column>
  <p-column field="" header="Delete" styleClass="category-wrap-data" [style]="{'text-align':'-webkit-center','cursor':'pointer'}">
    <ng-template let-col let-node="rowData" pTemplate="body">
      <span (click)="deleteCategory(node);"><i class="fa fa-lg fa-trash-o" aria-hidden="true" data-toggle="tooltip"
          data-animation="false" title="Delete"></i></span>
    </ng-template>
  </p-column>
</p-treeTable>
<p-paginator #pg [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions"
  (onPageChange)="paginate($event)"></p-paginator>



<div class="modal fade" id="dealCategoryModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content model-rounded-border responsive-device">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{dealCategoryAction}}</h5>
        <button (click)="close(dealCategoryForm)" type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #dealCategoryForm="ngForm">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label pop-up-label-text">Name <span class="text-danger">*
              </span></label>
            <div class="col-sm-9">
              <input #categoryName="ngModel" required type="text" [(ngModel)]="dealCategorymodel.categoryName" class="form-control "
                name="categoryName">
              <div [hidden]="categoryName.valid || categoryName.pristine" class="alert alert-danger field-alert">Name
                is required</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label pop-up-label-text">Description</label>
            <div class="col-sm-9">
              <textarea [(ngModel)]="dealCategorymodel.description" name="description" #description="ngModel" class="form-control"
                rows="3"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label pop-up-label-text"> Icon <span class="text-danger">*
              </span></label>
            <div class="col-sm-9">
              <input class="form-control" *ngIf="!dealCategorymodel.categoryImage" required type="text" name="categoryImage"
                #categoryImage="ngModel" [(ngModel)]="dealCategorymodel.categoryImage" (click)=showIcons(); />
              <i class="form-control" class="fa {{dealCategorymodel.categoryImage}} fa-4x cursor" (click)=showIcons();></i>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="close(dealCategoryForm)" class="btn btn-secondary instant btn-rounded-border"
          data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" (click)="submit(dealCategoryForm)" [disabled]="!dealCategoryForm.valid"
          class="btn btn-primary instant btn-rounded-border">Save </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dealiconModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content model-rounded-border responsive-device">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Select Icon</h5>
        <button type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class=" col-12 ">
              <span class="float-right mb-3">
                Search: <input class="" type="text" name="iconSearch" #icon="ngModel" [(ngModel)]="iconSearch"
                  (ngModelChange)="filterIcon(iconSearch);" />
              </span>
            </div>
          </div>
          <div class="iconsholder">
            <p *ngFor="let icon  of iconList" (click)="selectedIcon(icon)" [ngClass]="{'icon-selected': icon==dealCategorymodel.categoryImage}"
              class="iconSection">
              <i class="fa {{icon}}"></i></p>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="removeDealCategoryModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div id="delete-cat-confirm-model" class="modal-content model-rounded-border responsive-device">
      <div class="modal-header no-border no-margin  ">
        <h5 class="modal-title delete-warning-msg">Do you really want to delete this category ?</h5>
      </div>
      <div class="modal-footer  no-border">
        <button type="button" class="btn btn-secondary instant btn-rounded-border" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteDealCategory(selectedDealCategory)" data-dismiss="modal" class="btn btn-danger instant btn-rounded-border">Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- CSV file Modal -->
<div class="modal fade" id="CSVModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content model-rounded-border responsive-device">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="type">Type <span class="text-danger">*</span></label>
            <input type="type" class="form-control" id="type" placeholder="Type" value="CSV">
          </div>
          <div class="form-group">
              <label for="file">Source File <span class="text-danger">*</span></label>
              <input type="file" class="form-control" [(ngModel)]="CSVFilePath" (change)="uploadFile($event)" name="CSVFilePath" style="font-size: 11px !important;">
          </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary instant btn-rounded-border" data-dismiss="modal">Close</button>
        <button *ngIf="isImport" type="button" (click)="importCSVFileData(csvfileName)" class="btn btn-primary instant btn-rounded-border">Import</button>
      </div>
    </div>
  </div>
</div>
<toaster-container></toaster-container>