<div class="app align-items-center">
    <div class="login">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-5 col-sm-12 col-xs-12 login-section">
                    <div class="mb-0">
                        <div class="card p-4">
                            <div class="card-block ">
                                <h1 class="login-title" (click)="gotoHome();"><img class="logo_image logo_icon"   src="assets/img/purvice_logo_blue.jpg"  ></h1>
                                <form #loginForm="ngForm">
                                    <h2 class="section-title">Forgot Your Password? </h2>
                                    <p>Enter the email address for your purvice account. We'll send a link to reset your password.</p>
                                    <div class="input-group ">
                                        <input type="email" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel" class="form-control input-field"
                                            placeholder="Email Address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                    </div>                                 
                                    <!--<div *ngIf="username.errors && username.errors.required" class="alert alert-danger">
                                        Email Id is required
                                    </div>
                                    <div *ngIf="username.errors && username.errors.pattern" class="alert alert-danger">
                                        Entered email is invalid
                                    </div>-->
                                     <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                                        Enter valid email address
                                    </div>

                                    <div class="row">
                                        <div class=" col-12">
                                            <button type="button " (click)="passwordForgot(model)" [disabled]="!loginForm.valid" id="resetPassBtn" class="btn btn-primary px-4 login-button "
                                                style="margin-top:10px;"><i *ngIf="showLoader" class="fa fa-spinner fa-spin  float-right"></i>Reset Your
                                                Password
                                                </button>
                                        </div>

                                    </div>

                                    <p class="noAccount">Don't have an account? <a routerLink="/register">Sign up now.</a></p>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div id="login-footer">
        <div class="content-width">
            <div class="section-divider">
                <div class="divider-div"></div>
            </div>
            <p class="copy">Copyright © 2018 purvice,Inc. All Rights Reserved.</p>
            <p class="footer-link"><a [routerLink]="['../home/copyright']" class="mr-1 link-hove ">About Us</a>
                <a [routerLinkActive]="['active-link']" [routerLink]="['../home/faq']" class="mr-1 link-hove ">FAQ</a>
                <a [routerLink]="['../home/privacy']" class="mr-1 link-hove">Privacy</a>
                <a class="mr-1 link-hove" [routerLink]="['../home/terms-of-service']">Terms</a>
                <a class="mr-1 link-hove" [routerLink]="['../home/copyright']">Copyright</a>
            </p>
        </div>
    </div>
    <toaster-container></toaster-container>