

// fonts

// @import url('https://fonts.googleapis.com/css?family=Ubuntu');


.toolbar-background{
    background: #de3737;
}
.toolbar-background-ios{
    background: #de3737;
}
.toolbar-title{
    color: white;
}
// .slider-main{
//     background: #38cef5;
// }
.gift-text{
    font-size: 165%;
    text-align: center;
    //border-bottom: solid 1px;
    color: white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
}

.slider-size{
    width: 380px;
    height: 171px;
}

#login-options {
    background-image:url("/assets/images/backgrounds/background_white.jpg");
}



.menu-color{
    color: white;
}
// .toolbar-background{
//     background-color: #434456;
// }
// #434456

.logo-font{
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    //text-shadow: 4px 3px 4px #aaa;
    color: white;
}
.align-center{
    text-align: center;
}
.color-white{
    color: white;
}

.nav-menu-item-border{
    border-bottom: solid 1px;
    color: white;
}

.ubuntu-font{font-family: 'Ubuntu', sans-serif;font-size: 15px;}
.connect-using-fb   { background:#3b5998;font-family: 'Ubuntu', sans-serif; font-size: 20px;}
.connect-using-gmail{background: #dd4b39;font-family: 'Ubuntu', sans-serif; font-size: 20px;}
.connect-using-email{font-family: 'Ubuntu', sans-serif; font-size: 20px;}
.more-fun{width: 100%; height: 30%;padding: 16%; font-family: 'Ubuntu', sans-serif; font-size: 20px;}