
<ion-header>
    <div class="toolbar-home">
        <!--toolbar -->
        <ion-toolbar color="white">
            <!--<button ion-button icon-only menuToggle class="menu-color">
          <ion-icon name="menu"></ion-icon>
        </button>-->
              <button (click)='goToHome();' ion-button icon-only menuToggle class="menu-color">
                <ion-icon name="ios-arrow-back-outline"></ion-icon>
              </button>

            <ion-title class="new-background">Login</ion-title>
        </ion-toolbar>
        <!--end of toolbar-->
    </div>
</ion-header>
 
<common-navigation></common-navigation>

<ion-content id="login-options">
<!--more fun div-->

<div class="more-fun">  

<p>It's more fun with friends!</p>

</div>

<!--end of more fun div-->
<!--login options-->
            <ion-list>
                 
                 <ion-item  (click)='glogin();' class="connect-using-gmail color-white">Connect Using Google</ion-item>
                 
                 <ion-item  (click)="facebookLogin()" class="connect-using-fb color-white">Connect Using Facebook</ion-item>

                 <ion-item (click)='gotoLogin();' class="gyft-menu color-white connect-using-email">Sign in with Email</ion-item>

            </ion-list>
<!--end of login options-->


</ion-content>

<ion-footer>
    
</ion-footer>