.nav-link{
    color: black!important;
 }
 .header-align{
    margin-left: 1%;
 }
#mobile-profile-size{
    font-size: 14px;
}

@media screen and (max-width: 330px) {
    #mobile-profile-size{
        font-size: 13px;
    }
}
