<div class="app align-items-center">
    <div class="login msg-body">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-5 col-sm-12 col-xs-12 login-section">
                    <div class="mb-0">
                        <div class="card p-4">
                            <div id="reset-password-window" class="card-block ">
                                <h1 class="login-title" (click)="gotoHome();" ><img class="logo_image logo_icon"   src="assets/img/purvice_logo_blue.jpg"  ></h1>
                                <!--<img class="logo_image icon"   src="assets/img/purvice_1.png"  >-->
                                <form  #loginForm="ngForm" >
                                 <h2 class="section-title">Create new password</h2>
                                    <div class="input-group ">
                                        <input type="password" id="newpassword"   [(ngModel)]="model.newpassword" name="newpassword" #newpassword="ngModel" class="form-control input-field"
                                            placeholder="New Password">
                                    </div>
                                    <div [hidden]="newpassword.valid || newpassword.pristine" class="alert alert-danger">
                                        Enter new password
                                    </div>

                                    <div class="input-group ">
                                    <input type="password" id="repeatepassword"   (keyup)="myMethod(model)"    [(ngModel)]="model.repeatepassword" name="repeatepassword" #repeatepassword="ngModel" class="form-control input-field"
                                            placeholder="Confirm new password">
                                    </div>
                                    <div *ngIf="!passwordMatch" class="alert alert-danger">
                                        Password does not match
                                    </div>


                                     <div class="row">
                                        <div class=" col-12">
                                            <button type="button " (click)="passwordForgot(model)" [disabled]="!showButton" class="btn btn-primary px-4 login-button "
                                                style="margin-top:10px;">Reset Your Password  <i *ngIf="showLoader" class="fa fa-spinner fa-spin  float-right"></i></button>
                                        </div>

                                    </div>
                                      <!--<p class="noAccount">Go to Login <a routerLink="/login">Log in now.</a></p>-->
                                </form>
                            </div>
                            
                               <div  class="card-block " id="warning-msg-parent">
                                      <div class="alert alert-danger">
                                        This token is expired. 
                                        <p>
                                            Please generate a new token  and retry again.
                                       </p>
                                    </div>
                                   
                               </div>
                        </div>

                    </div>
                </div>
                
            </div>

        </div>
        <div class="section-divider" id="reset-page-divider">
            <div class="divider-div"></div>
        </div>
    </div>

    <div id="login-footer">
        <div class="content-width">

            <p class="copy">Copyright © 2018 purvice,Inc. All Rights Reserved.</p>
            <p class="footer-link"><a [routerLink]="['../home/copyright']" class="mr-1 link-hove ">About Us</a> 
                <a [routerLinkActive]="['active-link']" [routerLink]="['../home/faq']" class="mr-1 link-hove ">FAQ</a>
                <a [routerLink]="['../home/privacy']" class="mr-1 link-hove">Privacy</a>
                <a class="mr-1 link-hove" [routerLink]="['../home/terms-of-service']">Terms</a>
                <a class="mr-1 link-hove" [routerLink]="['../home/copyright']">Copyright</a>
            </p>
        </div>


    </div>
    <toaster-container></toaster-container>