

change-password{
 
.input-cover {
  border-bottom: 1px solid #4a8bfc;
}

.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #4a8bfc;
  box-shadow: inset 0 -1px 0 0 #4a8bfc;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: #4a8bfc;
   
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: #4a8bfc;
  box-shadow: inset 0 -1px 0 0 #4a8bfc;
}

.input-has-focus .label-md[stacked],
.input-has-focus .label-md[floating] {
  color: #4a8bfc;
}

.change-password-inputs{
      font-size: 108%;
    font-weight: bold;
}
}