<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <button (click)='goToProfile();' ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

      <ion-title class="new-background">Change Password</ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>


<ion-content id="user-profile">
 
 

<!--change password-->
  <ion-list>
    <ion-item>
      <ion-label floating class="login-color ubuntu-font">
        <ion-icon class="login-color change-password-inputs" name="md-lock"></ion-icon><span class="change-password-inputs">  &nbsp;Old Password </span></ion-label>
      <ion-input class="" type="password" [(ngModel)]="resetData.oldPassword" required name="current-passwprd"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating class="login-color ubuntu-font">
        <ion-icon class="login-color change-password-inputs" name="md-unlock"></ion-icon> <span class="change-password-inputs">&nbsp;New Password</span></ion-label>
      <ion-input class="" type="password" [(ngModel)]="resetData.confirmPass" required name="new-password"></ion-input>
      <div>
        <ion-icon class="login-color" name="md-lock"></ion-icon>
      </div>
    </ion-item>

    <ion-item>
      <ion-label floating class="login-color ubuntu-font">
        <ion-icon class="login-color change-password-inputs" name="md-lock"></ion-icon> <span class="change-password-inputs">&nbsp;Confirm New Password</span> </ion-label>
      <ion-input name="md-lock" [(ngModel)]="resetData.newPassword" class="" type="password" required name="confirm-password"></ion-input>
    </ion-item><br>
    <ion-row>

      <ion-col>
        <button  [disabled]="resetData.confirmPass != resetData.newPassword || !resetData.oldPassword || !resetData.confirmPass"    (click)="resetPassword(resetData)" ion-button class="login-button ubuntu-font">Save</button>
      </ion-col>
    </ion-row>
  </ion-list>
<!--end of change password-->
</ion-content>
<ion-footer>

</ion-footer>