<div class="app align-items-center">
    <div class="login">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding login-section">
                    <div class="mb-0">
                        <div class="card p-4">
                            <div class="card-block ">
                                <h1 class="login-title"  (click)="gotoHome();"><img class="logo_image logo_icon"   src="assets/img/purvice_logo_blue.jpg"  ></h1>
                                <!--<img class="logo_image"   src="assets/img/purvice_1.png"  >-->
                                <form #registerForm="ngForm">
                                    <h2 class="section-title">It's Easy To Get Started And It's Free!</h2>
                                    <div class="input-group ">
                                        <input type="text" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel" class="form-control input-field"
                                            placeholder="First Name">
                                    </div>
                                    <div [hidden]="firstName.valid || firstName.pristine " class="alert alert-danger">
                                        First Name is required
                                    </div>
                                    <div class="input-group ">
                                        <input type="text" id="name" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel" class="form-control input-field"
                                            placeholder="Last Name">
                                    </div>
                                    <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                                        Last Name is required
                                    </div>

                                    <div class="input-group">
                                        <input type="email" id="email" required [(ngModel)]="model.username" name="email" #email="ngModel" class="form-control input-field"
                                            placeholder="Email Address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                            required>
                                    </div>
                                    <div [hidden]="email.valid || email.pristine ||email.untouched" class="alert alert-danger">
                                        Enter valid email address
                                    </div>
                                    <div class="input-group ">
                                        <input type="password" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel" class="form-control input-field  "
                                            placeholder="Password">
                                    </div>
                                    <div [hidden]="password.valid || password.pristine " class="alert alert-danger">
                                        Password is required
                                    </div>
                                    <div class="row">
                                        <div class=" col-12">
                                            <button type="button " (click)="doRegister(registerForm)" [disabled]="!registerForm.valid|| showLoader " class="btn btn-primary px-4 mt-2 login-button "> <i *ngIf="showLoader" class="fa fa-spinner fa-spin  float-right"></i>Sign Up With Email</button>
                                        </div>
                                    </div>

                                    <p class="noAccount">Already have an account? <a routerLink="/login">Log in now.</a></p>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
                    <div class="register-page">
                        <h1>What is purvice?</h1>

                        <div class="list">
                            <div class="icon"><img src="assets/img/gift1.png"></div>
                            <div>
                                <h3>Send gift cards</h3>
                                <p>Instantly send gift cards to friends and family. Choose from hundreds of popular retailers.</p>
                            </div>
                            <div class="icon"><img src="assets/img/gift1.png" alt="login with facebook"></div>
                            <div>
                                <h3>Manage from anywhere</h3>
                                <p>Save your gift cards in your purvice Wallet to track balances and access them from your computer
                                    or smartphone.</p>
                            </div>
                            <div class="icon"><img src="assets/img/gift1.png" alt="login with facebook"></div>
                            <div>
                                <h3>Redeem with ease</h3>
                                <p>Use your gift cards straight from your phone with the purvice app. Never forget to use your
                                    gift cards again!</p>
                            </div>
                        </div>

                        <img class="responsive" src="/assets/img/responsive.png">
                    </div>
                </div>
            </div>

        </div>
       
    </div>

    <div id="login-footer">
       
        <div class="content-width">
              <div class="section-divider">
            <div class="divider-div"></div>
        </div>
            <p class="copy">Copyright © 2018 purvice,Inc. All Rights Reserved.</p>
            <p class="footer-link"><a [routerLink]="['../home/about-us']" class="mr-1 link-hove ">About Us</a>
                <a [routerLinkActive]="['active-link']" [routerLink]="['../home/faq']" class="mr-1 link-hove ">FAQ</a>
                <a [routerLink]="['../home/privacy']"
                    class="mr-1 link-hove">Privacy</a>
                    <a class="mr-1 link-hove" [routerLink]="['../home/terms-of-service']">Terms</a>
                    <a class="mr-1 link-hove" [routerLink]="['../home/copyright']">Copyright</a>
            </p>
        </div>
    </div>
    <toaster-container></toaster-container>