<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <button (click)='goToLoginOptions();' ion-button icon-only menuToggle class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

      <ion-title class="new-background">Sign in with email</ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>
 


<ion-content id="login-page">

 


<!--login form-->
<form action="" #loginForm="ngForm" >
    <ion-list>
    <ion-item>
      <ion-label floating class="login-color ubuntu-font">
        <ion-icon class="login-color" name="ios-mail-outline"></ion-icon> &nbsp; Mail ID</ion-label>
      <ion-input clearInput class="color-white" type="email" (keyup)="validateEmail(loginForm)" required name="username" [(ngModel)]="data.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating class="login-color ubuntu-font">
        <ion-icon class="login-color" name="ios-unlock-outline"></ion-icon> &nbsp; Password</ion-label>
      <ion-input type="password" name="password" (keyup)="validateEmail(loginForm)" required [(ngModel)]="data.password"></ion-input>
    </ion-item><br>

  </ion-list>

  <ion-row>
    <ion-col>
      <button ion-button  [disabled]="!data.password" class="login-button ubuntu-font" (click)='doLogin(data,loginForm);'>Login</button>
    </ion-col>
  </ion-row>

</form>

<!--end of login form-->
    <ion-row>
      <ion-col>
           <ion-label class="color-white "> DONT HAVE AN ACCOUNT 
            <span (click)='gotoRegistration();'>
              <a> SIGN UP</a>
            </span>
          </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      
      <ion-col>
          
            <span (click)='forgotPassword();'>
              <a>Forgot Password</a>
            </span>
          
      </ion-col>

    </ion-row>

 