

	page-login {

.segment-button{
   	margin-top: -5% !important;
    color: white !important;
    background: black !important;
    border-bottom: white !important;
}

#login-page{
	 background-image:url("../assets/images/backgrounds/background_gray.jpg");
}

	}

// #4d4d4d

.ios, .md {
	
	
	page-login {

	  .scroll-content {
	    display: flex;
	    flex-direction: column;
	    overflow: hidden;
	  }

	  img {
	    width: 50%;
	    height: auto;
	    margin: 0 auto;
	  }

	  #cloud-layer {
	    background-image: url(../assets/images/splash.png);
	    background-size: cover;
	    width: 100%;
	    height: 100%;
	  }

	    ion-row {
	      align-items: center;
	      text-align: center;
	    }

	   
	    ion-list {
	        margin: 0;
	    }

	    .login-button {
	        width: 64%;
	        font-size: 0.9em;
	        background-color: #F1592A;
					border-radius: 30px;
	    }
	    .login-logo {
	    	transform: translate3d(0px, 20px, 0px);
			    height: 8em;
			    width: 7em;
	    }
	    .login-window{
	    	margin-top: 2em;
	    }
	    .logo-margin{
	    	margin-top: 5em;
	    }
	    .item.item-input {
    		background-color: transparent; 
		}
		.item.item-input:focus{
    		border: 1px solid #F1592A;
		}

		.item-content {
		  background-color: transparent;
		}
		a {
		    color: #F1592A;
		}
		.transperent-font { 
			opacity: 0.7;
		}
		.login-color{
			color:#F1592A;
		}
	}

}