<header class="app-header navbar">
  <div class="container-fluid">
    <a id="logo-link" (click)="gotoHome();"> <img class="logo_image" src="assets/img/purvice_logo_pure_white.png"></a>


  </div>
</header>
<div style="margin-bottom:100px">
</div>
<div id="checkout" class=" align-items-center">
  <div class="login">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-10  col-md-12 col-sm-12 col-xs-12  " *ngIf="showCards">
          <div class="row  container justify-content-center">
            <div class=" col-sm-5 push-sm-7">

              <div class="row payment-detail" *ngIf="showOrderDetail">
                <div class="col-12">
                  <div class="col-12 payment-title no-padding mb-1">
                    Order Summary
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <img src="{{order.item.brand.imageUrls[5].imageURL}}" class="img-icon" alt="...">
                    </div>
                    <div class="w-50">
                      <div class="">
                        {{order.item.brand.brandName}}
                      </div>
                      <div class="">
                        <div> ${{order.amount}}</div>
                        <a class="change-link" routerLink="/buy-gift-card">CHANGE</a>
                        <span class="finalStat">
                        	(1) No Returns or exchanges.<br />(2) All Gift card sales are final.<br/>(3) Gift cards are delivered by email only.<br/>(4) Billing Address and Zip code should be exactly same as it appears on your billing statement.
						</span>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
              <br />
              <div class="row payment-detail" *ngIf="showOrderDetail">
                <div class="col-12">
                  <div class="col-12 payment-title no-padding mb-1">
                    Terms And COnditions
                  </div>

                  <div class="order-terms">
                    <div [innerHTML]="order.item.brand.terms"></div>
                  </div>
                </div>



              </div>
            </div>

            <div class="checkout-section col-sm-7 pull-sm-5 ">
              <div class="payment-option">Please Choose a Payment Option</div>
              <div class="card">
                <div class="card-block">
                  <div class="text-left">
                    <input [(ngModel)]="paymentType" (click)="methodSelect();" class="form-check-input styled" type="radio"
                      value="card" class="big" name="schedule">
                    <span><img src="assets/img/payment.png" style="height:15px;margin-bottom:14px;margin-left: 3px">
                      <span class="paymet-option"> Credit Card</span>
                    </span>
                  </div>

                  <!-- <div class="text-left">
                    <input [(ngModel)]="paymentType" (click)="methodSelect();" value="paypal" class="form-check-input styled"
                      type="radio" class="big" name="schedule">
                    <span> <img src="assets/img/paypal_icon.png" style="height:18px;    margin-bottom: 10px;
    margin-left: 7px;">
                      <span class="paymet-option"> Paypal</span>
                    </span>
                  </div> -->

                </div>
              </div>


              <div class="card" [hidden]="!paymentType">
                  <div class="card-block">
                    <div [hidden]="paymentType!=='card'" class="demo-frame">
                      <form >
  
                        <div class=" row">
                          <label class=" col-sm-12  col-form-label payment-info ">PAYMENT DETAILS
                              <img class="img-responsive pull-right" style="width: 29%;" src="assets/img/master_visa_logo11.png">
                          </label>

                          <!-- <div class="col-sm-12 ">
                              <div class="form-group">
                                <label class="col-sm-12 col-form-label payment-info">CARD TYPE</label>
                                <div class="input-group">
                                    <select class="date-design mr-1" [(ngModel)]="checkoutTransactionData.cardCheck" #cardCheck="ngModel"  (change)="cardTypeChange(checkoutTransactionData)" name="cardCheck" aria-placeholder="Select Card Type" style="width: 92%; border-radius: 6px;">
                                        <option selected disabled>Select Card Type</option> 
                                        <option *ngFor="let obj of cardList" [value]="obj">{{obj}}</option>
                                     </select>
                                </div>
                              </div>     
                            </div> -->

                          <div class="col-sm-12 ">
                            <div class="form-group">
                              <label class="col-sm-12 col-form-label payment-info">CARD NUMBER</label>
                              <div class="input-group" style="width: 92%;">
                                <input id="cardNumber" name="card-number" [(ngModel)]="checkoutTransactionData.CARDNUMBER" (keypress)="_keyPress($event,checkoutTransactionData.CARDNUMBER)" (input)="cardValidate(checkoutTransactionData.CARDNUMBER)"  class="form-control" style="border-radius: 6px;" placeholder="Valid Card Number"
                                   maxlength="19" />
                                  <span *ngIf="cardCheckByCardNumber !='';" class="input-group-addon" style="width: 72px; border-radius: 6px; background-color: white;">
                                  <img *ngIf="cardCheckByCardNumber == 'VISA';" class="visa_card" src="assets/img/master_visacard.png">
                                  <img *ngIf="cardCheckByCardNumber == 'MASTERCARD';" class="master_card" src="assets/img/master_visacard2.png">
                                   </span>  
                              </div>
                            </div>     
                          </div>
                          
                          <div class="row col-sm-12">
                            <div class="col-sm-7">
                              <div class="form-group">
                                <label class="col-sm-12 col-form-label payment-info">EXPIRATION DATE</label><br/>
                                <div class="input-group">
                                 <select class="form-control date-design mr-1" style="border-radius: 6px;" [(ngModel)]="checkoutTransactionData.month" #date="ngModel" name="month" aria-placeholder="MM">
                                  <option selected disabled>MM</option>
                                  <option *ngFor="let obj of month" [value]="obj">{{obj}}</option>
                                </select>
                                  <select class="form-control date-design" style="border-radius: 6px;" [(ngModel)]="checkoutTransactionData.year" #year="ngModel" name="year" aria-placeholder="YY" >
                                      <option selected="selected" disabled>YY</option>
                                      <option *ngFor="let obj of yearData" [value]="obj">{{obj}}</option>
                                    </select>
                                  </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                              <div class="form-group">
                                <label class="col-sm-12 col-form-label payment-info">CVV CODE</label>
                                <div class="input-group">
                                <input class="form-control"  style="margin-right: 7%; border-radius: 6px;" (keypress)="_keyPress($event)" minlength="3" maxlength="3" [(ngModel)]="checkoutTransactionData.CVV" (input)="cvvValidate(checkoutTransactionData.CVV)" name="cardCVC" placeholder="CVV"/>
                              </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-sm-12 ">
                              <div class="form-group">
                                <label class="col-sm-12 col-form-label payment-info">CARD HOLDER NAME</label>
                                <div class="input-group">
                                  <input type="tel" class="form-control" style="margin-right: 7%; border-radius: 6px;" (keypress)="_keyPressString($event)" [(ngModel)]="checkoutTransactionData.CARDHOLDERNAME" name="holderName" placeholder="CARD HOLDER NAME" />                       
                                </div>
                              </div>     
                            </div>



                      <div class="form-group row col-sm-12">
                        <label class=" col-sm-12 payment-info col-form-label ">Billing Address</label>
                        <div class="col-sm-12">
                          <input required type="text" class=" hosted-field " name="addressLine1" [(ngModel)]="billingAddress.addressLine1"
                            placeholder="Address Line 1">
                        </div>
                      </div>
                      
                      <div class="form-group row col-sm-12">
                        <div class="col-sm-12">
                          <input type="text" class="hosted-field " name="addressLine2" [(ngModel)]="billingAddress.addressLine2" placeholder="Address Line 2">
                        </div>
                      
                      </div>
                      <div class="row col-sm-12">
                        <div class="col-sm-6 form-group ">
                          <input required type="text" class="hosted-field " #city="ngModel" [(ngModel)]="billingAddress.city" name="city"
                            placeholder="City">
                        </div>
                        <div class="col-sm-6 form-group ">
                          <select required name="state" [disabled]="disableStates" [(ngModel)]="state" class="hosted-field ">
                            <option [value]="selectState" disabled selected>-- Select State --</option>
                            <option *ngFor=" let obj of states" [value]="obj.name">{{obj.name}}</option>
                          </select>
                      
                        </div>
                      
                      
                      </div>
                      <div class="form-group row col-sm-12">
                      
                        <div class="col-sm-6 form-group">
                          <input required type="text" minlength="5" maxlength="6" id="postal-code" class="hosted-field " #zipcode="ngModel"
                            [(ngModel)]="billingAddress.zipcode" (keypress)="_keyPress($event)" name="zipcode" placeholder="Zipcode">
                      
                        </div>
                      
                      
                      
                      </div>

                            <!-- <div class="col-sm-12 ">
                              <div class="form-group">
                                <label class="col-sm-12 col-form-label payment-info">ADDRESS</label>
                                <div class="input-group">
                                  <input type="text" class="form-control" [(ngModel)]="checkoutTransactionData.ADDRESS1" name="street" placeholder="ADDRESS" />                       
                                </div>
                              </div>     
                            </div>
                            <div class="col-sm-12 ">
                              <div class="form-group">
                                <label class="col-sm-12 col-form-label payment-info">CITY</label>
                                <div class="input-group">
                                  <input type="text" class="form-control" [(ngModel)]="checkoutTransactionData.CITY " name="CITY " placeholder="CITY" />                       
                                </div>
                              </div>     
                            </div>
                            <div class="col-sm-12 ">
                              <div class="form-group">
                                <label class="col-sm-12 col-form-label payment-info">POSTCODE</label>
                                <div class="input-group">
                                  <input type="text" class="form-control" [(ngModel)]="checkoutTransactionData.POSTCODE" name="POSTCODE" placeholder="POSTCODE" />                       
                                </div>
                              </div>     
                            </div> -->
                        </div>
  
                        <button (click)="paymentGateway(checkoutTransactionData, billingAddress)" id="submit-button" class="btn btn-primary btn-sm  center-block btn-rounded-border cursor  mr-3">Pay ${{order.amount}} </button>
                        <button (click)="goToMyWallet()" class="btn btn-primary btn-sm  center-block btn-rounded-border cursor  mr-3">Cancel </button>
                      </form> 

                    </div> 
                    
                    <div [hidden]="paymentType!=='paypal'" class="">
                      <form>
  
                        <div class="form-group row">
                          <div id="paypal-button" style="margin:auto;"></div>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>

              <!-- <div class="card" [hidden]="!paymentType">
                <div class="card-block">
                  <div [hidden]="paymentType!=='card'" class="demo-frame">
                    <form action="/" method="post" #checkoutForm="ngForm" id="cardForm" *ngIf="showFields">

                      <div class=" row">
                        <label class=" col-sm-12  col-form-label payment-info ">Payment Info </label>
                        <div class="col-sm-12 ">
                          <div id="card-number-container">
                            <div class="">
                              <img *ngIf="cardType=='visa'" class="visa_card" src="assets/img/images.png">
                              <img *ngIf="cardType=='american-express'" class="american-express_card" src="assets/img/Aexpress.png">
                              <img *ngIf="cardType=='master-card'" class="master_card" src="assets/img/master.png">
                              <img *ngIf="cardType=='diners-club'" class="diners-club_card" src="assets/img/diners_club.png">
                              <img *ngIf="cardType=='discover'" class="discover_card" src="assets/img/dicss.png">
                              <img *ngIf="cardType=='jcb'" class="jcb_card" src="assets/img/jcb.png">
                              <img *ngIf="cardType=='maestro'" class="maestro_card" src="assets/img/maestro.png">
                            </div>
                            <div id="card-number" class="hosted-field card-number"></div>

                            <div class="helper-text"></div>
                          </div>
                        </div>

                      </div>
                      <div class=" row">
                        <div class="col-sm-6 ">
                          <div id="expiration-date" class="hosted-field"></div>
                          <div class="helper-text"></div>
                        </div>
                        <div class="col-sm-6 ">
                          <div id="cvv" class="hosted-field"></div>
                          <div class="helper-text"></div>
                        </div>
                      </div>

                       <div class="form-group row">
                        <label class=" col-sm-12 payment-info col-form-label ">Billing Address</label>
                        <div class="col-sm-12">
                          <input required type="text" class=" hosted-field " name="addressLine1" [(ngModel)]="billingAddress.addressLine1" placeholder="Address Line 1">
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-sm-12">
                          <input type="text" class="hosted-field " name="addressLine2" [(ngModel)]="billingAddress.addressLine2" placeholder="Address Line 2">
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-sm-6 form-group ">
                          <input required type="text" class="hosted-field " #city="ngModel" [(ngModel)]="billingAddress.city" name="city" placeholder="City">
                        </div>
                        <div class="col-sm-6 form-group ">
                          <select required name="state" [disabled]="disableStates" [(ngModel)]="state" class="hosted-field "> 
      <option [value]="selectState" disabled selected>-- Select State --</option>
    <option *ngFor=" let obj of states" [value]="obj.name"  >{{obj.name}}</option>
</select>

                        </div>


                      </div>
                      <div class="form-group row">

                        <div class="col-sm-6 form-group">
                          <input required type="text" maxlength="5" pattern="\d{5}" id="postal-code" class="hosted-field " #zipcode="ngModel" [(ngModel)]="billingAddress.zipcode"
                            name="zipcode" placeholder="Zipcode">
                            <div [hidden]="zipcode.valid || zipcode.pristine" class="alert alert-danger ">Enter valid zipcode</div>

                        </div>



                      </div> 

                      <button value="submit" type="submit"  id="submit-button" class="btn btn-primary btn-sm  center-block btn-rounded-border cursor  mr-3">Pay ${{order.amount}} </button>
                      <button (click)="goToMyWallet()" class="btn btn-primary btn-sm  center-block btn-rounded-border cursor  mr-3">Cancel </button>
                    </form>
                  </div>
                  <div [hidden]="paymentType!=='paypal'" class="">
                    <form>

                      <div class="form-group row">
                        <div id="paypal-button" style="margin:auto;"></div>
                      </div>
                    </form>
                  </div>
                   
                </div>
              </div> -->



              <button value="submit" *ngIf="showPay" [disabled]="disableSubmit" id="submit-button" class="btn btn-primary btn-sm  center-block btn-rounded-border cursor  mr-3">Pay
                ${{order.amount}} </button>
              <button *ngIf="showPay" [routerLink]="['/my-wallet']" [routerLinkActive]="['is-active']" [queryParams]="{userId:userId}"
                class="btn btn-primary btn-sm  center-block btn-rounded-border cursor">Cancel </button>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-sm-12 col-xs-12 confirmation-checkout " *ngIf="!showCards">
          <div class="row container  justify-content-center">
            <div class="payment-status">{{paymentMessage}} </div>
            <br />
            <div class="row payment-detail" *ngIf="showOrderDetail">

              <div class="col-6 order-summary">
                <div class="col-12 payment-title no-padding mb-1">
                  Order Summary
                </div>
                <div class="row">
                  <div class="col-6 confirmation-checkout-col">
                    <img src="{{order.item.brand.imageUrls[5].imageURL}}" class="img-icon" alt="...">
                  </div>
                  <div class="col-6 confirmation-checkout-col">
                    <div>
                      {{order.item.brand.brandName}}
                    </div>
                    <div>
                      ${{order.amount}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 payment-summary order-summary">
                <div class="pb-2 order-total" style="border-bottom: 1px solid rgba(128, 128, 128, 0.31);">
                  Order Total <span class="float-right"> ${{order.amount}} </span>
                </div>
                <div class="pt-2 pb-2" style="border-bottom: 1px solid rgba(128, 128, 128, 0.31);">
                  Payment Total <span class="float-right"> ${{order.amount}}</span>
                </div>
                <div class="pt-2  pb-2" style="border-bottom: 1px solid rgba(128, 128, 128, 0.31);">
                  Payment Status <span class="float-right"> {{paymentStatus}}</span>
                </div>

                <div class="pt-2  pb-2" style="border-bottom: 1px solid rgba(128, 128, 128, 0.31);">
                  Order Status <span class="float-right">
                    {{orderStatus=='Completed'?'Successful':orderStatus=='Delivered_failed'?'Delivered failed':orderStatus}}</span>
                </div>

              </div>
            </div>
            <div class="col-sm-12 mt-5">
              <div class="row">
                <div class="col-6 goto-button">
                  <a class="nav-link" style="background-color:#20a8d8;color:white;" [routerLink]="['/my-wallet']"
                    [routerLinkActive]="['is-active']" [queryParams]="{userId:userId}">My Wallet</a>

                </div>

                <div class="col-6 goto-button">
                  <a class="nav-link" style="background-color:#20a8d8;color:white;" routerLink="/buy-gift-card"
                    [routerLinkActive]="['is-active']">Buy More Cards</a>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div id="delete-cat-confirm-model" class="modal-content model-rounded-border responsive-device">
      <div class="modal-header no-border no-margin  ">
        <h5 class="modal-title delete-warning-msg">Please Fill Up All The Fields Properly</h5>
      </div>
      <div class="modal-footer  no-border">
        <button type="button" class="btn btn-secondary instant btn-rounded-border" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger instant btn-rounded-border">Ok </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="globalPayErrorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div id="delete-cat-confirm-model" class="modal-content model-rounded-border responsive-device">
      <div class="modal-header no-border no-margin  ">
        <h5 class="modal-title delete-warning-msg">{{globalPayErrorMessage}}</h5>
      </div>
      <div class="modal-footer  no-border">
        <button type="button" class="btn btn-secondary instant btn-rounded-border" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger instant btn-rounded-border">Ok </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showPaymentStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div id="delete-cat-confirm-model" class="modal-content model-rounded-border responsive-device">
        <div class="modal-header no-border no-margin  ">
          <h5 class="modal-title delete-warning-msg">{{paymentStatusErrorMessage}}</h5>
        </div>
        <div class="modal-footer  no-border">
          <button type="button" class="btn btn-secondary instant btn-rounded-border" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" class="btn btn-danger instant btn-rounded-border">Ok </button>
        </div>
      </div>
    </div>
  </div>

<block-ui [message]="'Loading...'">

</block-ui>

<script>
  function submitToHpp() {
    var targetiFrame = document.getElementById("hiddeniFrame").contentWindow;
    var cardDataForm = document.getElementById("cardDataForm")
    var cardData = {
      action: "populate-form-fields",
      payload: {
        pas_ccnum: cardDataForm.elements["cardNumber"].value,
        pas_ccmonth: cardDataForm.elements["expiryDate"].value.substring(0, 2),
        pas_ccyear: cardDataForm.elements["expiryDate"].value.substring(2, 4),
        pas_cccvc: cardDataForm.elements["cvn"].value,
        pas_ccname: cardDataForm.elements["cardholderName"].value
      }
    }

    cardData = JSON.stringify(cardData);
    targetiFrame.postMessage(cardData, "https://pay.sandbox.realexpayments.com/pay")
    return true;
  }
</script>