hr {
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(7, 34, 15, .1);
  background-color: #53bbe2;
}

.copy{
  color:#53bbe2;
  cursor: pointer;
}

.footer-link{
  color:#53bbe2;
  margin-left: 49%;
}

.register-page {
    color: #333;
    margin: 2px 0px 0px;
}

@media screen and (max-width: 320px) {
  .copy{
    margin-right: 0%;
  }
  .footer-link{
    margin-left: 0% !important;
  }
  }

  @media screen and (max-width: 375px) {
    .copy{
      margin-right: 0%;
    }
    .footer-link{
      margin-left: 0% !important;
    }
    }

    @media screen and (max-width: 425px) {
      .copy{
        margin-right: 0%;
      }
      .footer-link{
        margin-left: 0% !important;
      }
      } 
      
      @media screen and (max-width: 768px) {
        .copy{
          margin-right: 0%;
        }
        .footer-link{
          margin-left: 0% !important;
        }
        }     
        .card{
          border-top: 5px solid #63c2de;
        }
