user-order {

    .order-thumbnail{
       padding-top: 0%;
    }
   
    .order-image {
        border-radius: 60px;
    }
    .order-title {
        margin-right: 29%;
        margin-top: 7%;
    }
    .order-card-heading {
        color: #808080;
        font-size: 22px;
    }
    .order-shadow {
        box-shadow: 3px 2px 13px #888888;
    }
    .list-item-heading {
        margin-top: 13px;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 1px;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }
    .list-item-image {
        width: 52%;
        height: 80px;
        padding: 7%;
        border-radius: 50%;
    }
    .price-range {
        margin-top: -4px;
        color: #808080;
    }
    .order-prise-style {
        float: right;
        margin-right: 10%;
        margin-top: 18%;
    }
    .order-box {
        box-shadow: 0px 2px 13px #888888;
        background: #ffffff;
    }
    #orders {
        background: #c1a8a8;
    }
    .order-item-border {
        color: #ffffff;
        margin-top: 2px;
    }
    ion-item {
        padding: 0px;
    }
    .alert-title{
        font-size: 17px !important;
    }
    .item-md ion-thumbnail ion-img,
    .item-md ion-thumbnail img {
        width: 100%;
        height: 100%;
    }
    .order-status {
        margin-top: 10%;
        color: #333333;
        font-weight: bold;
        font-size: 70%;
    } // no order css
    body {
        background: #33cc99;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        max-height: 700px;
        overflow: hidden;
    }
    .c {
        text-align: center;
        display: block;
        position: relative;
        width: 80%;
        margin: 100px auto;
    }
    ._404 {
        position: relative;
        display: inline-block;
        z-index: 2;
        height: 250px;
        color: black;
        text-align: center;
        font-size: 160%;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }
    ._1 {
        text-align: center;
        display: block;
        position: relative;
        letter-spacing: 12px;
        font-size: 4em;
        line-height: 80%;
    }
    ._2 {
        text-align: center;
        display: block;
        position: relative;
        font-size: 20px;
    }
    .text {
        font-size: 70px;
        text-align: center;
        position: relative;
        display: inline-block;
        margin: 19px 0px 0px 0px;
        /* top: 256.301px; */
        z-index: 3;
        width: 100%;
        line-height: 1.2em;
        display: inline-block;
    }
    .btn {
        background-color: rgb( 255, 255, 255);
        position: relative;
        display: inline-block;
        width: 358px;
        padding: 5px;
        z-index: 5;
        font-size: 25px;
        margin: 0 auto;
        color: #33cc99;
        text-decoration: none;
        margin-right: 10px
    }
    .right {
        float: right;
        width: 60%;
    }
    hr {
        padding: 0;
        border: none;
        border-top: 5px solid #fff;
        color: #fff;
        text-align: center;
        margin: 0px auto;
        width: 420px;
        height: 10px;
        z-index: -10;
    }
    hr:after {
        content: "\2022";
        display: inline-block;
        position: relative;
        top: -0.75em;
        font-size: 2em;
        padding: 0 0.2em;
        background: #33cc99;
    }
    .cloud {
        width: 350px;
        height: 120px;
        background: #FFF;
        background: linear-gradient(top, #FFF 100%);
        background: -webkit-linear-gradient(top, #FFF 100%);
        background: -moz-linear-gradient(top, #FFF 100%);
        background: -ms-linear-gradient(top, #FFF 100%);
        background: -o-linear-gradient(top, #FFF 100%);
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        position: absolute;
        margin: 120px auto 20px;
        z-index: -1;
        transition: ease 1s;
    }
    .cloud:after,
    .cloud:before {
        content: '';
        position: absolute;
        background: #FFF;
        z-index: -1
    }
    .cloud:after {
        width: 100px;
        height: 100px;
        top: -50px;
        left: 50px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }
    .cloud:before {
        width: 180px;
        height: 180px;
        top: -90px;
        right: 50px;
        border-radius: 200px;
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
    }
    .x1 {
        top: -50px;
        left: 100px;
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.9;
        -webkit-animation: moveclouds 15s linear infinite;
        -moz-animation: moveclouds 15s linear infinite;
        -o-animation: moveclouds 15s linear infinite;
    }
    .x1_5 {
        top: -80px;
        left: 250px;
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        transform: scale(0.3);
        -webkit-animation: moveclouds 17s linear infinite;
        -moz-animation: moveclouds 17s linear infinite;
        -o-animation: moveclouds 17s linear infinite;
    }
    .x2 {
        left: 250px;
        top: 30px;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.6;
        -webkit-animation: moveclouds 25s linear infinite;
        -moz-animation: moveclouds 25s linear infinite;
        -o-animation: moveclouds 25s linear infinite;
    }
    .x3 {
        left: 250px;
        bottom: -70px;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.8;
        -webkit-animation: moveclouds 25s linear infinite;
        -moz-animation: moveclouds 25s linear infinite;
        -o-animation: moveclouds 25s linear infinite;
    }
    .x4 {
        left: 470px;
        botttom: 20px;
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        transform: scale(0.75);
        opacity: 0.75;
        -webkit-animation: moveclouds 18s linear infinite;
        -moz-animation: moveclouds 18s linear infinite;
        -o-animation: moveclouds 18s linear infinite;
    }
    .x5 {
        left: 200px;
        top: 300px;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.8;
        -webkit-animation: moveclouds 20s linear infinite;
        -moz-animation: moveclouds 20s linear infinite;
        -o-animation: moveclouds 20s linear infinite;
    }
    @-webkit-keyframes moveclouds {
        0% {
            margin-left: 1000px;
        }
        100% {
            margin-left: -1000px;
        }
    }
    @-moz-keyframes moveclouds {
        0% {
            margin-left: 1000px;
        }
        100% {
            margin-left: -1000px;
        }
    }
    @-o-keyframes moveclouds {
        0% {
            margin-left: 1000px;
        }
        100% {
            margin-left: -1000px;
        }
    }

    // responsive css 
 
    // ipad css 
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        /* STYLES GO HERE */
        .list-item-heading-ipad{
            margin-top: 29%;
        }
        .thumbnail-img-widht{
            width: 85% !important;
            height: 85% !important;
        }
    } // slider css

     // iphone 5 css
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
         .close-icon{
            float: right;
            margin-top: -41%;
         }
    } 

    // landscape css 
        @media screen and (orientation:landscape) {
        .landscape-thumbnail >img{
            width: 50%;
            height: 70%;
        }
    }
 
}