<ion-header>
    <div class="toolbar-home">
        <!--toolbar -->
        <ion-toolbar color="white">
            <button (click)='goToHome();' ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

            <ion-title class="new-background">My wallet</ion-title>
        </ion-toolbar>
        <!--end of toolbar-->
    </div>
</ion-header>

<ion-content id="orders">
    <ion-list>
        <div class="category-items" *ngFor="let order of orders">
            <ion-item-sliding #item>
                <ion-item *ngIf="order.tangoOrderStatus!='Cancelled'" >
                    <ion-row class="order-box">
                        <ion-col>
                            <ion-thumbnail class="landscape-thumbnail" item-start>
                                <img class="thumbnail-img-widht" src="{{order.item.brand.imageUrls[0].imageURL}}">
                            </ion-thumbnail>
                        </ion-col>
                        <ion-col (click)="goToCheckout(order)">
                            <h2  class="list-item-heading order-thumbnail ">{{order.item.brand.brandName}} </h2>
                            <p class="price-range" *ngIf="order.orderType == 'Friend'"> For {{order.friendName}} </p>
                             <p class="order-status" ><span *ngIf="order.tangoOrderStatus=='Completed'">(Successful)</span>
                                                      <span *ngIf="order.tangoOrderStatus=='Delivered_failed'">(Failed)</span>
                                                      <span *ngIf="order.tangoOrderStatus=='Inprogress'">(In progress)</span>
                                                      <span *ngIf="order.tangoOrderStatus!='Completed' && order.tangoOrderStatus!='Delivered_failed' && order.tangoOrderStatus!='Inprogress'">({{order.tangoOrderStatus}}) &nbsp;</span> Order Date: {{order.orderDate}} </p>
                             
                        </ion-col>
                        <ion-col class="close-icon">
                            <h2 *ngIf="order.tangoOrderStatus=='Inprogress' && order.paymentStatus!='Completed'" class="list-item-heading order-prise-style">
                                <ion-icon (click)="presentConfirm(order.id)" name="ios-close-outline"></ion-icon>
                            </h2>  

                        </ion-col>
                    </ion-row>
                </ion-item>

                <!-- <ion-item-options side="right">
                    <button color="secondary" (click)="goToCheckout(order)" ion-button="" class="disable-hover button button-ios button-default button-default-ios button-ios-secondary"
                        style="transition: none;"><span class="button-inner">
          <ion-icon name="menu" role="img" class="icon icon-ios ion-ios-menu" aria-label="menu"></ion-icon>
          Buy
        </span><div class="button-effect"></div>
    </button>
                    <button color="danger" ion-button="" class="disable-hover button button-ios button-default button-default-ios button-ios-danger"
                        style="transition: none;"><span class="button-inner">
          <ion-icon name="trash" role="img" class="icon icon-ios ion-ios-trash" aria-label="trash"></ion-icon>
          Delete
        </span><div class="button-effect"></div>
    </button>
   </ion-item-options> -->
            </ion-item-sliding>
        </div>
    </ion-list>

<!--no order found  -->
<div *ngIf="showCloud" >
 <div  id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>No orders found.</div>
        </div>
</div>
<!--endo of no order found  -->
</ion-content>


<ion-footer>

</ion-footer>