<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <button (click)='goToHome();' ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

      <ion-title class="new-background">Profile Settings</ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>


<ion-content id="user-profile">

 

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item  (click)="editProfile()"><span class="edit-profile-label">Edit Profile</span> <ion-icon  class="float-right arrow-edit-profile" name="md-arrow-dropright"></ion-icon></ion-item>
    <ion-item-divider></ion-item-divider>
    
    <ion-item  *ngIf="userType == 'USER'"  (click)="changePassword()"><span class="edit-profile-label">Change Password <ion-icon  class="float-right arrow-change-profile" name="md-arrow-dropright"></ion-icon></span></ion-item>
    <ion-item-divider> </ion-item-divider>
  </ion-item-group>

 
</ion-content>
<ion-footer>

</ion-footer>