
user-profile{

    
// custom
.heading-style{
    margin-top: 3%;
}

.item-description{
  //  box-shadow: 10px 10px 5px #888888;
}

.item-description-font{
    font-size: 20px;
    font-family: ubuntu;

}
// add to common 
.width-50{
   width:50%;
}

.float-right{
    float: right;
}

.margin-m-22{
margin-left: -22%;
}

 .prise-button{
  border-radius:30px;
 }

 .show-price{
   width:40%;
 }

 .buy-for-yourself{
     width: 74%;
 }

.price-add-remove{
    margin-left: 15%;
    width: 100%;
}

.cancel-continue{
        width: 76%;
    margin-top: 10%;
}


.custom-label{
  font-size: 139% !important;
  font-weight: bold;
  color: #3e74aa;
  margin-left: 4%;
}
// device-specifiqc-media



// slider css

.edit-profile-label{
    font-size: 113% !important;
    font-weight: bold;
    color: #3e74aa;
}
.arrow-edit-profile{
    color:#3e74aa;
    font-size: 22px;
    margin-right: 6%;
}
.arrow-change-profile{
     margin-right: 6%;
}

.item-md.item-block .item-inner{
border-bottom: none;
}
.item-divider-md{
    border-bottom: none !important;
}
}

