<section id="gifts" style="position: relative;">

    <section style="margin-top:30px;">
        <div class="container col-md-7 col-sm-12 col-xs-12">
            <p class="wallet-detail-page-card-item-title">{{cardName}}</p>
            <div class="row ">
                <div class="col-sm-12 ">
                    <div class="row">
                        <div class="col-md-4 col-xs-4 col-sm-6 mobile-view ">
                            <div class="wallet-detail">
                                <div> Gift Card</div>
                                <div>1</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6col-xs-4 mobile-view ">
                            <div class="wallet-detail">
                                <div>Total Value</div>
                                <div>${{cardValue}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="container wallet-detail-page-top-container col-md-7 col-sm-12 col-xs-12 mb-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <img src="{{cardImg}}" id="wal-page-small-img">
                <!--<span>
                       <i class="fa fa-gift fa-stack-1x walet-detail-page-gyft-icon" ></i></span>
                <span class="wallet-detail-page-icon-title">REGIFT</span>-->
            </div>
            <div class="col-md-4 wallet-details-page-item-value">
                <div class="wallet-details-page-item-value-inner"> ${{cardValue}}</div>
            </div>
        </div>

        <div class="walet-gyft-detail-title mt-2">
            Order Details
        </div>

        <div class=" row  col-md-12 col-sm-12 mt-2 ">
            <!--<div class="col-sm-3 col-lg-3">
                <p class="wallet-detail-page-order-number-lable">Order Number</p>
                <p class="wallet-detail-page-order-number">{{orderid}}</p>
            </div>-->
            <div class="col-sm-3 col-lg-3">
                <p class="wallet-detail-page-order-type-lable"> Order Date</p>
                <p class="wallet-detail-page-order-type">{{orderDate}}</p>
            </div>
            <div class="col-md-3">
                <p class="wallet-detail-page-order-type-lable">Order Type</p>
                <p class="wallet-detail-page-order-type">{{orderType}}</p>
            </div>
            <div class="col-md-3">
                <p class="wallet-detail-page-order-status-lable">Order Status</p>
                <p class="wallet-detail-page-order-status">{{orderStatus=='Completed'?'Successful':orderStatus}}</p>
            </div>
            <div class="col-md-3">
                <p class="wallet-detail-page-order-status-lable">Payment Status</p>
                <p class="wallet-detail-page-order-status">{{payStatus=='Completed'?'Successful':payStatus}}</p>
            </div>
            <div *ngIf="order.claimCode" class="col-md-12">
                <p class="wallet-detail-page-order-number-lable">Key Details</p>
                <p class="wallet-detail-page-order-number" [innerHTML]="order.claimCode"></p>
   

                <!--<p *ngIf="codeName=='Redemption URL'" style="margin-top: -18px;"><a href="{{redemptionUrl}}" target="_blank">{{claimCode}}</a></p>-->
            </div>

            <!--<div *ngIf="codeNumber" class="col-md-3">
                <p class="wallet-detail-page-order-number-lable">{{code}}</p>
                <p class="wallet-detail-page-order-number">{{codeNumber}}</p>
            </div>-->



        </div>

        <div *ngIf="friendStatus" class="walet-gyft-detail-title">
            Friend Details
        </div>
        <div *ngIf="friendStatus " class=" row col-md-12 col-sm-12 mt-2  ">

            <div class="col-md-3">
                <p class="wallet-detail-page-friend-name-lable">Friend Name</p>
                <p class="wallet-detail-page-friend-name">{{friendName}}</p>
            </div>
            <div class="col-md-6">
                <p class="wallet-detail-page-friend-email-lable">Friend Email</p>
                <p class="wallet-detail-page-friend-email">{{friendEmail}}</p>
            </div>
            <div *ngIf="scheduleDateStatus" class="col-md-3">
                <p class="wallet-detail-page-friend-schedule-lable">Scheduled Date</p>
                <p class="wallet-detail-page-friend-schedule">{{scheduleDate}}</p>




            </div>
        </div>

        <div class="row wallet-detail-page-main-content">
            <div class="mb-2 wallet-detail-page-order-status-lable">Card Description</div>
            <div id="desrcpton"></div>

        </div>

            <div *ngIf="order.item" id="accordion" class="container no-padding mt-2" style="margin-bottom: 50px;" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header cursor term-header"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="openPanel=!openPanel"  role="tab" id="headingOne">
                    <div class="mb-0 r">
                     
          Terms and Conditions
       <i class="fa fa-plus  float-right mt-1" [hidden]="openPanel" aria-hidden="true"></i>
       <i class="fa fa-minus float-right mt-1" [hidden]="!openPanel" aria-hidden="true"></i>
                    </div>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div  *ngIf="order.item.brand" class="card-block ">
                        <div  [innerHTML]="order.item.brand.terms"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>