<section id="gifts" style="position: relative;">


	<section style="margin-top:30px;">
		<div class="container wallet-outer">
			<h2 class="">My purvice Wallet</h2>
			<div class="row ">
				<div class="col-md-6 col-sm-12 col-md-pull-6">
					<div class="row">
						<div id="my-wallet-total-card-panel" class="col-md-4 col-sm-4 col-xs-4 mobile-view ">
							<div class="wallet-detail">
								<div> Gift Card</div>
								<div>{{ totalGiftCards }}</div>
							</div>
						</div>
						<div id="my-wallet-total-amount-panel" class="col-md-4 col-sm-4 col-xs-4 mobile-view ">
							<div class="wallet-detail">
								<div>Total Value</div>
								<div>${{ totalAmmount }}</div>
							</div>
						</div>

					</div>
				</div>
				<div id="my-wallet-search-bar" class="col-md-6  col-sm-12 col-md-push-6 ">

					<div class="row">
						<div class="col-md-6  col-sm-12">
							<div class="input-group">
								<input type="text" name="searchWallet" [(ngModel)]="search" (ngModelChange)="searchItem($event,search)" class="form-control"
									placeholder="Search">
									<span class="input-group-addon fa fa-search" id="basic-addon2"></span>
									
							</div>
							<div  *ngIf="showResultMessage"class="pl-3">Sorry, no result found for <b>"{{search}}"</b></div>

						</div>
					</div>

				</div>

			</div>





			<div class="row" style="margin-top:30px;margin-bottom:5%;">
				<div class="col-sm-4 col-lg-3 col-6 spac-btw">
					<div class="card card-inverse walet-item walet-cards">
						<span class='close-div' style="color:white;">x</span>

						<div class="card-block wallet-contents">
							<div class="walet-card-img-conainer"><span class="fa-stack fa-2x">
	                            <i class="fa fa-circle fa-stack-2x icon-background1"></i>
	                          <i class="fa fa-shopping-cart fa-stack-1x"></i>
							
	                              </span> </div>

							<p> Buy gift cards from hundreds of brands and earn points! </p>
							<button type="button" (click)="goToCardList();" id="wallet-btn-orange" class="btn btn-primary cursor">Shop Now</button>
						</div>

					</div>
				</div>
				<div class="col-sm-4 col-lg-3 col-6 spac-btw">
					<div class="card card-inverse walet-item walet-cards ">
						<span class='close-div' style="color:white;">x</span>

						<div class="card-block wallet-contents">
							<div class="walet-card-img-conainer"><span class="fa-stack fa-2x">
	                            <i class="fa fa-circle fa-stack-2x icon-background2"></i>
	                            	<i class="fa fa-gift fa-stack-1x"></i>
	                              </span> </div>

							<p>Send gift card to anyone for the perfect gift! </p>
							<button type="button" (click)="goToCardList();" id="wallet-btn-blue" class="btn btn-primary cursor">Send a gift</button>
						</div>

					</div>
				</div>
				<div class="col-sm-4 col-lg-3 col-6 spac-btw">
					<div class="card card-inverse walet-item walet-cards">
						<span class='close-div' style="color:white;">x</span>

						<div class="card-block wallet-contents">
							<div class="walet-card-img-conainer"><span class="fa-stack fa-2x">
	                            <i class="fa fa-circle fa-stack-2x icon-background3"></i>
	                            <i class="fa fa-phone fa-stack-1x"></i>
	                              </span> </div>

							<p>Download the purvice app! <br/> [<b>Coming Soon!</b>] </p>
							<button type="button" id="wallet-btn-aqua" class="btn btn-primary cursor">Download</button>
						</div>

					</div>
				</div>
				<div *ngIf="showLoader">
					<h5 class="text-center">
						<i class="fa  fa-spinner fa-2x "></i></h5>
				</div>
				<div *ngFor="let order of orders.result;let i = index " class="col-sm-4 col-lg-3 col-6 spac-btw">

					<!-- <a id="order.id" *ngIf="order.paymentStatus == 'pending' && order.orderType =='friend'"  (click)="goToFriend(order.utid);" >
				-->
					<div class="card card-inverse walet-item " >
						
						<div class="card-block wallet-contents wallet-card">
							<span *ngIf="order.paymentStatus=='Pending' || order.paymentStatus=='Failed' " (click)="deleteOrder(order.id)" class='close-card instant'>x</span>
							<!--Order for self -->

							<div *ngIf="order.paymentStatus=='Completed'|| order.paymentStatus=='Failed'" class=" orderImage">

								<a [routerLink]="['/my-wallet/wallet-detail']" [routerLinkActive]="['is-active']" [queryParams]="{userId:id,orderId:order.id}">
									<img src="{{ order.item.brand.imageUrls[5].imageURL}} ">
								</a>
							</div>
							<div *ngIf="order.paymentStatus=='Pending' &&  order.orderType =='Self'" class="orderImage">

								<a (click)="goToCheckout(order)">
									<img src="{{ order.item.brand.imageUrls[5].imageURL}} " onError="this.src='assets/img/gift1.jpg';">
								</a>
							</div>

							
							<div *ngIf=" order.paymentStatus=='Pending' &&  order.orderType =='Friend'" class="">
								
									<a (click)="goToFriend(order)">
									<img src="{{ order.item.brand.imageUrls[5].imageURL}} "  onError="this.src='assets/img/gift1.jpg';">
								</a>
							</div>



							<div class="wallet-item-name">{{ order.item.brand.brandName }} <span class=" float-right">${{ order.amount }}</span></div>
							
							<div>
								<div class="wallet-order-status"> Order Status: {{order.tangoOrderStatus=='Completed'?'Successful':order.tangoOrderStatus=='Delivered_failed'?'Delivered failed':order.tangoOrderStatus=='Inprogress'?'In progress':order.tangoOrderStatus}}
									
								</div>
								<!--<div class="wallet-order-status"> Order Status: {{ order.tangoOrderStatus }}									
								</div>-->
								

							 
								<div *ngIf="order.orderType =='Friend'" id="" class="wallet-page-order-identifire">
									For {{ order.friendName }}
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</section>
</section>