<div class="app align-items-center">
    <div class="login">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-5 col-sm-12 col-xs-12 login-section">
                    <div class="mb-0">
                        <div class="card p-4">
                            <div class="card-block ">
                                <h1 class="login-title" (click)="gotoHome();"><img class="logo_image logo_icon"   src="assets/img/purvice_logo_blue.jpg"  ></h1>
                                
                                <form #loginForm="ngForm">

                                    <h2 class="section-title">Welcome back!</h2>
                                    <div class="input-group ">
                                        <input autofocus tabindex="1" type="email" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel" class="form-control input-field"
                                            placeholder="Email Address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                            required>
                                    </div>
                                    <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                                        Enter valid email address
                                    </div>
                                    <div class="input-group">
                                        <input  tabindex="1" type="password" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel" class="form-control input-field "
                                            placeholder="Password">
                                    </div>
                                    <div [hidden]="password.valid || password.pristine" class="alert alert-danger ">
                                        Password is required
                                    </div>
                                    <div class="row ">
                                        <div class=" col-12">
                                            <button type="button " (click)="doLogin(model)" [disabled]="!loginForm.valid || showLoader" class="btn btn-primary px-4 mt-4 login-button "> <i *ngIf="showLoader" class="fa fa-spinner fa-spin  float-right"></i>Log In With Email</button>
                                        </div>
                                        <div class="col-12 login-button">
                                            <a (click)="goToPasswordPage()" class=" px-0 link-hove  login-button">Forgot Password?</a>
                                        </div>
                                    </div>

                                    <div class="or-wrapper">
                                        <div class="sep"></div>
                                        <p>or connect with</p>
                                    </div>
                                    <div class="row ">
                                        <div class=" col-6"  (click)="signIn('facebook')">
                                            <span >
                                                <i  *ngIf="showFacebookLoader"class="fa fa-spinner fa-spin facebook_loader"></i>
                                                 <img src="assets/img/social_login.png" alt="">
                                             
                                            </span>
                                        </div>
                                        <div class=" col-6" (click)="signIn('google')">
                                            <span > 
                                                <i *ngIf="showGoogleLoader" class="fa fa-spinner fa-spin facebook_loader"></i>
                                                <img src="assets/img/google.png" alt=""></span>
                                        </div>
                                    </div>

                                    <div id="my-signin2"></div>
                                    <p class="noAccount">Don't have an account? <a (click)="gotoSignup();">Sign up now.</a></p>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>               
            </div>

        </div>

    </div>

    <div id="login-footer">

        <div class="content-width">
            <div class="section-divider">
                <div class="divider-div"></div>
            </div>
            <p class="copy">Copyright © 2018 purvice,Inc. All Rights Reserved.</p>
            <p class="footer-link"><a [routerLink]="['../home/about-us']" class="mr-1 link-hove ">About Us</a>
                <a [routerLinkActive]="['active-link']" [routerLink]="['../home/faq']" class="mr-1 link-hove ">FAQ</a>
                <a [routerLink]="['../home/privacy']" class="mr-1 link-hove">Privacy</a>
                <a class="mr-1 link-hove" [routerLink]="['../home/terms-of-service']">Terms</a>
                <a class="mr-1 link-hove" [routerLink]="['../home/copyright']">Copyright</a>
            </p>
        </div>


    </div>
    <toaster-container></toaster-container>