// fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
.baloo-bhaina {
    font-family: 'Baloo Bhaina', 'cursive';
    font-size: 54px;
}

.toolbar-title {
    color: white;
}

.toolbar-background {
    background: #3e74aa;
}

// .slider-main{
//     background: #38cef5;
// }
.gift-text {
    font-size: 165%;
    text-align: left !important; //border-bottom: solid 1px;
    color: #463e3e !important;
    margin-left: -54%;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-top: 4%;
}

#grad { 
    //background-image: url("../assets/images/backgrounds/background_blue2.jpg");
    // background: #decece;
}

.gifting-options {
    margin-top: 20%;
}

hr.style2 {
    border-top: 3px double #ffffff;
}

.gifting-options-border {
    width: 80%;
    margin-left: 10%;
    font-size: 165%;
    text-align: center;
    border-bottom: solid 3px;
    color: #ad6e6e;
    margin-top: 3%;
}

.gyft-menu {
    background: #1a2226; // background: white;
}

.menu-color {
    color: white;
}

// .toolbar-background{
//     background-color: #434456;
// }
// #434456
.logo-font-purvice {
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px; //text-shadow: 4px 3px 4px #aaa;
    color: #ffffff;
}

.align-center {
    text-align: center;
}

.color-white {
    color: white;
}

.color-gray {
    color: #1a2226;
}

.nav-menu-item-border {
    border-bottom: solid 1px;
    color: white;
}

page-loader {
    .gyft-image {
        width: 55px;
       // margin-left: 11px;
    }
    .slider-size {
        // width: 404px;
        height: 230px;
    }
    .slider-main {
        margin-top: 58px;
    }
    .list-margin {
        margin-left: 13%;
    }
    .item-md.item-block .item-inner {
        border-bottom: none;
    }
    .list-md>.item-block:first-child,
    .list-md>.item-wrapper:first-child .item-block {
        border-top: none;
    }
    .list-md>.item-block:last-child,
    .list-md>.item-wrapper:last-child .item-block {
        border-bottom: none;
    }
    .list-ios>.item-block:first-child {
        border-color: #ffffff;
    }
    .list-ios>.item-block:last-child {
        border-bottom: #ffffff;
    }
    .item-ios.item-block .item-inner {
        border-bottom: #ffffff;
    }
   
}

// common css
// @media only screen and (device-width: 768px) {
//   /* For general iPad layouts */
// }
// @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
//   /* For portrait layouts only */
// }
// @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
//   /* For landscape layouts only */
// }
// responsive css 
page-loader {
            .loader-text {
            font-size: 135%;
            color: #463e3e !important;
            font-family: 'Raleway', sans-serif;
            font-weight: bolder;
            margin-top: 7%;
            vertical-align: super;
        }
    @media only screen and (device-width: 768px) {
        /* For general iPad layouts */
        .slider-size {
            width: 100%;
            height: 100%;
        }
        .gift-text {
            font-size: 135%;
            text-align: left !important; //border-bottom: solid 1px;
            color: #463e3e !important;
            margin-left: -40%;
            font-family: 'Raleway', sans-serif;
            font-weight: bolder;
            margin-top: 18px;
        }
        .loader-text{
            margin-top: 5%;
        }
        .gyft-image {
            margin-left: 27%;
        }

    }
    @media only screen and (device-width: 1024px) {
        /* For general iPad layouts */
        .slider-size {
            width: 100%;
            height: 100%;
        }
        .gift-text {
            font-size: 165%;
            text-align: left !important; //border-bottom: solid 1px;
            color: #463e3e !important;
            margin-left: -79%;
            font-family: 'Raleway', sans-serif;
            font-weight: bolder;
            margin-top: 18px;
        }
    } // iphone 5 css
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
        .list-margin {
            margin-left: 7%;
        }
        .gyft-image {
            margin-left: -5px;
        }
    } // iphone 6+ 
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        .gyft-image {
            margin-left: 16px;
        }
        .list-margin {
            margin-left: 12%;
        }
    }
    // iphone 6
        @media only screen and (min-device-width: 375) and (max-device-width: 667px) {
        .gyft-image {
            margin-left: 2%;
        }
    }
    // ipad pro
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
        /* STYLES GO HERE */
        .gift-text{
            margin-left: -36%;
        }
        .gyft-image{
            margin-left: 34%;
        }

        .loader-text{
            margin-top: 3% !important;
        }
        
    } // slider css
.purvice-icon{
font-size: 3.2em;
    color: #de3738;
}
.gift-friend{
    margin-top:30px;
   .label-ios{
     margin: 11px 8px 11px -38px;
   }
   .label-md{
       margin: 11px 8px 11px -38px;
   }
}

.text-center{
    text-align: center;
}

.purvice-logo{
    vertical-align: middle;
    max-width: 110px;
    margin-right: 50px;

}

.toolbar-title{
    text-align: center;
}


.purvice-sidebar-logo{
    vertical-align: middle;
    max-width: 150px;
    margin-top: -20px;
}

.gift-font{
        font-size: 114%;
}
}



// common css
//  ion-toolbar{
//         margin-top: 6%;
//     }
// .ios-position{
//     position: initial;
// }

ion-slides{
    height: 34%;
}

@media screen and (orientation:landscape) {
   page-loader .slider-size {
    width: 100%;
}
ion-slides{
    height: 200px;
}
}
// .swiper-container {
//     height: 200%;
// }