<ion-header>
    <div class="toolbar-home">
        <!--toolbar -->
        <ion-toolbar color="white">
            <button ion-button icon-only menuToggle class="menu-color">
          <ion-icon name="menu"></ion-icon>
        </button>

            <ion-title (click)="openMenu()" class="new-background baloo-bhaina"> <img class="purvice-logo" src="assets/images/logos/purvice_logo_pure_white.png"></ion-title>
        </ion-toolbar>
        <!--end of toolbar-->
    </div>
</ion-header>

<div *ngIf="navigation=='common'">
    <common-navigation></common-navigation>
</div>
<div *ngIf="navigation=='user'">
    <user-navigation></user-navigation>
</div>



<ion-content id="grad">
 
 

        <ion-slides pager="true" autoplay="3000" loop="true" speed="1200">
            <ion-slide>
                <img (click)="goToListingPage(true)" class="slider-size" src="assets/images/slides/benefit12.jpg" alt="">
            </ion-slide>
            <ion-slide>
                <img (click)="goToListingPage(true)" class="slider-size" src="assets/images/slides/slide1.jpg" alt="">
            </ion-slide>
            <ion-slide>
                <img (click)="goToListingPage(true)" class="slider-size" src="assets/images/slides/slide2.jpg" alt="">
            </ion-slide>
        </ion-slides>



    <ion-item-group class="ios-position">

        <ion-item class="gift-friend text-center">
            <ion-icon class="purvice-icon" name="card"></ion-icon>
            <ion-col (click)="goToListingPage(true)" class="loader-text">
              <span class="gift-font">      Gift a Friend  </span>
            </ion-col>
        </ion-item>

        <ion-item class="text-center">

            <ion-icon  class="purvice-icon" name="md-cart"></ion-icon>
            <ion-col (click)="goToListingPage(false)" class="loader-text">
              
                <span class="gift-font">  Buy for Yourself </span>
            </ion-col>

        </ion-item>

    </ion-item-group>
 
</ion-content>

<ion-footer>

</ion-footer>