<header class="app-header app-admin navbar">

  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>

  <a class="navbar-brand link-hover" ></a>
  <ul class="nav navbar-nav d-md-down-none" >
    <li *ngIf="displaysideBar" class="nav-item">
      <a class="nav-link navbar-toggler"  appSidebarToggler>&#9776;</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img src="assets/img/avatars/default-user.png" class="img-avatar" alt="">
        <span class="text-white">{{ admin.firstName }}  

          {{ admin.lastName }}
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item link-hover" [routerLink]="['/admin/admin-profile']" [queryParams]="{userId:adminId}">
         <i class="fa fa-user" aria-hidden="true"></i>My Profile</a>
           <a class="dropdown-item link-hover" (click)="showDetails()">
         <i class="fa fa-user"  aria-hidden="true"></i>Video Setting</a>
        <a class="dropdown-item link-hover" (click)="doLogout()"><i class="fa fa-lock"></i> Logout</a>

      </div>
    </li>    
  </ul>
</header>

<block-ui [message]="'Loading...'">

</block-ui>
<div class="app-body" style="overflow-y: hidden;">
   
  <div class="sidebar admin-sidebar" id="admin-side-menu-panel">
    <nav class="sidebar-nav">
      <ul class="nav" id="admin-nav-ele" >
        <!--<li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']"><i class="icon-speedometer"></i> My Home</a>
        </li>  
            -->
        <li class="nav-item">
          <a class="nav-link"  id="user" [routerLinkActive]="['active']"   [routerLink]="['./users']" > <i class="fa fa-user" style="color:#777;"  aria-hidden="true"></i>Manage User</a>
        </li>
        <!--<i class="icon-speedometer"></i> -->
        <li class="nav-item">
          <a class="nav-link" id="category" [routerLinkActive]="['active']"  [routerLink]="['./categories']" ><i class="fa fa-th-list" style="color:#777;" aria-hidden="true"></i>Manage Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="padding: 0.75rem 0rem;" id="deal-category" [routerLinkActive]="['active']"  [routerLink]="['./deal-categories']" ><i class="fa fa-handshake-o" style="color:#777;  padding-left: unset!important;" aria-hidden="true"></i>Manage Deals Category</a>
        </li>
      </ul>
    </nav>
  </div> 
  
  <main class="main">
    <div class="container-fluid admin-settings">
      <router-outlet (activate)="changeOfRoutes()"></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>

</div>



<div   class="modal fade" id="VideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header" id="cat-assign-model-header">
        <strong> Video Setting</strong>
        <button type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body order-detail-modal-body">
         <p >Change Video Setting</p>
      <div class="row" >
         
                <div class="col-sm-3 col-30 text-center" style="color:gray;font-size:15px;padding-top: 3px;">
                 Inactive                </div>
                <div class="col-sm-3  col-30 text-center">
                     <label class="switch">
                     <input id="videoStatus" type="checkbox"  [checked]="videoStatus"  [(ngModel)]="videoStatus" (change)="addprop1($event)">
                     <span class="slider round"></span>
                     </label>
                </div>
                <div class="col-sm-3  col-30 text-center" style="color:gray;font-size:15px;padding-top: 3px;   ">
                  Active
                </div>
      </div>
        
  

            
        </div>
    </div>
  </div>
</div>
 