<block-ui [message]="'Loading...'">

</block-ui>

<popover-content #dealAlertsPopover 
title="Deal Alerts" 
placement="bottom"
[animation]="true" 
[closeOnClickOutside]="true"
[closeOnMouseOutside]="false">
   <p style="font-size: 12px;"> Never miss out on a great deal again. Set up deal alerts for your favorite stores, categories, or products and we'll instantly alert you 
    when a new deal is posted. Here are a few of our most popular alerts. Give one a try.</p><br/>
    <div class="container mb-4">
        <div class="row">
          <div class="col-sm-5 row pl-5 pr-5 text-center">
            <p style="font-size: 12px;"> Create or manage deal alerts from the Deal Alert Management page </p>
            <button class="btn btn-block buy-align instant create-manage-deal-alerts-button" (click)="createDeals(dealAlertsPopover)">Create & Manage Deal Alerts</button>
          </div>
          <div class="divider-v"></div>
          <div class="col-sm-7 add-deal-padding">
              <div class="container add-deal-padding">
                  <div class="row">
                      <div class="col-sm-4 row">
                          <div class="col-sm-4 mr-2">
                            <i class="fa fa-2x fa-plane" aria-hidden="true"></i>
                          </div>
                          <div class="col-sm-8 row add-deal-padding" style="padding-left: 0px;">
                            <div class="col-sm-12">Travel</div>
                            <div class="col-sm-12 add-deal-padding"><a class="add-deal-font" href="https://travel.purvice.com">Add Deal Alert</a></div>   
                          </div>
                      </div>
                      <div class="col-sm-4 row">
                          <div class="col-sm-4 mr-2">
                              <i class="fa fa-2x fa-home" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-8 row add-deal-padding " style="padding-left: 0px;">
                                <div class="col-sm-12">Home</div>
                                <div class="col-sm-12 add-deal-padding"><a class="add-deal-font" href="https://travel.purvice.com">Add Deal Alert</a></div>     
                            </div>
                      </div>
                      <div class="col-sm-4 row">
                          <div class="col-sm-4 mr-2">
                              <i class="fa fa-2x fa-apple" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-8 row add-deal-padding" style="padding-left: 0px;">
                                <div class="col-sm-12">Apple</div>
                                <div class="col-sm-12 add-deal-padding"><a class="add-deal-font" href="https://travel.purvice.com">Add Deal Alert</a></div>    
                            </div>
                      </div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm-4 row">
                          <div class="col-sm-4 mr-2">
                              <i class="fa fa-2x fa-amazon" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-8 row add-deal-padding" style="padding-left: 0px;">
                                <div class="col-sm-12">Amazon</div>
                                <div class="col-sm-12 add-deal-padding"><a class="add-deal-font" href="https://travel.purvice.com">Add Deal Alert</a></div>    
                            </div>
                      </div>
                      <div class="col-sm-4 row">
                          <div class="col-sm-4 mr-2">
                              <i class="fa fa-2x fa-child" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-8 row add-deal-padding" style="padding-left: 0px;">
                                <div class="col-sm-12 add-deal-padding">Clothing</div>
                                <div class="col-sm-12 add-deal-padding"><a class="add-deal-font" href="https://travel.purvice.com">Add Deal Alert</a></div>    
                            </div>
                      </div>
                      <div class="col-sm-4 row">
                          <div class="col-sm-4 mr-2">
                              <i class="fa fa-2x fa-check" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-8 row add-deal-padding" style="padding-left: 0px;">
                                <div class="col-sm-12">Nike</div>
                                <div class="col-sm-12 add-deal-padding"><a class="add-deal-font" href="https://travel.purvice.com">Add Deal Alert</a></div>    
                            </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</popover-content>

<header class="app-header navbar">
  <div class="container-fluid">
    <a id="logo-link" (click)="gotoHome();"><img class="logo_image"   src="assets/img/logo_purvice.png"  ></a>
    <!--<img class="logo_image"   src="assets/img/purvice_logo_pure_white.png"  >-->


    <ul class="nav navbar-nav d-md-down-none mr-auto">

      <!-- <li class="nav-item px-3">

        <a class="nav-link" [routerLink]="['/buy-gift-card']" [routerLinkActive]="['is-active']">Buy Gift Cards</a>

      </li> -->
      <li class="nav-item px-3">
         <a class="nav-link" (click)="nevigateToDeals()">Hot Deals</a> 
      </li>

      <li class="nav-item px-3 " 
         [popover]="dealAlertsPopover" 
         [popoverOnHover]="false">
          <a class="nav-link"> Deal Alerts</a>
      </li>

      <li class="nav-item px-3">
        <a class="nav-link" href="https://travel.purvice.com">Travel</a>
      </li>

      <!-- <li *ngIf="user" class="nav-item px-3">
        <a class="nav-link" [routerLink]="['/my-wallet']" [routerLinkActive]="['is-active']" [queryParams]="{userId:user.id}">My Wallet</a>
      </li> -->
    </ul>
    
    <div class="search-bar">
      <input type="text" value="" placeholder="Search Deals" class="searchText" />
      <span class="search-icon"><i class="fa fa-search"></i></span>
    </div>

    <div class="mobile-search-icon" appMobileSearchbarToggler [ngClass]="user ? 'search-log' : ''"><i class="fa fa-search"></i></div>
    
    <a *ngIf="!user" routerLink="/register" class="float-right can-logout signup" title="Register"
      data-alt-label="Logout">
      <span class="circle"><i class="fa fa-user"></i></span> <strong>Sign Up Free</strong> </a>
      <a *ngIf="!user"  class="float-right can-logout" title="Login" data-alt-label="Logout"
        (click)="goToLogin();">
        <span class="circle login"><i class="fa fa-sign-in"></i></span> <strong>Login</strong> </a>

        <ul *ngIf="user" class="nav ml-auto ">
          <li class="nav-item dropdown hide-on-mobile-view hide-on-small-device" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
              <span *ngIf="user " class="user-title">Hi, {{user.firstName}} {{user.lastName}}</span>
              <!--<span *ngIf=" admin" class="user-title">Hi,&ensp;{{admin.firstName}} &ensp;{{admin.lastName}}</span>-->
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

              <a  class="dropdown-item link-hover" [routerLink]="['/my-profile']" [queryParams]="{userId:user.id}">
                <i class="fa fa-user" aria-hidden="true"></i>My Profile</a>

              <a *ngIf=" admin" class="dropdown-item link-hover" (click)="goToDashboard()"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
              <a  class="dropdown-item link-hover" [routerLink]="['/deal-alerts']" >
                <i class="fa fa-user" aria-hidden="true"></i>My Deal Alerts</a>
              <a class="dropdown-item link-hover" (click)="doLogout()"><i class="fa fa-lock"></i> Logout</a>

            </div>
          </li>
          <li class="nav-item dropdown show-on-mobile-view show-on-small-device   ">
            <!--<a *ngIf="admin" href class="nav-link">
              <span class="user-title">Hi,&ensp;{{admin.firstName}}</span>
            </a>-->
            <a *ngIf="user"  class="nav-link">
              <span class="user-title">Hi,&ensp;{{firstName}}</span>
            </a>
          </li>
        </ul>

        <button class="navbar-toggler-test d-lg-none float-right" type="button" appMobileSidebarToggler>&#9776;</button>
  </div>
</header>

<div class="app-body">

  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/my-profile']" [queryParams]="{userId:user.id}">My Profile </a>
        </li>

        <!-- <li *ngIf="user" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/my-wallet" [queryParams]="{userId:user.id}">My Wallet </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/buy-gift-card">Buy Gift Card</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="nevigateToDeals()">Hot Deals</a>
        </li>

        <li class="nav-item" 
        [popover]="dealAlertsPopover" 
        [popoverOnHover]="false">
         <a class="nav-link"> Deal Alerts</a>
     </li>
      
        <li class="nav-item">
          <a class="nav-link" href="https://travel.purvice.com">Travel</a>
        </li>

        <li *ngIf="user" class="nav-item">
          <a class="nav-link" routerLinkActive="active" (click)="doLogout()">Logout </a>
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" routerLinkActive="active" (click)="goToLogin();"> Login</a>
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/register">Sign Up</a>
        </li>

        <li class="divider"></li>

      </ul>
    </nav>
  </div>

  <main class="main">
      
    <div style="margin-bottom:50px">
      <router-outlet></router-outlet>
    </div>
    <div id="main-footer" class="main-footer">
      <div class="">

        <p class="copy">Copyright © 2018 purvice,Inc. All Rights Reserved.</p>
        <p class="footer-link mx-auto">
            
          <a [routerLinkActive]="['active-link']" [routerLink]="['/home/about-us']" class="mr-1 link-hove ">About Us</a> 
          <a [routerLinkActive]="['active-link']" [routerLink]="['/home/faq']" class="mr-1 link-hove ">FAQ</a>
          <a [routerLink]="['/home/privacy']" [routerLinkActive]="['active-link']" class="mr-1 link-hove">Privacy</a>
          <a class="mr-1 link-hove" [routerLinkActive]="['active-link']" [routerLink]="['/home/terms-of-service']">Terms</a>
          <a class="mr-1 link-hove" [routerLinkActive]="['active-link']" [routerLink]="['/home/copyright']">Copyright</a>
        </p>
      </div>
    </div>
  </main>

</div>
