#how_work_height {
    height: 26em;
    width: 97em;
    margin-left: -30px;
}
.work_layout{
    background-color: #20a8d8;
    text-align: center;
}
.logo_how img{
    max-width: 20%;
}

@media only screen and (max-width: 1024px){
    .logo_how img{
        max-width: 23%;
    }
}

@media only screen and (max-width: 768px){
    .logo_how img{
        max-width: 27%;
    }
    .work_font {
        font-size: 26px;
        line-height: 34px;
    }
    .work_font_banner {
        font-size: 18px;
    }
    .get_started_button button {
        padding: 0.5rem 4rem;
        font-size: 16px;
    }
}

@media only screen and (max-width: 425px){
    .logo_how img{
        max-width: 48%;
    }
    .work_font {
        font-size: 24px;
        line-height: 30px;
    }
    .work_font_banner {
        font-size: 16px;
    }
    .work_font br, .work_font_banner br, .last_step br{
        display: none;
    }
    .input-add-category{
        width: 100% !important;
    }
    .tree-list{
        width: 100% !important
    }
}

@media only screen and (max-width: 375px){
    .logo_how img{
        max-width: 55%;
    }
}

@media only screen and (max-width: 320px){
    .logo_how img{
        max-width: 65%;
    }
}

.work_font{
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.work_font_banner{
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}
.work_font_banner{
    font-size: 21px;
    color: #fff;
}
.get_started_button button{
    color: white;
    background-color: #f9a71a!important;  
    border-radius: 4px;
    padding: 0.8rem 6rem;
    font-size: 18px;
    cursor: pointer;
}
.steps p{
    color: #333;
    font-size: 16px;
}
.separator {
    position: relative;
    display: inline-block;
}
.separator:after,
.separator:before {
    position: absolute;
    content: "";
    width: 500px;
    height: 1px;
    background: #eee;
    top: 50%;
}
.separator:after {
    right: 150%;
}


.separator:before {
    left: 150%;
}

