// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";
// @import "custom-variables";

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.app-header {
	background-color: #20b8e5;
}
.nav-link-mobile{
    color: #000!important;
    font-size: 16px !important;
    // margin-left: 4px;
}

.nav-link{
	color: #fff;
	font-weight: 500 !important;
    font-size: 16px;
}

.search-bar {
    margin-right: 100px;
	position: relative;
}
.search-bar input{
	width: 200px;
    border-radius: 4px;
    border: 0;
    padding: 4px 10px;
}

.circle {
    background: #20a8d8;
    padding: 5px;
    width: 30px !important;
    height: 30px !important;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.circle i {
    color: #fff;
    font-size: 14px;
}

.img{
	height: 28px !important;
    width: 128px !important;

}

// #main-footer .copy {
//     float: left;
//     display: inline-block;
//     color: #8491a0;
//     font-size: 13px;
//     margin-bottom:0px;
//     margin-top:10px;
// }

#main-footer{
    width: -webkit-fill-available;
    position: fixed;
    bottom: 0;
    z-index:999;
    background: #2f353a;
    color: #fff; 
    padding: 0.4rem 0; 
    p {
        color:#fff !important;
    }

    a {
        color: #fff; 
    } 
}

// @media only screen and (max-width: 30em) {
//     #main-footer
// {

//      .footer-link {    
//      float: none ;
        
// }
// .copy {
//      float: none;    
// }
// }
// }
// .main-footer{
//     background-color: #cacaca;
//     z-index:999999;
// }
//  .main-footer {
//      p{
// color:#7b7e81!important;
//  }
//  a{
//      color:#7b7e81;
//  }
//  }
//  #main-footer a:hover {
//     color: #f9a71a !important;
// }
// .footer-link a:hover
// {
//         color: #39b2d5!important;
// }
// .app-footer {
//     display: -webkit-inline-box!important;
//     padding: unset!important;
// }
@media (max-width: 991.98px){
.app-header .navbar-brand {
    left: 35% !important;
    width: 82px;
    height: 59px;
}
}

    @media (max-width: 316px){
        .app-header .navbar-brand {
            left: 40% !important;
            width: 82px;
            height: 59px;
        }
        }
@media only screen 
and (device-width: 320px) 
and (device-height: 568px) { 
    .app-header .navbar-brand {
        left: 37% !important;
        width: 71px!important;
        height: 59px!important;
    }
}

@media only screen 
and (device-width: 768px) 
and (device-height: 1024px) { 
    .app-header .navbar-brand {
        left: 18% !important;
        width: 71px!important;
        height: 59px!important;
    }
}

@media only screen and (max-width: 64em) and (orientation: landscape){
    .app-header .navbar-brand {
        left: 21% !important;
        width: 82px;
        height: 59px;
    }
    }
    
@media only screen 
and (device-width: 320px) 
and (device-height: 568px) { 
.nav-link{
	color: #fff;
	// font-weight: unset!important;
    font-size: unset!important;
}
}
.login-btn{
    margin-bottom: 2rem;
    margin-right: 0.2rem;

}
// .app-body{
// 	background: #ffffff !important;
// }
.popover{
	position: absolute !important
}

@media (max-width: 991.98px){
.user-header{
    position: fixed;
    top: 5px;
    margin-left: -38%;
    line-height: 1.15rem;
}
}

@media only screen 
and (device-width: 823px) 
and (device-height: 411px)  and (orientation: landscape){ 
    .user-header{
        position: fixed;
        top: 22px;
        margin-left: -38%;
        line-height: 1.15rem;
    }
    }

    @media only screen and (max-width: 64em) and (orientation: landscape){ 
        .user-header {
            position: fixed;
            top: 2px;
            margin-left: -21%;
            line-height: 1.15rem;
        }
    }

    @media only screen 
and (device-width: 812px) 
and (device-height: 375px)  and (orientation: landscape){ 
    .user-header{
        position: fixed;
        top: 22px;
        margin-left: -38%;
        line-height: 1.15rem;
    }
    }
    @media only screen 
and (device-width: 320px) 
and (device-height: 568px) { 
    .user-header{
        position: fixed;
        top: 12px;
        margin-left: -40%;
        line-height: 1.15rem;
    }
    }

    @media only screen 
and (device-width: 568px) 
and (device-height: 320px)  and (orientation: landscape){ 
    .user-header{
    position: fixed;
    top: 2px;
    margin-left: -32%;
    line-height: 1.15rem;
    }
}
.drop-align{
    transform: translate3d(3px, -7px, 0px)!important;
}

@media (max-width: 1052px){
.header-fixed .app-header .navbar-nav{
    margin-left: unset!important;
}
}

.Toastify__toast--success {
    background: #6dc170!important;
}


/*countdown csss*/
  .countdown {
    display: flex;
    justify-content: space-between;
    width: 15%;
    position: relative;
    bottom: 7%;
    margin-left: 3.5em;
  }
  .countdown .container {
    position: relative;
  }
  .countdown .container svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .countdown .container .minuteslabel {
    position: absolute;
    top: 4.5em;
    left: 4em;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .countdown .container .minuteslabel span:first-of-type {
    font-size: 32px;
    color: #fff;
  }
  .countdown .container .minuteslabel span:nth-of-type(2) {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }

  .countdown .container .secondslabel {
    position: absolute;
    top: 4.5em;
    left: 7.5em;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .countdown .container .secondslabel span:first-of-type {
    font-size: 32px;
    color: #fff;
  }
  .countdown .container .secondslabel span:nth-of-type(2) {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }

  .seconds{
      position: relative;
      right: 100%;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
/*End*/
