
.hot-deal-card-img{
	height: 60%;
}

.hot-deal-card-body{
	background-color: #efefef;
	padding: 3px 10px 10px 10px !important;
	font-size: 13px;
    font-family: sans-serif;
height:140px;
/* border-radius: 0px 0px 8px 8px; */
}

.hot-deal-card-body a {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.brandImg {
	max-height: 20px;
}

.brandText {
	padding: 5px 10px;
	border-radius: 6px;
	color: #fff;
	font-weight: normal;
	background: rgba(22, 37, 59, 0.6);
	font-size: 12px;
	text-shadow: none;
}

.onSaleTriangle {
	position: absolute;
    width: 0;
    height: 0;
    /* border-bottom: 50px solid transparent; */
    border-right: 65px solid transparent;
    border-top: 65px solid #E74C3C;
    z-index: 10;
}

.salePrcntTxt {
	position: relative;
	bottom: 60px;
    	left: 8px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
}

.favHotDeals {
	/*position: absolute; */
    /* top: 5px; */
    /* left: 160px; */
    color: #ccc;
    cursor: pointer;
    z-index: 10;
    /* padding: 6px; */
    padding-right: 10px;
    padding-top: 10px;
    font-size: 16px;
    text-align: right;
}

.hot-deal-card-offer-type{
	text-align: center;
    font-weight: 500;
    color: grey;
    margin-left: 3px;
}

.brandDetails{
	padding: 4px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: fit-content;
    background: #fff;
}

.favLink {
	margin: 0;
	margin-top: 10px;
	text-align: right;
	float: right;
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.showFav {
	position: absolute;
	right: 10px;
	background: #f9a71a;
	padding: 6px 10px;
	border-radius: 4px;
	color: #fff;
	width: 150px;
	cursor: pointer;
}

.showFav .fa-sort-down{
    position: relative;
    bottom: 3px;
    left: 15px;
}

.showFav:hover{
    color: #fff !important
}

.hot-deal-nav-bar{
	width: 100% !important;
}

.hot-deal-nav-bar .nav-link {
    color: #333 !important;
}

.hot-deal-faviourate-button{
	margin-bottom: 1rem;
    float: right;
    top: -45px;
    position: relative;
    margin-right: 10px;
}

.filterText{
	display: inline-block;
    background-color: #16253b;
    color: #fff;
    padding: 8px 13px;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 10px;
}
.filtersCheckboxHeading{ 
	display: inline-block;
    color: #1d1b1bbf;
    padding: 8px 0px;
    font-size: 16px;
    margin-left: 0px;
    font-size: 16px;
}
.hot-deal-nav-bar .navbar{ padding: 0px !important;}

.close-fav-deals {
    position: absolute;
    top: 0px;
    right: 25px;
    z-index: 10;
    line-height: 21px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #d2d7dd;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color .15s ease-out;
}

.hot-deal-container{
	height: -webkit-fill-available;
	overflow: scroll;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-fit-banner{
    width: -webkit-fill-available!important;
}
.nav-bar-container{
    background-color: white;
    margin: 1em 0;
}

.all-categories{
	float: right !important;
	color: #20b8e5 !important;
    text-decoration-line: underline !important;
}

.nav-bar-bottom .p-multiselect .p-multiselect-label {
    font-weight: 600 !important;
}

.p-dropdown{
    vertical-align: top!important;
}

.p-inputtext{
    padding: 0.3em !important;
}
/* .card-col{
	padding:2px;
} */

.hot-deal-images{
height: 180px;
padding:5%;
}

.imagesCss{
object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}

#p-hotdealcardsproducts .card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ccc;
    /* border-radius: 8px; */
    /* box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25); */
} 

#p-hotdealcardsproducts .card:hover{
box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
} 

.overlapcss{
position: absolute;
bottom: 150px;
}


/* .app-body{
overflow: unset;
} */

.middle{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
.p-multiselect-header{
    display: none!important;
}

/* body .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
    background-color: rgba(32,168,216, 0.5)!important;
} */

.dropdown-design { 
    min-Width:12em;
    margin-right: 10px;
    height: 32px;
}

.text-decorate{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 3 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}

.tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
    
 }
    .tooltip .arrow::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid;
      color: #fff !important;
      display: block !important;
     }

     /* body .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
        background-color: white !important;
        color: inherit !important;
    } */
/* 
body .p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: white !important;
} */

/* body .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler{
    color: grey;
}
body .p-tree .p-tree-container .p-treenode {
    padding: 0.143em 0;
    width: fit-content !important;
}

#the_div .p-tree{
    width: 32em!important;
} */
/* style icon */
.inner-addon .fa {
position: absolute;
padding: 10px;
pointer-events: none;
}

/* align icon */
.left-addon .fa { left: 344px;}
.right-addon .fa { right: 0px;
    top: -6px;
    color: gray;
}

/* add padding */
.left-addon input { padding-left: 0px; }
.right-addon input { padding-right: 0px;}

/* .form-control {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 100 !important;
    line-height: 0.5 !important;
    height: auto !important;
} */

.p-multiselect-label {
    padding: 0.429em;
    padding-right: 2em;
    font-weight: 400;
    color: #848484 !important;
}

.p-inputtext {
    font-size: 14px;
    color: grey !important;
    background: #ffffff;
    padding: 0.429em;
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
}

body .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 0px;
    padding: 0.429em 0.857em;
    border: 0 none;
    color: #333333;
    background-color: transparent;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 0;
    margin-bottom: -5% !important;
}
.bgimg {
    /* background-image: url('../../assets/img/hot-deal-banner.jpg'); */
    background-color: rgb(32, 184, 229);
    height: auto;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  .middle {
    position: absolute;
    top: 78%;
    left: 51%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #clockdiv{
      color: #fff;
      font-size: 24px;
  }

  #clockdiv .p-minutes, #clockdiv .p-seconds {
      display: inline-block;
  }

  #clockdiv span{
      padding: 0.3rem 0.6rem;
      border-radius: 3px;
      background: #00a4d3;
      text-align: center;
      margin-right: 0.3rem;
  }
  
  #clockdiv  .smalltext{
      padding-top: 0px;
      font-size: 14px;
      color: #000;
  }

.hot-deal-products-row-margin {
    padding-right: 5px !important;
    margin-top: 1.5rem;
}
@media only screen and (max-width: 30em){
    .showFav{  
            position: absolute;
            right: 10px;
            background: #f9a71a;
            padding: 6px 10px;
            border-radius: 4px;
            color: #fff;
            width: 150px;
            cursor: pointer;
            margin-top: 13%;
            margin-left: 5%;
        }
}
@media only screen and (max-width: 64em){
    .showFav {
        position: absolute;
        right: 10px;
        background: #f9a71a;
        padding: 6px 10px;
        border-radius: 4px;
        color: #fff;
        width: 150px;
        cursor: pointer;
    }
    }

    @media only screen and (min-width:30em){
        .dropdown-design { 
            min-Width: 12em!important;
            margin-right: 10px;
            height: 32px;
        }
    }

    @media (max-device-width: 760px) and (orientation: landscape) {
    .dropdown-design { 
        min-Width: 7em!important;
        margin-right: 10px;
        height: 32px;
    }
}

@media only screen 
and (device-width:  568px) 
and (device-height: 320px) { 
    .showFav {
        position: absolute;
        right: 10px;
        background: #f9a71a;
        padding: 6px 10px;
        border-radius: 4px;
        color: #fff;
        width: 150px;
        cursor: pointer;
        margin-right: -6%;
    }
}
.drop-content{
    transform: unset!important;
    margin-top: 24%;
}

.fav-result{
	font-weight: 600;
}
.react-dropdown-tree-select .dropdown .dropdown-content {
    position: absolute;
    padding: 4px;
    z-index: 100;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 5px 8px rgba(0,0,0,.15);
}
.infinite-scroll-component{
    overflow: auto;
    max-height: 200px;
    max-width: 198px;
}

@media only screen and (max-width: 64em) and (orientation: landscape){
    .pfilter-mb{  
        /* margin-left: 1rem; */
        }
}
.popover-header{
    font-size: 14px!important;
}

@media only screen and (max-width: 30em){
    .width-margin{  
        width: 89%;
        margin-left: 6%;
        }
}

@media only screen and (max-width: 64em) and (orientation: landscape){
    .width-margin{  
        max-width: 45%!important;
        margin-left: 5%;
        }
    }

    @media only screen 
    and (device-width:  823px) 
    and (device-height: 411px)  and (orientation: landscape){ 
        .width-margin{  
            flex: 0 0 27%!important;
            margin-left: 6%;
            }
    }


    @media only screen 
    and (device-width:  812px) 
    and (device-height: 375px)  and (orientation: landscape){ 
        .width-margin{  
            flex: 0 0 31%!important;
            margin-left: 2%;
            }
    }

    @media only screen 
    and (device-width:  1024px) 
    and (device-height: 768px)  and (orientation: landscape){ 
        .width-margin{  
            flex: 0 0 23%!important;
            margin-left: 2%;
            }
    }

    /* .p-multiselect-panel .p-multiselect-items-wrapper{
        max-width: 165px!important;
    } */
@media only screen and (max-width: 30em){
    .top-margin-hot-deal{
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 1928px){ 
    .col-xl-view {
        flex: 2 0 10.66667%!important;
        max-width: 16.66667%!important;
    }
}
@media only screen and (min-width: 390px){ 
    .col-xl-view {
        max-width: 49.66667%!important;
    }
}
.category-dropdown-width {
    max-width: 400px;
}

.multiselect-input-width{
    width: 32em!important;
}
@media only screen and (max-width: 30em){
/* .p-tree {
    width: unset!important;
} */
.multiselect-input-width{
    width: 16.5em!important;
}
/* #the_div .p-tree {
    width: 16.5em!important;
} */
}
@media only screen and (max-width: 64em) and (orientation: landscape){
    /* .p-tree {
        width: 20em!important;
    } */
    .multiselect-input-width{
        width: 20em!important;
    }
    /* #the_div .p-tree {
        width: 20em!important;
    } */
    }

    @media only screen and (max-width: 481px) and (orientation: landscape){ 
        /* .p-tree {
            width: 9em!important;
        } */
        .multiselect-input-width{
            width: 9em!important;
        }
        /* #the_div .p-tree {
            width: 10em!important;
        } */
    }

    @media only screen 
    and (device-width:  568px) 
    and (device-height: 320px)  and (orientation: landscape){ 
        /* .p-tree {
            width: 18em!important;
        } */
        .multiselect-input-width{
            width: 18em!important;
        }
        /* #the_div .p-tree {
            width: 18em!important;
        } */
    }
    @media only screen 
    and (device-width:  768px) 
    and (device-height: 1024px) { 
        .multiselect-input-width{
            width: 24em!important;
        }
    }

    @media only screen and (max-width: 30em){
        .hot-deal-card-body {
            height: unset!important;
        }
        .overlapcss {
            bottom: 132px !important;
        }
    }
    @media only screen and (max-width: 64em){
        .hot-deal-card-body {
            height: unset!important;
        }
        .overlapcss {
            bottom: 132px !important;
        }
    }
    .tree-align-cross{
        border-right-color: rgb(200, 200, 200)!important;
        border-right-style: solid!important;
        border-right-width: 1px!important;
        border-left-color: rgb(200, 200, 200)!important;
        border-left-style: solid!important;
        border-left-width: 1px!important;
    }
    .margin-tree-drop{
        margin-left: 30em;
    }
    .feedback-main-col{
        padding-top: 3%
    }
    .feedback-main-row{
        /* margin-left: 4em; */
        background-color: white;
        border-radius: 11px;
        cursor: pointer;
        float: right;
    }
    .feedback-thumb-col{
        padding-right: inherit;
        cursor: pointer;
    }
    .feedback-count {
        padding-left: inherit;
         /* margin-left: 3px; */
         cursor: pointer;
    }

    .multiselect-input-widths {
        width: unset !important;
    }
    .star-view{
        margin-top: 2%;
        margin-left: 0px;
    }

    .star-margin{
        margin-left: 0%;
    }
    
    @media only screen and (min-width: 1200px) and (max-width: 1300px){ 
        .star-view{
            margin-top: 2%;
            margin-left: 0px !important;
        }
        .social-media{
            padding-right: inherit !important;
        }
        .clipboard-margin {
            margin-top: -6% !important;
        }
        /* .circle {
            width: 20px;
            height:20px;
            border-radius: 50%;
            font-size: 11px;
            color: #fff;
            text-align: center;
            background:rgb(79, 184, 229);
            cursor: pointer;
            margin-left: 1px !important;
          } */
    }
    @media only screen and (min-width: 1300px){ 
        .star-view{
            margin-top: 2%;
        }
        
    }
    @media only screen and (max-width: 992px) and (min-width: 768px){ 
        .star-view{
            margin-top: 2%;
            margin-left: unset !important;
            padding-left: 11% !important;
            padding-right: 23% !important;
        }
        .star-margin{
            margin-left: 26% !important;
        }
    }

    @media only screen and (max-width: 768px) and (min-width: 576px){
        .star-view {
            margin-top: 2%;
            margin-left: unset !important;
            padding-left: 12% !important;
            padding-right: 24% !important;
        }
        .social-media{
            padding-right: unset !important;
        }
    }

    /* .circle {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        font-size: 10px;
        color: #fff;
        text-align: center;
        background: rgb(79, 184, 229);
        cursor: pointer;
        top: 3px;
      } */
      .clipboard-margin{
        margin-top: -4%;
      }
      .clipboard-icon{
        color: #2d2c2c !important;
        margin-top: 71%;
      }

      /* circle i {
        position: relative;
        top: -7px;
        color: #ffff !important;
    } */

    #store_the_div li{
        margin-left: -13% !important;
    }

    .h1-font-style{
        color: white;
        font-family: Avenir-Heavy,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    @media only screen 
    and (device-width:  568px) 
    and (device-height: 320px) { 
        .max-width-small-display{
            max-width: 50% !important;
        }
    }

.margin-error-message{
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    margin-left: 35rem;
}
@media only screen and (max-width: 30em){
    .margin-error-message{
        margin-left: unset;
    }
}
@media only screen and (max-width: 64em) and (orientation: landscape){
    .margin-error-message{
        margin-left: 14rem;
    }
}

@media only screen 
and (device-width:  1024px) 
and (device-height: 768px) { 
    .margin-error-message{
        margin-left: 22rem;
    }
}
@media only screen 
and (device-width:  768px) 
and (device-height: 1024px) { 
    .margin-error-message{
        margin-left: 18rem;
    }
}
@media only screen 
and (device-width:  1024px) 
and (device-height: 1366px) { 
    .margin-error-message{
        margin-left: 26rem;
    }
}

.padding-right-star{
    padding-right: 9px;
    max-width: 44%!important;
}

.padding-right-star{
    padding-left: 0px;
}

.fixed-header{
    z-index: 11;
    position: fixed !important;
    width: 100%;
    padding-top: 2%;
}

.padding-fixed{
    padding-top: 7% !important;
}



/* 18/4 css for card */
.btn-warning{
    background-color: #ff6602 !important;
    border-color: #ff6602 !important;
    color: #fff !important;
    font-size: 1rem;
}

.dropdown-menu{
    right: 4.4em;
    left: unset;
}

a{
    text-decoration: none !important;
}

.container{
    max-width: 1240px;
}

.p-thumbs{
    font-size: 18px !important;
}

.p-socialmedia{
    position: absolute;
    right: 5px;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 1.2rem;
}

.p-socialmedia li{
    margin-bottom: 0.6rem;
}

.p-cardwidth{
    padding-right:8px;
    padding-left:8px;
    max-width:20%;
    flex: 20%;
    -webkit-flex:0 0 20%;
}

.p-cardtext{
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 58px;
}

#p-slider{
     margin-top: 1.5rem
}

#p-slider .carousel-caption {
    color: #000;
    text-transform: uppercase;
}

#p-slider .carousel-item{
    height: 16.7em;
}

/* vertical bootstrap carousel */
#p-slider .carousel-indicators{
    margin-right: 5% !important;
    margin-left: 5% !important;    
    text-align: end !important;
    justify-content: flex-end !important;
    transition: transform .9s ease-in-out,-webkit-transform .9s ease-in-out !important;
}

#p-slider .carousel-indicators li{
    width: 8px !important;
    height: 8px !important;
    background-color: #000 !important;
}

#p-slider .carousel-inner > .carousel-item.carousel-item-next,
#p-slider .carousel-inner > .carousel-item.active.carousel-item-right {
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  top: 0;
}

#p-slider .carousel-inner > .carousel-item.carousel-item-prev,
#p-slider .carousel-inner > .carousel-item.active.carousel-item-left {
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  top: 0;
}

#p-slider .carousel-inner > .carousel-item.carousel-item-next.carousel-item-left,
#p-slider .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
#p-slider .carousel-inner > .carousel-item.active {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  top: 0;
}

.p-countdownclock{
    padding-top: 1rem;
    padding-bottom: 0.5rem; 
    background-color: #edefec;
    text-align: center; 
}

#pSearch .modal-dialog, #psearch .modal-dialog{
    max-width: -webkit-fill-available;
    margin: 0px auto;
}

#pSearch .modal-content, #psearch .modal-content{
    border-radius: 0;
}

#pSearch .form-control, #psearch .form-control{
    padding: 1.5rem 0.75rem;
    border: 0;
}

#pSearch .modal-header, #psearch .modal-header{
    border-bottom: 0;
    padding: 0.58rem 1rem;
}

#pSearch .modal-header .close, #psearch .modal-header .close {
    padding: 1.8rem 1rem;
}

.p-filters{
    display: inline-flex;
}

.number {
    color: #fff;
    font-size: 12px;
    background: #ee4266;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.hotDealProducts{
    padding: 20px;
    border: 1px solid #ccc;
}

.p-hotdealcards{
    padding: 1.7em 0;
} 

.p-stores .p-tree{
    position: absolute;
    z-index: 999;
    width: 10rem;
    height: 19rem;
}

.p-categories .p-tree{
    position: absolute;
    z-index: 999;
    width: auto;
    height: 300px;
}

.p-sort .p-tree{
    position: absolute;
    z-index: 999;
    width: auto;
}

body .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight{
    background-color: transparent;
    color: #000;
}

.p-stores .p-tree-toggler, .p-sort .p-tree-toggler{
    display: none !important;
}

.p-circle {
    background: red;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    z-index: 999;
    position: relative;
    bottom: 50px;
    left: 20px;
  }

.p-circlecontent {
    color: #fff;
    float: left;
    line-height: 1;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
  }

/* top deal cat */
#topdealcat{
    padding-top: 2em;
}

#topdealcat .card{
    text-align: center;
    margin-right: 0.4rem;
    border-top: 5px solid #63c2de;
}

#topdealcat .card-img-top{
    width: 15%;
    margin: 8% auto; 
}

#p-topsearchbar .btn{
    font-size: 1rem !important;
}

/* top Header */
#p-topheader{
    background-color: #00a4d3;
    padding: 0.8rem 0;
}

#p-topheader .p-input{
    border-radius: 0;
    border-color: #ff6602;
    padding: 20px 0px 20px 20px !important;
    width: 22rem;
}

#p-topheader .btn-warning{
    border-radius: 0;
    padding: 8px 18px !important;
}

.p-icon{
    background-color: #ff6602;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.p-icon i{
    margin-top: 0.6rem;
    color: #fff;
    font-size: 16px;
}

.p-icontext{
    color: #fff;
    font-weight: 600;
}

/* navbar */
.navbar-light .navbar-toggler{
    border: none;
}

.navbar{
    padding: 0rem 4rem !important;
}

.navbar-light{
    background-color: #ecfbff !important;
    margin-top: 4.89em;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    color: #000 !important;
}

/* top deals */
#p-topdeals{
    padding: 30px 0;
}

.p-none, .p-none-btn{
    display: none;
}
.p-btn-size{
    font-size: 1.5rem !important;
}

/* alice carousel */
.alice-carousel__prev-btn, .alice-carousel__next-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
}

.alice-carousel__prev-btn-item {
    left: -2rem;
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s ease;
    /* border: 1px solid #000; */
}

.alice-carousel__prev-btn-item:before, .alice-carousel__next-btn-item:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.alice-carousel__prev-btn-item:after {
    content: '\02039';
    position: relative;
    bottom: 12px;
}

.alice-carousel__next-btn-item {
    right: -2rem;
}

.alice-carousel__next-btn-item:after {
    content: '\0203A';
    position: relative;
    bottom: 12px;
}

.alice-carousel__prev-btn-item span, .alice-carousel__next-btn-item span{
    display: none;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
    width: 100%;
    padding: 0;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }
    .navbar {
        padding: 0rem 3.5rem !important;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        max-width: 960px;
    }
    .navbar {
        padding: 0rem 2.4rem !important;
    }
    .p-cardwidth{
        max-width: 25%;
        -webkit-flex: 0 0 25%;
    }
    .overlapcss {
        bottom: 147px !important;
    }
    .countdown{
        margin-left: 1em;
    }
}

@media only screen and (max-width: 823px) {
    .container {
        max-width: 765px;
    }
    .p-cardwidth {
        max-width: 33%;
        -webkit-flex: 0 0 33%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 700px;
    }
    .p-cardwidth{
        max-width: 33%;
        -webkit-flex: 0 0 33%;
    }
    .overlapcss {
        bottom: 144px !important;
    }
    .p-none-btn{
        display: inline-block;
    }
    .countdown {
        margin-left: 1em;
    }
}

@media only screen and (max-width: 736px) {
    .container {
        max-width: 678px;
    }
}

@media only screen and (max-width: 667px) {
    .container {
        max-width: 605px;
    }
    .p-cardwidth {
        max-width: 50%;
        -webkit-flex: 0 0 50%;
    }
}

@media only screen and (max-width: 568px){
    .container {
        max-width: 506px;
    }
    .p-cardwidth {
        max-width: 50%;
        -webkit-flex: 0 0 50%;
    }
}

@media only screen and (max-width: 425px){
    .container {
        max-width: 370px;
    }
    .navbar {
        padding: 0rem 2rem !important;
    }
    .p-cardwidth{
        max-width: 100%;
        -webkit-flex: 0 0 100%;
    }
    .p-none{
        display: inline-block;
    }
    .p-icon {
        background-color: transparent;
        width: 20px;
        height: 20px;
        border-radius: 0%;
    }
    h4, .h4 {
        font-size: 1.2rem;
    }
    #p-slider .carousel-item{
        height: 10.5em;
    }
    #pSearch .modal-header, #psearch .modal-header {
        padding: 0.56rem 1rem;
    }
    .p-icon i{
        font-size: 20px;
    }
    .countdown {
        margin-left: 1em;
    }
    #p-slider .col-md-4{
        padding-right: 8px !important;
    }
    .dot-circle{
        width: 32px;
        height: 32px;
    }
    .dot-circle h5{
        margin-top: 0.35em;
    }
    .main-footer .float-left{
        float: unset !important;
    }
    .main-footer .float-right{
        float: unset !important;
    }
    .main-footer {
        text-align: center;
    }
}

@media only screen and (max-width: 375px){
    .container {
        max-width: 345px;
    }
    .navbar-light{
        margin-top: 4.39em;
    }
    .navbar-brand img{
        width: 140px;
    }
    #p-topheader{
        padding-top: 0.5rem;
    }
    .p-circle{
        height: 22px;
        width: 22px;
        position: relative;
        bottom: 58px;
        left: 34px;
    }
    #pSearch .modal-header, #psearch .modal-header {
        padding: 0.32rem 1rem;
    }
    .container {
        max-width: 323px;
    }
    #clockdiv .smalltext{
        padding-top: 5px;
        font-size: 12px;
    }
    .countdown {
        margin-left: 4.0em;
    }
    .dropDownTextList1, .dropDownTextLists1{
        top: 4.1em;
    }
}

@media only screen and (max-width: 360px){
    .container {
        max-width: 312px;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        max-width: 295px;
    }
    .navbar {
        padding: 0rem 1rem !important;
    }
    .alice-carousel__prev-btn-item {
        left: -0.8em;
    }
    .alice-carousel__next-btn-item {
        right: -0.8em;
    }
    h5, .h5 {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    .countdown {
        margin-left: 3.0em;
    }
    .dot-circle h5{
        margin-top: 0.6em;
    }
    .forum-keyword-setting{
        font-size:12px;
    }
}

.pop-container{
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99999;
}

.popup {
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, .1);
  padding: 2em;
  position: relative;
  /* transition: all 5s ease-in-out; */
}

.popup .close {
    transition: all 200ms;
    text-decoration: none;
    color: #333;
  }

/* start Sticky icon csss  */
  .icon-bar {
    position: fixed;
    right: 0;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999;
    width: 2rem;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: white !important;
    font-size: 16px;
  }
  
  .facebook {
    background: #00a4d3;
    color: white !important;
  }
  /* end Sticky icon csss  */

 .deal-feedback-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
    text-orientation: sideways;
  }


