
copyright-page{

    
// custom
.heading-style{
    margin-top: 3%;
}

.item-description{
  //  box-shadow: 10px 10px 5px #888888;
}

.item-description-font{
    font-size: 20px;
    font-family: ubuntu;

}
// add to common 
.width-50{
   width:50%;
}

.float-right{
    float: right;
}

.margin-m-22{
margin-left: -22%;
}

 .prise-button{
  border-radius:30px;
 }

 .show-price{
   width:40%;
 }

 .buy-for-yourself{
     width: 74%;
 }

.price-add-remove{
    margin-left: 15%;
    width: 100%;
}

.cancel-continue{
        width: 76%;
    margin-top: 10%;
}

// device-specifiqc-media



// slider css



}