<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <button (click)='goToHome();' ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

      <ion-title class="new-background">Copyright Policy</ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>

<!--<div *ngIf="navigation=='common'"> <common-navigation></common-navigation> </div>
<div *ngIf="navigation=='user'">  <user-navigation></user-navigation></div>-->

<ion-content id="cardLising">
 

  <div class="item-description">

    <ion-grid>
      <ion-row>
        <ion-col class="item-description-font">
 <div class="page-content">
                <p>Purvice, Inc. (“Purvice”) respects the intellectual property rights of others and expects its users to do the same.</p>
<p>In accordance with the Digital Millennium Copyright Act of 1998 (“DMCA”), the text of which may be found on the U.S. Copyright Office website at <a href="http://www.copyright.gov/legislation/dmca.pdf">http://www.copyright.gov/legislation/dmca.pdf</a>, and other applicable law, Purvice has adopted a policy of terminating, in appropriate circumstances and at Purvice’s sole discretion, account holders who are deemed to be repeat infringers. Purvice may also, at its sole discretion, limit access to its mobile application (“Application”) and/or terminate the accounts of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement. Purvice will respond to claims of copyright infringement committed using the Purvice website, the Application or any other Purvice platform (collectively, the “Purvice Site”) that are reported to Purvice’s Designated Copyright Agent, identified in the sample notice below.</p>
<p>If you knowingly misrepresent in your notification that the material or activity is infringing, you will be liable for any damages, including costs and attorneys’ fees, incurred by us or the alleged infringer as the result of our relying upon such misrepresentation in removing or disabling access to the material or activity claimed to be infringing.</p>
<p>If you are a copyright owner, or are authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Purvice Site by completing the following DMCA Notice of Alleged Infringement and delivering it to Purvice’s Designated Copyright Agent. Upon receipt of the Notice as described below, Purvice will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged material from the Purvice Site.</p>
<p><b>DMCA Notice of Alleged Infringement (“Notice”):</b></p>
<ol>
<li>Identify the copyrighted work that you claim has been infringed, or if multiple copyrighted works are covered by this Notice you may provide a representative list of the copyrighted works that you claim have been infringed.</li>
<li>Identify the material that you claim is infringing (or to be the subject of infringing activity) and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material, including at a minimum, if applicable, the URL of the link shown on the Purvice Site where such material may be found.</li>
<li>Provide your mailing address, telephone number, and, if available, email address.</li>
<li>Include both of the following statements in the body of the Notice: (i) “I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)”; and (ii) “I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed.”</li>
<li>Provide your full legal name and your electronic or physical signature.</li>
<li>Deliver this Notice, with all items completed, to Purvice’s Designated Copyright Agent: Mark Levitt c/o Purvice, Inc.120 Hawthorne Ave.Palo Alto CA 94301</li>
</ol>
            </div>
        </ion-col>
      </ion-row>
      <div class="list-item-border"></div>
    </ion-grid>

  </div>
  <ion-grid>
    <ion-row>

      <ion-col>

      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
<ion-footer>

</ion-footer>