/* .p-tree{
  width: -webkit-fill-available!important;
} */
.demo-tree-table {
    background: #ffffff;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  
  .demo-tree-table .cp_tree-table_row:not(:first-child) {
    box-shadow: inset 0 1px 0 #eeeeee;
  }
  
  .demo-tree-table .cell-wrapper {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 13px;
    height: 100%;
    width: 100%;
  
    font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Courier, monospace;
  }
  
  .demo-tree-table .cell-wrapper > span {
    flex-grow: 1;
  }
  
  .demo-tree-table .cell-wrapper > .toggle-button-wrapper {
    flex-grow: 0;
  }
  
  
  .demo-tree-table .toggle-button-wrapper > span {
    background: #efefef;
    color: #0f55eb;
    cursor: pointer;
    padding: 1px;
    border-radius: 3px;
  }
  
  .demo-tree-table .toggle-button-wrapper > span:hover {
    background: #d7d7d7;
  }
  
  /* DEMO */
  a.demo {
      font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,  'Helvetica Neue', sans-serif;
      padding: 10px 0 15px 0;
      display: inline-block;
  }
  
  a.demo,
  a.demo:focus,
  a.demo:hover,
  a.demo:active {
    color: #0f55eb;
    outline: none;
    text-decoration: none;
  }
  
  a.demo span {
    font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Courier, monospace;
    background: #efefef;
    border: 1px solid #e5e5e5;
    padding: 2px;
    border-radius: 3px;
  }
  
  /* button {
    margin-bottom: 10px;
  } */

  .gift-margin{
    margin-left: 5.5rem !important;
  }
  
  .dropDownList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    max-height: 300px;
    overflow-y: scroll;
    display: none;
    margin-left: 15px;
  }
  .dropDownLists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    max-height: 300px;
    overflow-y: scroll;
    margin-left: 15px;
    margin-right: -13px;
  }


  .drop-tag-box {
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    background: #f2f2f2;
    color: #333;
    font-size: 12px;
    border: 1px solid #ccc;
    height: 24px;
    line-height: 23px;
    max-width: -webkit-fit-content;
}


.tree-list{
  max-height:100px;
  overflow:scroll;
}

.deal{
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  background-color: #e8e8e8;
  color: #666;
  font-size: 12px;
  max-width: fit-content;
}

.editchip-value {
  display: inline-block;
  padding: 0px;
  padding-left: 10px;
  padding-right: 0;
  background: white;
  color: gray;
  border:1px solid #ccc;
  border-right: 0;
}
.editchip-delete-button{
  background: white;
    color: gray;
    border: 0;
    border:1px solid #ccc;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 0;
    font-weight: bold;
    border-left: 0;
}

/* chips */
.chips.chips-initial {
  border-bottom: 1px solid #ddd;
}
.chip {
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 8px;
  border-radius: 16px;
  background-color: #eef2f3;
  margin: 5px 5px; 
  display: inline-block;
  outline: none;
}
.chip:focus { 
  background-color: #51c5c2;
  color: #fff;
}
.closebtn {
  cursor: pointer;
}
.chips.chips-initial input.chip-input {
  display: inline-block ;
  float: none;
  width: 120px;
  min-width: 30px;
  border:none;
  outline: none;
}


body {
  font-family: Arial, sans-serif;
}

#title {
  letter-spacing: 1px;
}

.chip {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 10px;
  position: relative;
  background: white;
  line-height: 26px;
}
.chip .chip-value {
  display: inline-block;
  padding: 0px;
  padding-left: 10px;
  padding-right: 0;
  background: white;
  color: gray;
  border:1px solid #ccc;
  border-right: 0;
}
.chip .chip-delete-button {
  background: white;
    color: gray;
    border: 0;
    border:1px solid #ccc;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 0;
    font-weight: bold;
    border-left: 0;
}
.my-Input {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 18px;
  border: 1px solid #ddd;
}

/* body .p-tree .p-tree-container {
    padding: 0.286em;
    margin: 0;
    max-height: 200px;
} */

/* body .p-tree {

    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #333333;
    padding: 0.571em 1em;
    border-radius: 3px;
    width: auto;

} */
#myInput {
    background-image: url(/css/searchicon.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 18px;
    border: 1px solid #ddd;
    margin-left: 14px;
    font-style: italic;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
}
.mb-3rem{
  margin-bottom: 3rem !important;
}
.p-multiselect-label {
  padding-bottom: 0px!important;
}
.p-multiselect-label{
  font-size: small!important;
}
.forum-button{
  background-color: #f9a71a;
  border-color: #f9a71a;
  cursor: pointer;
  border-width: 8px;
  border-style: solid;
  font-style: normal;
  font-weight: 600;
  color: white;
  font-size: medium;
}
.forum-button:hover{
  color: white!important;
  background-color: #ec9908!important;
  border-color: #ec9908!important;
}
.p-multiselect-header{
  display: none!important;
}
.p-multiselect-item.p-highlight{
  color: unset!important;
  background-color: unset!important;
}
.category-setting-width{
  max-width: 69.66667%!important;
}
#categoryInputSearch{
  height: 3rem!important;
}
.my-aler-design{
    color: #666;
    font-size: 16px;
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
}
.my-alert-drop-width{
  flex: 0.5 0 91.66667%!important;
}

.chips-span-or {
  margin-left: 3px;
  margin-right: 3px;
}
@media only screen and (max-width: 30em){
  .my-alert-drop-width{
    flex: unset!important;
    margin-left: unset!important;
  }
}
@media only screen and (max-width: 30em){
  .no-left-margin{
    margin-left: unset!important;
  }
}
.p-checkbox .p-checkbox-box{
    width: 18px!important;
    height: 18px!important;
}

@media only screen and (max-width: 30em){
  .category-setting-width{
    max-width: unset!important;
  }
  /* .p-tree{
    width: unset!important;
  } */
  .butoon-size{
    width: 9.5rem!important;
  }
  .forum-button{
    border-width: 3px!important;
  }
}

@media only screen and (max-width: 64em) and (orientation: landscape){
  .category-setting-width{
    max-width: unset!important;
  }
  /* .p-tree{
    width: unset!important;
  } */
  .butoon-size{
    width: 8rem!important;
  }
  .forum-button{
    border-width: 3px!important;
  }
}
.butoon-size{
  width: 12rem;
}
.pause-btn-size{
  width: 5.5em;
  padding-left: unset;
  padding-right: unset;
}
.alert-label {
  margin-top: 15%;
}
@media only screen and (max-width: 30em){
  .btn-small{
    padding: 4px!important;
  }
  .header-panel{
    margin-left: 10%!important;
  }
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header .rc-collapse-extra {
  width: -webkit-fill-available!important;
}
.margin-top-panel{
  margin-top: 7px;
}
@media only screen and (max-width: 30em){
.rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow {
  margin-top: -25px!important;
}
}
@media only screen 
and (device-width:  823px) 
and (device-height: 411px) and (orientation: landscape){
.margin-small-view{
  margin-left: 18rem!important;
  margin-top: -2rem!important;
}
}
@media only screen 
and (device-width:  320px) 
and (device-height: 568px){
.margin-small-view{
padding: unset!important;
}
}
@media only screen 
and (device-width:  812px) 
and (device-height: 375px) and (orientation: landscape){
.margin-small-view{
margin-left: 19rem!important;
margin-top: -2rem!important;
}
}
@media only screen 
and (device-width:  768px) 
and (device-height: 1024px){
.margin-small-view{
    margin-left: 19rem!important;
    margin-top: -2rem!important;
}
}
@media only screen 
and (device-width:  1024px) 
and (device-height: 768px) and (orientation: landscape){
.margin-small-view{
margin-left: 33rem!important;
margin-top: -2rem!important;
}
}
@media only screen 
and (device-width:  1024px) 
and (device-height: 1366px){
.margin-small-view{
margin-left: 33rem!important;
margin-top: -2rem!important;
}
}
@media only screen 
and (device-width:  1366px) 
and (device-height: 1024px) and (orientation: landscape){
.margin-small-view{
    margin-left: 44rem!important;
    margin-top: -2rem!important;
}
}
.margin-small-view{
  margin-left: 44rem;
  margin-top: -2rem;
}
@media only screen and (max-width: 30em){
  .margin-small-view{
    margin-left: unset!important;
    margin-top: unset!important;
  }
}
@media only screen and (max-width: 64em){
  .margin-small-view{
    margin-left: unset;
    margin-top: unset;
  }
}
.multiselect-width{
  min-width: 12em;
}

.multiselect-width .p-multiselect-panel .p-multiselect-items-wrapper{
  overflow: unset;
  max-height: auto;
}

#the_div_alert .p-tree {
  width: -webkit-fill-available;
  height: 20em;
}

@media only screen 
and (device-width:  320px) 
and (device-height: 568px){
.multiselect-width{
  min-width: 13em!important;
}
#myInput{
  font-size: 11px!important;
}
}
.highlight{
  font-weight: bold;
  color: #0072bc;
  text-decoration: underline;
}

.share-button{
  float: right;
  margin-top: -35px;
  width: 20%;
}
.share-input{
  width: 80%;
}
.share-copy{
  float: right;
  color: #8DC63F;
  -webkit-animation: fadein 5s linear 1 normal forwards;
}
@-webkit-keyframes fadein{
  0% { opacity: 1;}
  100% { opacity: 0;}
}

.deal-alert-info-box{
  display: flex;
    background-color: #eee;
    color: #999;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    line-height: 15px;
}
.alert-title{
    color: #333;
    font-size: 16px;
    line-height: 17px;
    display: block;
    margin-bottom: 3px;
}
.middot{
  display: inline;
}

.forum-keyword-setting {
  font-size: 14px;
  width: auto;
  display: inline-block;
}

@media only screen and (max-width: 30em){
.dropDownLists {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  max-height: 300px;
  overflow-y: scroll;

}

.forum-keyword-setting {
  font-size: 14px;
  /* width: 69%; */
  display: inline-block;
}
}


@media only screen and (max-width: 64em) and (orientation: landscape){
  .forum-keyword-setting {
    font-size: 14px;
    /* width: 69%; */
    display: inline-block;
  }
  }

@media only screen 
and (device-width:  411px) 
and (device-height: 731px){
  .forum-keyword-setting {
    font-size: 14px;
    /* width: 56%; */
    display: inline-block;
  }
}

@media only screen 
and (device-width:  411px) 
and (device-height: 823px){
  .forum-keyword-setting {
    font-size: 14px;
    /* width: 55%; */
    display: inline-block;
  }
}

@media only screen 
and (device-width:  414px) 
and (device-height: 736px){
  .forum-keyword-setting {
    font-size: 14px;
    /* width: 55%; */
    display: inline-block;
  }
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header .rc-collapse-extra {

  margin: unset !important;
  width: -moz-available !important;
}
