<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white" *ngIf="!showSearchBar">
      <button (click)="goToHome()" ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>
      <ion-title class="new-background baloo-bhaina">purvice</ion-title>
      <ion-buttons start>
        <button (click)="showSearchToolbar()" ion-button icon-only color="royal">
            <ion-icon name="search"></ion-icon>
          </button>
      </ion-buttons>
      <!--<input type="text" (keyup)='filterItems(searchItem)' [(ngModel)]="searchItem">-->
    </ion-toolbar>

    <!--end of toolbar-->
    <!--toolbar -->

    <ion-toolbar color="white" *ngIf="showSearchBar">
      <button (click)="hideSearchToolbar()" ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      <ion-searchbar (ionCancel)="onCancel($event)" [(ngModel)]="searchItem" [showCancelButton]="true" (ionCancel)="onCancel($event)" (blur)='filterItems(searchItem)'
        (ionInput)='filterItems(searchItem)'>
      </ion-searchbar>
    </ion-toolbar>

    <!--end of toolbar-->
  </div>
</ion-header>


<!--<user-navigation *ngIf="true" class="eeeee"></user-navigation>-->

<!-- <div *ngIf="navigation=='common'">
  <common-navigation></common-navigation>
</div> -->
<!-- <div *ngIf="navigation=='user'">
  <user-navigation></user-navigation>
</div> -->



<ion-content id="cardLising">
  <div padding>
    <ion-segment [(ngModel)]="products" class="segment-style">

      <ion-segment-button value="byStore">
        <div   class="capitalize-segments listing-segments">By Store</div>
      </ion-segment-button>
      <ion-segment-button value="byCategory">
        <div class="capitalize-segments listing-segments" > By Category</div>
      </ion-segment-button>
    </ion-segment>
  </div>
      <div *ngIf="breedsLength == 0" >
         <h2 class="no-record-heading"> Your search '{{searchItem}}' did not match any cards.</h2>
      </div>
  <div [ngSwitch]="products">
    <div *ngIf="!searchItem">
       
      <!--show nothing found message for category  -->

        <!--end of show nothing found message for category  -->
      <ion-list *ngSwitchCase="'byCategory'">
        <div *ngFor="let cat of categories">
          <ion-toolbar color="primary" (click)="toggleDetails(cat)">
            <ion-title class="capitalize-segments"><span class="item-category"> {{cat.categoryname}}</span></ion-title>
            <!-- <ion-buttons end>
              <button ion-button icon-only color="royal">
                  <div *ngIf="showCategoryItem == cat.id">
                    <ion-icon name="md-remove-circle"></ion-icon>
                  </div>
                  <div *ngIf="showCategoryItem != cat.id">
                    <ion-icon name="md-add-circle"></ion-icon>
                  </div>
              </button>
            </ion-buttons>  -->



            <ion-buttons end>
              <button ion-button icon-only color="royal">
                  <div *ngIf="!collapseExpand && showCategoryItem == cat.id">
                    <ion-icon class="icon-color" name="md-add-circle"></ion-icon>
                  </div>
                  <div *ngIf="!collapseExpand && showCategoryItem != cat.id">
                    <ion-icon class="icon-color" name="md-add-circle"></ion-icon>
                  </div>
                  <div *ngIf="collapseExpand && showCategoryItem == cat.id">
                    <ion-icon class="icon-color" name="md-remove-circle"></ion-icon>
                  </div>
                  <div *ngIf="collapseExpand && showCategoryItem != cat.id">
                    <ion-icon class="icon-color" name="md-add-circle"></ion-icon>
                  </div>
              </button>
            </ion-buttons>



          </ion-toolbar>
          <div class="list-item-border"></div>

          <div class="collapse-expand" *ngIf="collapseExpand">
            <div *ngIf="catItem && showCategoryItem == cat.id">
                
                  <div *ngIf="catLength == 0" >
            <h2 class="no-record-heading"> This category did not have any cards.</h2>
          </div>
              <div class="category-items" *ngFor="let item of catItem">
                <!--item listing -->
                <ion-row class="list-item-background">
                  <ion-col>
                    <ion-thumbnail item-start>
                      <img class="list-item-image" src="{{item.brand.imageUrls[0].imageURL}}">
                    </ion-thumbnail>
                  </ion-col>
                  <ion-col class="brandname-landscape" style="margin-left: -50%;">
                    <h2 (click)="setItem(item)" class="list-item-heading"> {{item.brand.brandName}}</h2>
                      <p *ngIf="item.valueType != 'VARIABLE_VALUE'" class="price-range"> ${{item.minValue}} - ${{item.maxValue}} </p>
                      <p *ngIf="item.valueType == 'VARIABLE_VALUE'" class="price-range"> $5 - $100 </p>
                  </ion-col>
                </ion-row>
                <div class="list-item-border"></div>
                <!--end of item listing-->

              </div>
            </div>
          </div>

        </div>
      </ion-list>
    </div>

     <div *ngIf="searchItem">
      <div class="category-items" *ngFor="let item of breeds">
        <!--item listing -->
        <ion-row (click)="setItem(item)">
          <ion-col>
            <ion-thumbnail item-start>
              <img class="list-item-image" src="{{item.brand.imageUrls[0].imageURL}}">
            </ion-thumbnail>
          </ion-col >
          <ion-col class="brandname-landscape" style="margin-left: -50%;">
            <h2  class="list-item-heading"> {{item.brand.brandName}}</h2> <span></span>
            <p *ngIf="item.valueType != 'VARIABLE_VALUE'" class="price-range"> ${{item.minValue}} - ${{item.maxValue}} </p>
            <p *ngIf="item.valueType == 'VARIABLE_VALUE'" class="price-range"> $5 - $100 </p>  
          </ion-col>
        </ion-row>
        <div class="list-item-border"></div>
        <!--end of item listing-->

      </div>
     </div>

      
    <ion-list class="by-store-listing" *ngSwitchCase="'byStore'">

      <!-- <ion-alpha-scroll *ngIf="breeds" [listData]="breeds" key="rewardName" [itemTemplate]="alphaScrollItemTemplate" [currentPageClass]="currentPageClass"
        [triggerChange]="triggerAlphaScrollChange">
      </ion-alpha-scroll> -->

      
        <div *ngIf="!searchItem"> 
                <div class="category-items" *ngFor="let item of breeds">
                <!--item listing -->
                <ion-row class="list-item-ipad-listing" (click)="setItem(item)">
                  <ion-col>
                    <ion-thumbnail item-start>
                      <img class="list-item-image" src="{{item.brand.imageUrls[0].imageURL}}">
                    </ion-thumbnail>
                  </ion-col>
                  <ion-col class="brandname-landscape"  style="margin-left: -50%;">
                    <h2  class="list-item-heading">{{item.brand.brandName}}</h2> <span></span>
                    <p *ngIf="item.valueType != 'VARIABLE_VALUE'" class="price-range"> ${{item.minValue}} - ${{item.maxValue}} </p>
                    <p *ngIf="item.valueType == 'VARIABLE_VALUE'" class="price-range"> $5 - $100 </p>
                  </ion-col>
                </ion-row>
                <div class="list-item-border"></div>
                <!--end of item listing-->

              </div>
        </div>


    </ion-list>
  </div>
</ion-content>
<ion-footer>

</ion-footer>