@import url('https://fonts.googleapis.com/css?family=Raleway');
.font-raleway {
    font-family: 'Raleway', sans-serif;
}

card-listing {
    ion-list {
        ion-item {
            background-color: transparent;
            padding-left: 0;
            position: relative;
        }
        ion-label {
            div {
                text-transform: none;
                font-size: 0.8em;
                padding: 1em 0;
                white-space: normal;
                text-align: justify;
            }
        }
        ion-icon {
            font-size: 1.8rem;
            padding: 0;
            text-align: center;
            position: absolute;
            right: 10px;
            top: 3px;
            &:before {
                font-weight: bold;
            }
        }
    }
    ion-scroll {
        width: 415px;
    }
    ion-item-divider {
        background: red;
    }
    ion-scroll {
        width: 100%!important;
    }
    .more-fun-card {
        text-align: center;
        font-size: 21px !important;
    }
    .card-height {
        height: 20%; // background: red;
    }
    .ion-alpha-sidebar {
        top: 128px !important;
    }
    .ion-alpha-scroll .scroll-content::-webkit-scrollbar {
        display: none;
    }
    .list-item-heading {
        margin-top: 21px;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 1px;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }
    .no-record-heading {
        text-align: center;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 1px;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }
    .label-md {
        font-family: ubuntu;
        font-size: 20px;
    }
    .ion-alpha-sidebar {
        display: none !important;
    }
    ion-item-divider {
        background: #dedede !important;
    } // common css
    // .item-listing{
    //   font-family: sans-serif;
    // }
    ion-item-divider {
        .label-md {
            font-size: 20px;
            font-weight: bold;
            color: black;
        }
    }
    .bar-button-md[icon-only] ion-icon {
        color: white;
    }
    .category-background {
        background: red;
    }
    #cardLising {
        //   margin-top: 6%;
    }
    .listing-segments {
        font-size: 135% !important; //font-size: 200% !important;
    }
    .segment-style {
        margin-top: 5%;
    }
    .segment-md .segment-button.segment-activated {
        border-bottom: 2px solid !important;
        color: #de3737;
    }
    .list-item-image {
        width: 36%; // height: 80px;
        padding: 7%;
    }
    .price-range {
        margin-top: -4px;
        color: #808080;
    }
    .list-item-background:hover {
        background: #eae7e7 !important;
        cursor: wait;
    }
    .icon-style {
        margin-top: 32%;
    }
    .toolbar-md-primary .toolbar-background-md {
        background: white;
    }
    .item-category {
        color: #463e3e;
        font-size: 83%;
    }
    .icon-color {
        color: #463e3e !important;
    } // iphone css
    .segment-ios .segment-button.segment-activated {
        background-color: #c5c3c3;
    }
    .toolbar-ios-primary .toolbar-background-ios {
        background-color: #ffffff;
        border-color: #c5c3c3;
    }
    .segment-ios .segment-button.segment-activated {
        background-color: #c5c3c3 !important;
    }
    .segment-ios .segment-button {
        border-color: #c5c3c3;
    }
    .bar-button-default-ios {
        color: #ffffff;
    }
    .by-store-listing {
        margin-top: -7%;
    }
    .vertical-align-content>* {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    .toolbar .searchbar-ios .searchbar-input {
        background: white;
    }
    .searchbar-ios-cancel .button-inner {
        color: white;
    }
}

// common css
.margin-top-10 {
    margin-top: 10%;
}

.capitalize-segments {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    color: #de3737;
}

.list-item-border {
    border-bottom: solid 1px;
    color: #c5c3c3;
}

// responsive css 
card-listing {
    @media only screen and (device-width: 768px) {
        /* For general iPad layouts */
        .list-item-image {
            width: 36%;
            height: 1;
            padding: 6%;
            margin-top: -31px;
        }
        .segment-style {
            margin-bottom: 7%;
        }
    }
    @media only screen and (device-width: 1024px) {
        /* For general iPad layouts */
        .list-item-heading {
            margin-top: 9%;
        }
        .segment-style {
            margin-bottom: 5%;
        }
    } // iphone 5 css
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
        .price-add-remove {
            margin-left: 11%;
        }
        .list-item-image {
            padding: 4%;
            margin-top: 5%;
        }
    } // iphone 6 css
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        /* STYLES GO HERE */
        .list-item-heading {
            margin-top: 30px;
        }
    } // ipad pro
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
        /* STYLES GO HERE */
        #cardLising {
            //margin-top: 0%;
        }
    } // slider css
    // slider css
    // landscape css 
    @media screen and (orientation:landscape) {
       .brandname-landscape{
            margin-top: 4%;
        }
        .segment-style{
            margin-bottom: 4%;
        }
    }
}