.on-hover {
    color:white;
    font-size: initial;
    cursor: pointer
}
.on-hover:hover {
    color:black;
}
.login-btn {
    margin-bottom: 0rem;
    margin-right: 0.2rem;
}
.dot-circle {
    background-color: #ff6602;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }
  /* .tooltip > .tooltip-inner {
    border: 1px solid;
    padding: 10px;
    max-width: 450px;
    color: black;
    text-align: left;
    background-color: white;
    background: white;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.tooltip > .tooltip-arrow {
    border-bottom-color: black;
} */

.footer-align-copy{
    width:50%;
    float:left;
    color: white;
    text-align: initial;
}
.footer-align-content{
    width:50%;
    float:right;
    text-align: end;
}

@media only screen and (max-width: 425px){
    h5 {
        margin-top: 0.35em !important;
    }
}
    

@media only screen and (max-width: 30em) {
.footer-align-copy{
    width:unset;
    float:unset;
    color: white;
    text-align: unset;
}
.footer-align-content{
    width:unset;
    float:unset;
    text-align: unset;
}
}

.header-search-box {
    width: 297px;
    border-radius: 4px;
    border: 0;
    padding: 5px 10px;
}

@media only screen and (max-width: 1024px){
.p-none-btn {
    display: inline-block;
}
}


.header-nav-css-hot-deal{
    padding-top: 31% !important;
    padding-bottom: 13% !important;
}

.header-nav-css-deal-alert{
    padding-top: 27% !important;
    padding-bottom: 11% !important;
}

.header-nav-css-travel{
    padding-top: 27% !important;
    padding-bottom: 22% !important;
    margin-top: 22% !important;
}
.header-menu-hover{
    border-bottom: solid black !important;
}

/* .dropDownTextList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    max-height: 300px;
    overflow-y: scroll;
    display: none;
    margin-left: 15px;
  }
  .dropDownTextLists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    max-height: 300px;
    overflow-y: scroll;
    margin-left: 15px;
    margin-right: -13px;
  } */

.dropDownTextList, .dropDownTextLists{
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    height: 300px;
    overflow-y: scroll;
    width: 26.6rem;
    padding-left: 20px;
    border: 1px solid #ccc;
    top:3em;
}
.dropDownTextLists{
    display: none;
}

.dropDownTextList li, .dropDownTextLists li{
    list-style-type: none;
}

.dropDownTextList li:before, .dropDownTextLists li:before {
    content: '\f002';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 1rem;
}

.p-fromlink{
    margin-left:1.8rem;
}

.dropDownTextList1, .dropDownTextLists1{
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    height: 300px;
    overflow-y: scroll;
    width: -webkit-fill-available;
    padding-left: 20px;
    border: 1px solid #ccc;
    top: 4.7em;
}
.dropDownTextLists1{
    display: none;
}

.dropDownTextList1 li, .dropDownTextLists1 li{
    list-style-type: none;
}

.dropDownTextList1 li:before, .dropDownTextLists1 li:before {
    content: '\f002';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 1rem;
}

.p-input {
    border-radius: 0;
    border-color: #ff6602;
    /* padding: 20px 0px 20px 20px !important; */
    width: 22rem;
    height: 2.6rem !important;
}
