<div class="app align-items-center">
    <div class="login margin-top-100">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-5 col-sm-12 col-xs-12 login-section">
                    <div class="mb-0">
                        <div class="card p-4">
                            <div class="card-block ">
                                <h1 class="login-title" (click)="goToHome();"><img class="logo_image logo_icon"   src="assets/img/purvice_logo_blue.jpg"  ></h1>
                                <!--<img class="logo_image"   src="assets/img/purvice_1.png"  >-->
                                <form style="text-align: center;margin-top:25px;">
                                    <h2 *ngIf="showSuccess" class="verify-message">Thanks !!!</h2>
                                    <h2 *ngIf="showSuccess" class="verify-message">Registering With purvice </h2>
                                    <h2 *ngIf="showSuccess" class="verify-message">Please Click Login to Start Buying Cards </h2>
                                    <h2 *ngIf="showError" class="verify-message">This Token is Expire</h2>
                                    <h2 *ngIf="showError" class="verify-message">Please Use Valid One</h2>
                                    <div class="row">
                                        <div *ngIf="showSuccess" class=" col-12">
                                            <button type="button" (click)="goToLoginPage()" class="btn btn-primary p login-button mt-1 ">Login</button>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="login-footer">

        <div class="content-width">
            <div class="section-divider">
                <div class="divider-div"></div>
            </div>
            <p class="copy">Copyright © 2018 purvice,Inc. All Rights Reserved.</p>
            <p class="footer-link"><a [routerLink]="['../home/copyright']" class="mr-1 link-hove ">About Us</a>
                <a [routerLinkActive]="['active-link']" [routerLink]="['../home/faq']" class="mr-1 link-hove ">FAQ</a>
                <a [routerLink]="['../home/privacy']" class="mr-1 link-hove">Privacy</a>
                <a class="mr-1 link-hove" [routerLink]="['../home/terms-of-service']">Terms</a>
                <a class="mr-1 link-hove" [routerLink]="['../home/copyright']">Copyright</a>
            </p>
        </div>


    </div>