 

 
   <ion-menu [content]="content" class="user-navigation" (ionOpen)="menuOpened()">
        <ion-content class="gyft-menu">
            <ion-list>
                <ion-grid>
                    <!-- <ion-row>
                         <ion-col col-3><img style="width: 100%;height: 86%;" class="logo-size" src="assets/images/logos/benefit13.png"></ion-col> 
                        <ion-col class="vertical-align-content">
                            <h1 class="logo-text align-center logo-font">purvice</h1>
                        </ion-col>
                    </ion-row> -->
                    <h1 class="logo-text align-center logo-font">purvice</h1>
                    <p *ngIf=currentUser class="hi-text-alignment align-center color-white"> <span class="ubuntu-font hi-font-size">Hi,</span>
                        <span class="capatalize">{{currentUser.firstName}}</span>
                        <span class="capatalize">{{currentUser.lastName}}</span>
                    </p>
                     <!-- <p *ngIf=currentUser class="hi-text-alignment align-center color-white"> 
                        <span class="capatalize">{{currentUser.emailId}}</span>
                       
                    </p> -->
                    <ion-row>
                    </ion-row>
                </ion-grid>
                <div class="nav-menu-item-border"></div>
                <ion-item (click)='goToHome();' class="gyft-menu color-white varela-round">
                    <ion-icon name="md-home"></ion-icon>&nbsp;&nbsp;Home</ion-item>
                <ion-item (click)='expandAbout();' class="gyft-menu color-white">
                    <ion-icon name="md-book"></ion-icon>&nbsp;&nbsp;About purvice
                    <ion-icon class="float-right" name="ios-arrow-down-outline"></ion-icon>
                    <div class="expandable-menu" *ngIf="expandMenu">
                        <ion-item (click)='showAboutUs();' class="about-purvice expandable-menu-item gyft-menu color-white">
                            About Us
                        </ion-item>
                        <ion-item (click)='showCopyright();' class="expandable-menu-item gyft-menu color-white">
                            Copyright Policy
                        </ion-item>
                        <ion-item (click)='showPrivacyPolicy();' class="expandable-menu-item gyft-menu color-white">
                            Privacy Policy
                        </ion-item>

                        <ion-item (click)='showTermsOfService();' class="expandable-menu-item gyft-menu color-white">
                            Terms of Service
                        </ion-item>

                    </div>

                </ion-item>

                <ion-item (click)='showOrders();' class="gyft-menu color-white">
                    <ion-icon name="md-basket"></ion-icon>&nbsp;&nbsp;My wallet <span> ({{ordersCount}})  </span></ion-item>
                <ion-item  (click)='profileSettings();' class="gyft-menu color-white">
                    <ion-icon name="md-settings"></ion-icon>&nbsp;&nbsp;Profile Settings </ion-item>
                <ion-item (click)='logOut();' class="gyft-menu color-white">
                    <ion-icon name="md-power"></ion-icon>&nbsp;&nbsp;Sign Out  </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

 
 

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

