 
.more-fun-card{
    text-align: center;
    font-size: 21px !important;
}
.card-height{
    height: 20%;
   // background: red;
}

.user-profile{
    width: 50%;
    height: 90%;
    margin-left: 26%;
    border-radius: 100%;

}

.hi-font-size{
    font-size: 21px;
    
}

.hi-text-alignment{
   // margin-top: -5%;
}

.item-md{
    
}

.capatalize{
    text-transform: capitalize;
}

.expandable-menu-item .item-inner{
    border: none !important;
}
// common css
.float-right{
    float: right;
}

.user-navigation{
    z-index:99 !important;
}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.about-purvice{
    margin-top: 4%;
}