<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <button (click)='back();' ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

      <ion-title class="new-background">{{listingItem.brand.brandName}}</ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>
 
<ion-content id="cardLising">
  
        <ion-grid>
          <ion-row>
              <ion-thumbnail class="list-item-image" item-start>
                <img src="{{ listingItem.brand.imageUrls[0].imageURL }}">
              </ion-thumbnail>
          </ion-row>   
             
               <h2 class="heading-style">{{listingItem.brand.brandName}}</h2>
                <!-- ionic card  -->
                            <ion-card>

                                <ion-item  *ngIf="data.orderType == 'friend'" class="align-center">
                                  <h2> &nbsp;{{data.friendName}}</h2>
                                  <p>  <ion-icon name="md-call"></ion-icon> &nbsp; {{data.friendContact}}</p>
                                </ion-item>
                                
                                 

                                <ion-card-content>
                                   <div class="align-center" [innerHTML]="data.friendMessage"></div>
                                </ion-card-content>

                                <ion-row>
                                  <ion-col *ngIf="scheduled">
                                    <button ion-button icon-left clear small>
                                      <ion-icon name="md-calendar"></ion-icon>
                                      <div>Scheduled Date : {{scheduleDate}}</div>
                                    </button>
                                  </ion-col>
                                  <ion-col>
                                    <button ion-button icon-left clear small>
                                      <ion-icon name="md-mail"></ion-icon>
                                      <div *ngIf="data.recipient" >Email : <span class="lowercase">{{data.recipient}}</span></div>
                                       <div *ngIf="data.friendEmailId" >Email : <span class="lowercase">{{data.friendEmailId}}</span></div>
                                    </button>
                                  </ion-col>

                                  <ion-col>
                                    <button ion-button icon-left clear small>
                                      <ion-icon name="md-pricetag"></ion-icon>
                                      <div>Amount : <span class="lowercase">${{data.amount}}</span></div>
                                       
                                    </button>
                                  </ion-col>

                               

                                 

                               

                                <ion-item>
                                  <ion-icon name="md-stats" item-start large></ion-icon>
                                  <h2>Order Status</h2>
                                  <p> 

                                  <span *ngIf="data.tangoOrderStatus=='Completed'">Successful</span>
                                                      <span *ngIf="data.tangoOrderStatus=='Delivered_failed'">Failed</span>
                                                      <span *ngIf="data.tangoOrderStatus=='Inprogress'">In progress</span>
                                                      <span *ngIf="data.tangoOrderStatus!='Completed' && data.tangoOrderStatus!='Delivered_failed' && data.tangoOrderStatus!='Inprogress'">{{data.tangoOrderStatus}}&nbsp;</span></p>
                                </ion-item>
 
                                <ion-item>
                                  <ion-icon name="md-card" item-left large ></ion-icon>
                                  <h2>Payment Status</h2>
                                  <p><span *ngIf="data.paymentStatus=='Completed'">Successful</span>
                                     <span *ngIf="data.paymentStatus!='Completed'">{{data.paymentStatus}}</span></p>
                                </ion-item>

                                   <ion-col *ngIf="data.claimCode">
                                    <button ion-button icon-left clear small>
                                      <ion-icon name="ios-download"></ion-icon>
                                      <div  (click)="Iframe(showIframe)"> <span [innerHTML]="data.redemptionDetails"></span> </div>
                                    </button>
                               
                                  </ion-col>
                                   <ion-col *ngIf="data.claimCode && url!='    '">
                                    <button ion-button icon-left clear small>
                                        <ion-icon name="md-lock"></ion-icon>
                                         <div  (click)="Iframe(showIframe)">{{url}}</div>
                                    </button>
                              
                                  </ion-col>
 
                                  
                                <!-- <ion-item>
                                
                                  <button ion-button icon-left clear item-end>
                                    <ion-icon name="navigate"></ion-icon>
                                    {{data.orderType}}
                                  </button>
                                </ion-item> -->

                                  <!-- <ion-grid>
                                    <ion-row>
                                      <ion-col col-6>
                                        <button ion-button icon-left clear small>
                                              
                                              <div>Order Status : <span class="lowercase">{{data.tangoOrderStatus}}</span></div>
                                              
                                            </button>
                                      </ion-col>

                                      <ion-col col-6>
                                        <button ion-button icon-left clear small>
                                                
                                                  <div>Payment Status : <span class="lowercase">{{data.paymentStatus}}</span></div>
                                                  
                                                </button>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid> -->
                               
                                </ion-row>

                              </ion-card>
                <!--end of ionic card  -->
        
        </ion-grid>

         <div class="item-description">

         <ion-grid>
          <ion-row>
            <ion-col class="item-details">
              <div [innerHTML]="listingItem.brand.description"></div>
            </ion-col>
          </ion-row>

        
        </ion-grid>

        </div>

          <!-- terms -->
            <ion-toolbar color="primary" (click)="toggleDetails()">
              <ion-title class="capitalize-segments">
                <span class="item-category"> Terms & Conditions</span>
              </ion-title>
            
              <ion-buttons end>
                <button ion-button icon-only color="royal">
                  <div *ngIf="collapseExpand">
                    <ion-icon class="icon-color" name="md-remove-circle"></ion-icon>
                  </div>
                  <div *ngIf="!collapseExpand">
                    <ion-icon class="icon-color" name="md-add-circle"></ion-icon>
                  </div>
                </button>
              </ion-buttons>
            </ion-toolbar>
            <div class="list-item-border"></div>
            <div class="item-description" *ngIf="collapseExpand">
            
              <ion-grid>
                <ion-row>
                  <ion-col class="item-details">
                    <div [innerHTML]="listingItem.brand.description"></div>
                  </ion-col>
                </ion-row>
            
            
              </ion-grid>
            
            </div>
          <!-- end for terms -->
 
       
 
</ion-content>
    <ion-footer>

    </ion-footer>
 

 