<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6 col-50">
      <h5 class="title user-header"> Manage User</h5>

    </div>
    <div class="col-md-6 text-center col-50">
      <div class="btn btn-primary float-right add-button instant mb-3 " (click)="userAction='Add';addUser()"> <i class="fa fa-plus fa-lg mr-1" aria-hidden="true"></i> Add User</div>
    </div>
  </div>
  <table *ngIf="showTable" id="userTable" class="table table-bordered table-hover table-responsive ">

    <thead>
      <tr class="table-design">
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Roles</th>
        <th></th>
        <th>Orders</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.roles}}</td>


        <td>
          <div data-toggle="tooltip" data-placement="top" title="Edit User" class="text-center cursor">
            <div (click)="userAction='Update';updateUser(user)">
              <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
            </div>
          </div>
        </td>
        <td>
          <a class="nav-link" [routerLink]="['/admin/orders']" [queryParams]="{id:user.id}">View Orders</a>

        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="userAddModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content model-rounded-border">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{userAction}} User</h5>
        <button (click)="close(userForm);" type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label ">First Name <span class="text-danger">* </span></label>
            <div class="col-sm-9">
              <input  [disabled]="userAction=='Update' ? true : false" #firstName="ngModel" type="text" [(ngModel)]="model.firstName" [disabled]="model.roles=='SOCIAL_USER'" class="form-control "
                name="firstName" required>
                <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger field-alert">First Name is required</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label ">Last Name <span class="text-danger">* </span></label>
            <div class="col-sm-9">
              <input  [disabled]="userAction=='Update' ? true : false" #lastName="ngModel" type="text" [(ngModel)]="model.lastName" [disabled]="model.roles=='SOCIAL_USER'" class="form-control "
                name="lastName" required>
                <div  [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger field-alert">Last Name is required</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label ">User Name <span class="text-danger">* </span></label>
            <div class="col-sm-9">
              <input #username="ngModel" type="text" [(ngModel)]="model.username" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [disabled]="userAction=='Update' ? true : false" class="form-control " name="username" required>

                <div class="alert alert-danger field-alert" [hidden]="username.valid  || username.pristine">
                  <div *ngIf="username.errors && username.errors.required">
                    User email is required
                  </div>
                  <div *ngIf="username.errors && username.errors.pattern">
                    User email is invalid
                  </div>
                </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label ">Role</label>
            <div class="col-sm-9">
              <input *ngIf="model.roles=='SOCIAL_USER'|| userAction!=='Update'" [disabled]="true" #roles="ngModel" type="text" [(ngModel)]="model.roles"
                class="form-control " name="roles">
                <select *ngIf="model.roles !='SOCIAL_USER'&& userAction=='Update'" class="form-control " name="roles" [(ngModel)]="model.roles">
  <option *ngFor="let role of roles"  [selected]="model.roles === role.value" [value]="role.value">{{role.name}}</option>
</select>
            </div>

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary instant btn-rounded-border" (click)="close(userForm)" data-dismiss="modal">Close</button>
        <button type="button" (click)="submit(userForm)" data-dismiss="modal" [disabled]="!userForm.valid" class="btn btn-primary instant btn-rounded-border">Save </button>
      </div>

    </div>
  </div>
</div>


<toaster-container></toaster-container>