<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <button (click)='goToLoginOptions();' ion-button icon-only menuToggle class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

      <ion-title class="new-background">Register</ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>
 
<ion-nav #registerPage [root]="rootPage"></ion-nav>


<ion-content id="register-page">

  <!--login options-->
  <ion-list>


    <!-- <ion-item class="connect-using-fb color-white">
      <ion-icon name="logo-facebook"></ion-icon> &nbsp;Connect Using Facebook</ion-item>

    <ion-item class="connect-using-gmail color-white">
      <ion-icon name="logo-google"></ion-icon> &nbsp;Connect Using Google</ion-item> -->


    <ion-item (click)='gotoLogin();' class="gyft-menu color-white connect-using-email">
      <ion-icon name="ios-options"></ion-icon> &nbsp;Other sign in options</ion-item>

  </ion-list>
  <!--end of login options-->


  <!--registration form-->
  <form action="" #registerForm="ngForm">
    <ion-list>

      <ion-item>
        <ion-label floating class="login-color ubuntu-font ">
          <ion-icon class="login-color " name="ios-contact"></ion-icon> &nbsp; First Name</ion-label>
        <ion-input clearInput class="color-white" type="text" require name="fname" [(ngModel)]="data.firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating class="login-color ubuntu-font">
          <ion-icon class="login-color" name="ios-contact"></ion-icon> &nbsp; Last Name</ion-label>
        <ion-input clearInput class="color-white" type="text" required name="lname" [(ngModel)]="data.lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating class="login-color ubuntu-font">
          <ion-icon class="login-color" name="ios-mail-outline"></ion-icon> &nbsp; Email</ion-label>
        <ion-input clearInput class="color-white" type="email" required name="email" [(ngModel)]="data.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating class="login-color ubuntu-font">
          <ion-icon class="login-color" name="ios-unlock-outline"></ion-icon> &nbsp; Password</ion-label>
        <ion-input type="password" name="password" required [(ngModel)]="data.password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating class="login-color ubuntu-font">
          <ion-icon class="login-color" name="ios-unlock-outline"></ion-icon> &nbsp; Confirm password</ion-label>
        <ion-input type="password" name="confirmPassword" required [(ngModel)]="data.confirmPassword"></ion-input>
      </ion-item>

      <br>

    </ion-list>
    <ion-row>
      <ion-col>
        <button ion-button  [disabled]="data.password != data.confirmPassword || !data.password"  class="login-button ubuntu-font" (click)='createUser(data,registerForm);'>Register</button>
      </ion-col>
    </ion-row>
  </form>
  <!--end of registration form-->

  <ion-row>
    <ion-col>
      <ion-label class="color-white "> ALREADY HAVE AN ACCOUNT
        <span (click)='gotoLogin();'>
              <a> SIGN IN</a>
            </span>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-footer>

  </ion-footer>
