 
<ion-header>
    <div class="toolbar-home">
        <!--toolbar -->
        <ion-toolbar color="white">
            <button (click)="gotoHome()" ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

            <ion-title class="new-background">Payment Info</ion-title>
        </ion-toolbar>
        <!--end of toolbar-->
    </div>
</ion-header>

<ion-content>
  
  <ion-list radio-group [(ngModel)]="paymentMethod">
    <ion-item>
      <ion-label>Debit or Credit Card</ion-label>
      <ion-radio checked="true" value="card"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Paypal</ion-label>
      <ion-radio checked="false" value="paypal"></ion-radio>
    </ion-item>
  </ion-list>
  <form class="paypal-form">
    <div class="card">
      <div class="card-block">
 <form id="cardForm" #checkoutForm="ngForm" [hidden]="paymentMethod=='paypal'" >
  <div class="panel">
    <header class="panel__header">
      <h1>Card Payment {{cardType}}</h1>
    
    </header>

    <div class="panel__content">
      <div class="textfield--float-label">


        <label class="hosted-field--label" for="card-number"><span class="icon">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"/></svg></span> Card Number 
                  <img *ngIf="cardType=='visa'" class="visa_card" src="assets/images/payment/images.png">
                  <img *ngIf="cardType=='american-express'" class="visa_card" src="assets/images/payment/Aexpress.png">
                  <img *ngIf="cardType=='master-card'" class="visa_card" src="assets/images/payment/master.png">
                  <img *ngIf="cardType=='diners-club'" class="visa_card" src="assets/images/payment/diners_club.png">
                  <img *ngIf="cardType=='discover'" class="visa_card" src="assets/images/payment/dicss.png">
                  <img *ngIf="cardType=='jcb'" class="visa_card" src="assets/images/payment/jcb.png">
                  <img *ngIf="cardType=='maestro'" class="visa_card" src="assets/images/payment/maestro.png">
        </label>
          
        <div id="card-number" class="hosted-field"></div>
      </div>

      <div class="textfield--float-label">

        <label class="hosted-field--label" for="expiration-date">
           <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"/></svg>
         </span> 
          Expiration Date</label>
        <div id="expiration-date" class="hosted-field"></div>
      </div>


      <div class="textfield--float-label">
        <label class="hosted-field--label" for="cvv">
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/></svg>
            </span>
            CVV</label>
        <div id="cvv" class="hosted-field"></div>
      </div>

      

       <div class="textfield--float-label">

        <label class="hosted-field--label" for="postal-code">
           <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/></svg>			
         </span> 
          Address</label>
          
         <input required type="text" class="hosted-field address-fields" name="addressLine1" [(ngModel)]="billingAddress.addressLine1" placeholder=" Line 1">
         
         <input type="text" class="hosted-field address-fields" name="addressLine2" [(ngModel)]="billingAddress.addressLine2" placeholder=" Line 2">
 
      </div>

       <div class="textfield--float-label">

        <label class="hosted-field--label" for="postal-code">
           <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M12 8V3.5L9.5 1 7 3.5V5H2v11h15V8h-5zm-7 6H4v-1h1v1zm0-3H4v-1h1v1zm0-3H4V7h1v1zm5 6H9v-1h1v1zm0-3H9v-1h1v1zm0-3H9V7h1v1zm0-3H9V4h1v1zm5 9h-1v-1h1v1zm0-3h-1v-1h1v1z"/></svg>
         </span> 
          City</label>
         <input required type="text" class="hosted-field address-line mar-2 address-fields" #city="ngModel" [(ngModel)]="billingAddress.city" name="city"
                  placeholder="City">
      </div>

       <div class="textfield--float-label">

        <label class="hosted-field--label" for="postal-code">
           <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"/></svg>
         </span> 
          State</label>
          <!-- <select required name="state" [disabled]="disableStates"  [(ngModel)]="billingAddress.state" class="hosted-field  select-state select-style address-fields "> 
                    <option value="" disabled selected>-- Select State --</option>
                  <option *ngFor=" let obj of states" [value]="obj.name">{{obj.name}}</option>
                  </select> -->
                <ion-item>
                    <ion-label>Select State</ion-label>
                  <ion-select required name="state" [disabled]="disableStates"  [(ngModel)]="billingAddress.state" >
                     
                    <ion-option *ngFor=" let obj of states" [value]="obj.name">{{obj.name}}</ion-option>
                  </ion-select>    
                </ion-item>
      </div>
      <div class="textfield--float-label">

        <label class="hosted-field--label" for="postal-code">
           <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
         </span> 
          Postal Code</label>
           <input class="hosted-field ng-pristine ng-valid ng-touched" required [(ngModel)]="billingAddress.zipCode" id="postal-code" maxlength="5" name="zipcode" placeholder="111111"   type="text">

      </div>
    </div>

    <footer class="panel__footer">
      <!-- <button class="pay-button">Pay</button> -->
        <button ion-button full (click)="closeKeyboard()" id="submit-button"  [disabled]="!checkoutForm.valid||paypalLogin" value="submit" id="submit-button"
              class="buttonsignup actionbutton">Pay    ${{order.amount}}  </button>

    </footer>
  </div>
</form>
        <div class="">
          <form>
            <div class="form-group row">
              <!--<div id="paypal-button-container" style="margin:auto;"></div>-->
              <div  [hidden]="paymentMethod=='card'"  id="paypal-button" style="margin:auto;"></div>
              <!--<div><button value="submit" type="submit" [disabled]="disableSubmit" class="btn btn-primary btn-sm  center-block btn-rounded-border cursor  mr-3">Pay $ {{order.amount}} </button></div>-->
            </div>
          </form>
        </div>
        <!--<button value="submit" type="submit" [disabled]="!checkoutForm.valid||paypalLogin" id="submit-button" class="btn btn-primary btn-sm  center-block btn-rounded-border cursor  mr-3">Pay $ {{order.amount}} </button>-->
      </div>
    </div>
    <div id="dropin-container"></div>
    <!-- <button ion-button full (click)="closeKeyboard()" value="submit" id="submit-button" class="buttonsignup actionbutton">Pay</button> -->

 
  </form>
 
</ion-content>