paypal-payment {
    .container-fluid {
        padding: 30px;
    }
    .paypal-form {
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
        background-color: #F7F9FA;
        border-radius: 5px;
        padding: 10px 20px;
    }
    .paypal-form .logo {
        margin-bottom: 30px;
        color: #003087;
    }
    .paypal-form .content {
        margin: 0 15%;
        padding: 0 0 10px;
    }
    .paypal-form .forgotlinkholder {
        margin: 20px auto;
        padding-bottom: 20px;
        border-bottom: 1px solid #cbd2d6;
        text-align: center;
    }
    .paypal-form .forgotlinkholder a,
    .paypal-form .forgotlinkholder a:link,
    .paypal-form .forgotlinkholder a:visited {
        color: #0079ad;
        font-weight: 400;
        text-decoration: none;
    }
    .paypal-form .buttonlogin {
        width: 100%;
        height: 44px;
        padding: 0;
        border: 0;
        display: block;
        background-color: #009cde;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        transition: background-color .4s ease-out;
    }
    .paypal-form .buttonlogin:hover {
        background-color: #008AC5;
    }
    .paypal-form .buttonsignup {
        width: 100%;
        height: 44px;
        padding: 0;
        border: 0;
        display: block;
        background-color: #3068cc;
        border-radius: 5px;
        cursor: pointer;
        color: #ffffff;
        transition: background-color .4s ease-out;
    }
    .paypal-form .buttonsignup:hover {
        //background-color: #D2DBE1;
    }
    .paypal-form .actionbutton {
        margin-top: 10%;
    }
    .paypal-form .element {
        height: 40px;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 10px;
        border: 1px solid #9da3a6;
        background: #fff;
        border-radius: 5px;
    }
    .paypal-logo-long {
        background: transparent url(https://www.paypalobjects.com/images/shared/paypal-logo-129x32.svg) top center no-repeat;
        background-size: auto 28px;
        width: 129px;
        height: 32px;
        display: block;
        margin-left: 28%;
    }
    .list-item-image {
        // width: 52%;
        // height: 80px;
        // padding: 7%;
        margin-top: 7%;
    }
    .list-item-heading {
        margin-top: 8%;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 1px;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }

    
 .hosted-field {
   height: 35px;
//   box-sizing: border-box;
//   width: 100%;
    padding-left: 12px;
//   display: inline-block;
//   box-shadow: none;
//   font-weight: 600;
//   font-size: 14px;
//   border-radius: 6px;
//   border: 1px solid #dddddd;
//   line-height: 20px;
//   background: #fcfcfc;
//  // margin-bottom: 12px;
//   background: linear-gradient(to right, white 50%, #fcfcfc 50%);
//   background-size: 200% 100%;
//   background-position: right bottom;
//   transition: all 300ms ease-in-out;

 
}

// .hosted-fields--label {
//   font-family: courier, monospace;
//   text-transform: uppercase;
//   font-size: 14px;
//   display: block;
//   margin-bottom: 6px;
// }

// .button-container {
//   display: block;
//   text-align: center;
// }




// .button--blue {
//   outline: none;
//   background-color: #20a8d8;
//   border-color:  #20a8d8;
//   color: white;
//   transition: all 200ms ease;
// }

// .button--blue:hover {
//   background-color: #3eb9e4;
//   color: white;
// }

// .braintree-hosted-fields-focused {
//  border: solid 1px #707070;
//   box-shadow: 0 0 5px 1px #969696;
// }

// .braintree-hosted-fields-invalid {
//   border: 1px solid #ed574a;
// }

// .braintree-hosted-fields-valid {
// }

#cardForm {
  max-width: 50.75em;
  margin: 0 auto;
  //padding: 1.875em;
}
.helper-text {
    color: #ed574a;
    font-size: 14px;    
    height: 10px;
    display: block;
    text-align: left;
    margin-left: 12px;
}

#card-number {
  
    // padding-left: 42px!important;
}
#card-number .card {
  background-image: url("/assets/img/payment.png");
  -webkit-background-size:40px 40px;
  background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: left;
     
}
.payment-info{
    font-weight: 800;
    text-align: left;
        color: #6d6b6b;
}
.paymet-option{
    margin: 5px;
    vertical-align: super;
    font-weight: 800;
}
.iconsholder {
    height: 300px;
    overflow: auto; 
    width:102% 
}

.iconSection {
    background: #fcfcfc;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 3px;
    margin: 5px;
    width: 29px;
    height: 28px;
    overflow: hidden;
    float: left;
    text-align: center;
    padding-left: 4px;
    padding-top: 4px;
    cursor: pointer;
    .fa{
            font-size: 14px;
    /* vertical-align: bottom; */
    margin: -2px;
    }
}

@media only screen and (max-width: 30em){
.wallet-page-order-identifire {    
    float:none;
     
}
#admin-side-menu-panel{
        position: fixed;
}

.spac-btw:last-child {
        margin-bottom: 50px;
}
.pay-pal-page-intro-text{
         font-size: 34px;
 }
}

@media only screen and (max-device-width: 1366px) and (min-device-width: 1024px) and (orientation: portrait){

#retailers .button {
    
    margin-top: 0px!important;
    
}
}
.text-white{
    color:white;
}

.iconSection:hover{
    background: #20a8d8;
    color:white;
    border: 1px solid #20a8d8;
}

.icon-selected{
    background: #20a8d8;
    color:white;
    border: 1px solid #20a8d8;
}
.address-line{
    width: 155% !important;
}
.state{
    width: 182%;
}
// .logo_image{
//     height: 47px!important;    
//     max-width: 145px!important;   
//     margin-left: -7px;
//     margin-bottom: 10px;

   
// }

//  .logo_icon{
//         background-color: #20a8d8;
//     }
.visa_card {
    width: 10%;
    float: right;
    margin-top: 9px;   
}


@media only screen and (max-device-width: 412px) and (min-device-width: 732px) and (orientation: portrait){

.visa_card {
 width: 44px;
    position: absolute;
    top: 87px;
    right: 83px;
}

}

.american-express_card {
    width: 37px;
    position: absolute;
    top: 85px;
    right: 25px;
}
.master_card {
    width: 31px;
    position: absolute;
     top: 85px;
    right: 23px;
}
.maestro_card {
    width: 32px;
    position: absolute;
     top: 85px;
    right: 23px;
}
.jcb_card {
    width: 25px;
    position: absolute;
     top: 85px;
    right: 25px;
}
.discover_card{
  width: 36px;
    position: absolute;
    top: 85px;
    right: 25px; 
}
.diners-club_card {
    width: 33px;
    position: absolute;
     top: 85px;
    right: 25px;
}

.category-icon{
    vertical-align: bottom;
}



 .style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #ffffff;
  //transition: box-shadow 0.3s, border 0.3s;
}
 
.mar-2{
    margin-bottom: 3%;
}


.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
   // background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.select-state{
    width: 95%;
}




    /*--------------------
SHARED VARIABLES
--------------------*/
$red: #E91E63;
$blue: #3F51B5;
$grey: #EAE8E9;
$grey2: #f3f3f3;
$white: #FFF;

/*--------------------
GENERAL
--------------------*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  background: #f2f2f2;
  font-family: 'Roboto', verdana, sans-serif;
  height: 100%;
}

h1 {
  font-size: 1.5em;
  font-weight: 100;
}

#cardForm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*--------------------
PANEL FORM
--------------------*/

.panel {
  background: $white;
  width: 80%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
}

.panel__header {
  background: $blue;
  color: $white;
}

.panel__header,
.panel__footer {
  padding: 1em 2em;
}

.panel__footer {
  background: $grey2;
}

.panel__content {
  padding: 1em 2em;
  overflow: hidden;
}

.textfield--float-label {
  width: 50%;
  float: left;
  display: inline-block;
}

.hosted-field--label {
  transform: translateY(0.4em);
  font-size: 1.125em;
  line-height: 32px;
  transition: all .15s ease-out;
  display: block;
  width: 100%;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 0.5em;
  &.label-float {
    height: 33px;
    margin-bottom: -1px;
    transform: translate(0, 0);
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
    color: #2196F3;
    transition: all .15s ease-out
  }
  &.filled {
    @extend .label-float;
    color: rgba(0, 0, 0, .54);
  }
  &.invalid {
    @extend .label-float;
    color: #F44336;
  }
}

span.icon {
  position: relative;
  top: 0.2em;
  margin-right: 0.2em;
}

svg {
  fill: #333;
}

.hosted-field {
  height: 32px;
  margin-bottom: 1em;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, .87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .26);
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  position: relative;
}

.pay-button {
  background: #E91E63;
  color: #fff;
  margin: 0 auto;
  border: 0;
  border-radius: 3px;
  padding: 1em 3em;
  font-size: 1em;
  text-transform: uppercase;
  box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
}


/*--------------------
BT HOSTED FIELDS SPECIFIC 
--------------------*/

.braintree-hosted-fields-focused {
  border-bottom: 2px solid $blue;
  transition: all 200ms ease;
}

.braintree-hosted-fields-invalid {
  border-bottom: 2px solid $red;
  transition: all 200ms ease;
}


/*---------------------
Media Queries
----------------------*/

@media (max-width: 600px) {
  html {
    overflow: auto;
  }
  #cardForm {
    height: auto;
    margin: -1em;
    font-size: 13px;
  }
  .panel {
    width: 100%;
  }
  .textfield--float-label {
    width: 100%;
    float: none;
    display: inline-block;
  }
  .pay-button {
    width: 100%;
  }
}

.address-fields:focus{  
  border-bottom: 2px solid $blue;
}

}