card-description {
    // custom
    .heading-style {
        margin-top: 3%;
        text-align: center;
        font-size: 15px;
        font-weight: 1px;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }
    .item-description {
        //  box-shadow: 10px 10px 5px #888888;
    }
    .item-details {
        font-size: 15px;
        font-weight: 1px;
        color: #312828;
        font-family: 'ubuntu', sans-serif;
    } // add to common 
    .width-50 {
        width: 50%;
    }
    .float-right {
        float: right;
    }
    .margin-m-22 {
        margin-left: -22%;
    }
    .prise-button {
        border-radius: 30px;
        color: #de3737;
        background: white;
    }
    .show-price {
        background: #de3737;
        width: 40%;
        /* border-color: #de3737; */
        border: 22px #de3737;
    }
    .buy-for-yourself {
        width: 74%;
    }
    .price-add-remove {
      text-align: center;
        width: 100%;
    }
    .cancel-continue {
        width: 76%;
        margin-top: 10%;
        height: 120%;
    }
    .price-add-remove .text-input {
        font-weight: bold;
        font-size: 116%;
        margin-left: 45%;
        margin-top: 9%;
    }
    .list-item-image {
        margin: 0 auto;
        align-items: center;
        margin-top: 3%;
    }
    .price-range-style {
        text-align: center;
        margin-top: -1%;
        color: gray;
    }
    .buy-button {
        font-weight: bold;
        font-size: 18px;
        color: white;
        text-transform: capitalize;
    } // device-specifiqc-media
    // iphone 5
    // @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    //     .price-add-remove {
    //         margin-left: 11%;
    //     }
    // } // iphone 6 css
    // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    //     /* STYLES GO HERE */
    //     .price-add-remove {
    //         margin-left: 17%;
    //     }
    // } // i-pad 
    // @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    //     /* STYLES GO HERE */
    //     .price-add-remove {
    //         margin-left: 23%;
    //     }
      
    // } // slider css
}