<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <button (click)='goToListingPage();' ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

      <ion-title class="new-background">{{listingItem.brand.brandName}}</ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>
 
<ion-content id="cardLising">
 
        <ion-grid>
          <ion-row>
              <ion-thumbnail class="list-item-image" item-start>
                <img src="{{ listingItem.brand.imageUrls[0].imageURL }}">
              </ion-thumbnail>
          </ion-row>   
             
               <h2 class="heading-style">{{listingItem.brand.brandName}}</h2>
                 <p   class="price-range-style" *ngIf="listingItem.valueType != 'VARIABLE_VALUE' && listingItem.minValue"> ${{listingItem.minValue}} - ${{listingItem.maxValue}} </p>
                <p class="price-range-style" *ngIf="listingItem.valueType == 'VARIABLE_VALUE'"> $5 - $100 </p>
          <div class="list-item-border"></div> 
        </ion-grid>

        <ion-grid>
          <ion-row>
 
            <ion-col>
            
                  <!--price range -->
             <div class="price-add-remove">
                <button ion-button icon-only class="prise-button" (click)='removePrice();'>
                <ion-icon name="md-remove"></ion-icon>
              </button>
                  <!--<ion-input type="text" [(ngModel)]="price" class="show-price disable-hover button button-md button-outline button-outline-md button-round button-round-md"></ion-input>-->
              <button class="show-price" (click)="checkoutConfirm()"   ion-button outline round><span class="buy-button">Buy ${{minValue}}</span></button>
              <button ion-button  icon-only class="prise-button"  (click)='addPrice();'>
                <ion-icon name="md-add"></ion-icon>
              </button>
             </div>
                <!--end of price range-->
                
            </ion-col>
          </ion-row>
 
        </ion-grid>

 

          <!--item description-->

        <div class="item-description">

         <ion-grid>
          <ion-row>
            <ion-col class="item-details">
              <div [innerHTML]="listingItem.brand.description"></div>
            </ion-col>

          </ion-row>
          <ion-row> 
                      
              <ion-col class="item-details">
                  <P style="font-weight:bold;">Terms & Condition:</P>
                <div [innerHTML]="listingItem.brand.terms"></div>
              </ion-col>
              
          </ion-row>
          <div class="list-item-border"></div> 
        </ion-grid>

        </div>
          <!--end of item description-->
 
</ion-content>
    <ion-footer>

    </ion-footer>
 

 