<ion-content class="login-content" padding>
  <ion-row class="top-row">
    <ion-col>
      <h1 class="label-logo">LOGO</h1>
      <p class="label-description">This app helps you discover and buy amazing things all in one place</p>
    </ion-col>
  </ion-row>
  <ion-row class="bottom-row">
    <ion-col class="login-button">
      <button ion-button block (click)="doFbLogin()">Facebook Login</button>
    </ion-col>
  </ion-row>


  <ion-row class="bottom-row">
    <ion-col class="login-button">
      <button ion-button block (click)="gotoHome()">Home</button>
    </ion-col>
  </ion-row>



</ion-content>
