<section id="gifts" class="mt-4">
    <div class="container">
        <div class="row friend-details" style="border-top-color: #f9a71a;border-top-style: solid;border-top-width: 7px;">
            <div class="col-md-7 col-sm-12 col-xs-12 mb-4 mt-4">
                <h2>Deal Alerts</h2>
                <p><b>Let us do the deal hunting for you.</b> Tell us what you're looking for and we'll send you a notification when a matching deal is found.</p>
                <div style="display: block;">
                    <div class="mb-3">
                        <div *ngFor="let c of keywordData" class="tagBox mt-1">
                            <span class="ml-2">{{c}}</span>
                            <span class="mr-2 ml-2" (click)="onRemove(c)"><i class="fa fa-times" aria-hidden="true" style="cursor: pointer;"></i></span>
                        </div>
                    </div>
                </div> 
                <div *ngIf="isdealAlertMessage" class="mb-2" style="display: block; color: red">{{dealAlertMessage}}</div>
                <div class="autocomplete-width"> 
                    <ng-select [items]="filteredKeywordMultiple"
                        multiple="true"
                        bindLabel="categoryName"
                        bindValue="id"
                        placeholder="Add Keyword and/or Category"
                        [(ngModel)]="dealAlerts.categoryId"
                        (keypress)="filterKeywordMultiple($event)"
                        (onClick)="onSelectButton($event)"
                        (wheel)="onScroll($event)"
                        (keydown.backspace)="backspace($event)">
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div class="ui-helper-clearfix mt-2 mb-2" style="border-bottom:1px solid #D5D5D5" >
                                <span class="ml-2 drop-tag-box" (click)='onSelectButton(item)'> {{item.key}}</span> 
                                <span class="ml-2" style="font-size:18px" (click)='onSelectButton(item)' focus-out-directive> {{item.categoryName}}</span> 
                                <span class="mr-4 ml-4" style="float:right; font-size: 2.5em;" ><i class="fa fa-plus-square mb-4 category-addicon" aria-hidden="true"></i></span>
                                
                            </div>
                        </ng-template>
                    </ng-select> 

                    <!-- <ng-select 
                    [items]="filteredKeywordMultiple" 
                    (keypress)="filterKeywordMultiple($event)"
                     [(ngModel)]="dealAlerts.categoryId" 
                     bindLabel="categoryName" 
                     bindValue="id"
                     placeholder="Add Keyword and/or Category"
                     (wheel)="onScroll($event)"
                     (keydown.backspace)="backspace($event)"
                     (change)="onChange($event)">
                        <ng-template ng-label-tmp let-item="item">
                            <div class="ui-helper-clearfix mt-2 mb-2" style="border-bottom:1px solid #D5D5D5">
                                <span class="ml-2 drop-tag-box"> {{item.key}}</span> 
                                <span class="ml-2" style="font-size:18px"> {{item.categoryName}}</span> 
                                <span class="mr-4 ml-4" style="float:right; font-size: 2.5em;" ><i class="fa fa-plus-square mb-4 category-addicon" aria-hidden="true"></i></span>
                            </div>
                        </ng-template>
                    </ng-select> -->

                <!-- <p-autoComplete [(ngModel)]="dealAlerts.alertTitle" [suggestions]="filteredKeywordMultiple" (completeMethod)="filterKeywordMultiple($event)" (keyup.enter)="enterKeyEvent($event)" styleClass="wid100"
                (click)="onSelect(dealAlerts.alertTitle)" placeholder="Add Keyword, Store, Category and/or Brand"  [multiple]="true">
                <ng-template let-dealAlerts pTemplate="item">
                        <div class="ui-helper-clearfix mt-2 mb-2" style="border-bottom:1px solid #D5D5D5">
                             <span class="ml-2 drop-tag-box"> {{dealAlerts.key}}</span> 
                             <span class="ml-2" style="font-size:18px"> {{dealAlerts.name}}</span> 
                             <span class="mr-4 ml-4" style="float:right; font-size: 2.5em;"><i class="fa fa-plus-square mb-4 " aria-hidden="true" style=" color: #999;vertical-align: middle;"></i></span>
                             <img src="{{dealAlerts.imageUrl}}" class="mb-1 ml-2 mr-4" style="width:32px;float:right;display:inline-block"/>
                        </div>
                    </ng-template> 
                </p-autoComplete> -->
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 optionbutton-hover" style="color: #20a8d8" (click)="toggleClick()">{{optionButton}}</div>
            <div *ngIf="isValid" class="col-md-7 col-sm-12 col-xs-12 mt-2">
                <label><strong>Title / Short Name (optional)</strong></label><br/> 
                <input [(ngModel)]="dealAlerts.name" class="form-control" type="text">
            </div>
            <div *ngIf="isValid" class="col-md-7 col-sm-12 col-xs-12 mt-2 mb-2 row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" >
                    <label><strong>Target Forum</strong></label> 
                    <div class="forumClass"> 
                        <p-multiSelect [options]="forumOptions" [(ngModel)]="dealAlerts.targetForum" [filter]="false" [panelStyle]="{minWidth:'14em'}"></p-multiSelect>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" >
                    <label><strong>Notification Method</strong></label>
                    <div class="forumClass"> 
                        <p-multiSelect [options]="notificationOptions" [(ngModel)]="dealAlerts.notificationMethod" [filter]="false" [panelStyle]="{minWidth:'14em'}"></p-multiSelect>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" >
                    <label><strong>When</strong></label>
                    <div class="forumClass"> 
                        <p-multiSelect [options]="whenOptions" [(ngModel)]="dealAlerts.frequencies" [filter]="false" [panelStyle]="{minWidth:'14em'}"></p-multiSelect>
                    </div>
                </div>
            </div>
            <div *ngIf="isValid" class="col-md-7 col-sm-12 col-xs-12 mt-2 rating_slider">
              <label><strong>Rating</strong></label><br/>
                <div class="range-slider">
                    <div class="range">
                        <input type="range" min="1" max="5" steps="1" value="1"  [(ngModel)]="dealAlerts.rating" style="width: 65%;">
                    </div> 
                    
                    <ul class="range-labels">
                        <li class="active-rating selected-rating">+1</li>
                        <li (click)="rangeChane()">+2</li>
                        <li (click)="rangeChane()">+3</li>
                        <li (click)="rangeChane()">+4</li>
                        <li (click)="rangeChane()">+5</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mt-4 mb-4">
                    <button type="button " style="background-color: #f9a71a !important; border-color: #f9a71a !important; cursor: pointer;"  (click)="addAlert(dealAlerts)" class="btn btn-primary px-4 mt-2 login-button "> <i *ngIf="showLoader" class="fa fa-spinner fa-spin  float-right"></i>Add Alert</button>
                    <button type="button " style="background-color: #e1e1e1 !important; border-color: #e1e1e1 !important; color: black; cursor: pointer;" (click)="howWork()" class="btn btn-primary px-4 mt-2 login-button ">How it Works</button>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 mb-4 mt-2 pt-4 pb-2" style="border-top:1px solid #80808040;">
                <h4 class="mb-4"><strong> User Created Deal Alerts for Category</strong></h4>
                <deal-alerts-category (refreshEvent)="pageLoad($event)"></deal-alerts-category>   
                <div>
                    <button type="button "
                        style="background-color: #f9a71a !important; border-color: #f9a71a !important; cursor: pointer;"
                        (click)="addAlertByCat()" class="btn btn-primary px-4 mt-2 login-button "> <i *ngIf="showLoader"
                            class="fa fa-spinner fa-spin  float-right"></i>Add Alert</button>
                    <button type="button "
                        style="background-color: #e1e1e1 !important; border-color: #e1e1e1 !important; color: black; cursor: pointer;"
                        (click)="cleare()" class="btn btn-primary px-4 mt-2 login-button ">Clear All</button>
                </div>
            </div>
            <div *ngIf="isUserLogin">
                <my-deal-alerts></my-deal-alerts>   
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 mt-2 mb-2" style="border-top:1px solid #80808040;"></div>
           <!--  <div class="col-md-12 col-sm-12 col-xs-12 mt-4 mb-4">
                <h4><strong> User Created Deal Alerts</strong></h4>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 mb-4">
                <top-user-deal-alerts></top-user-deal-alerts>
            </div> -->
        </div>
    </div>
</section>

<div class="modal" id="addDealAlertModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header row" style="border-bottom: none; justify-content: center;">
              <span class="col-md-12 col-sm-12 col-xs-12"><h3 class="modal-title" style="margin-left: 4em;">Adding Deal Alert</h3></span><br/>
              <span class="col-md-12 col-sm-12 col-xs-12"><p style="margin-left: 6em; font-size: large;">Your deal alert is being created.</p></span>
            </div>
            <div class="modal-footer" style="border-top: none;justify-content: center;">
                <span><i *ngIf="addDealAlertLoader" class="fa fa-spinner fa-spin fa-2x"></i></span><br/>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" tabindex="-1" id="errorDealAlertModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="max-height: 148px;">
            <div class="modal-header" style="border-bottom: none;">
              <h5 class="modal-title">Alert</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{errorMessage}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>