<div>
    <div class="input-add-category mb-3"  [ngClass]="{'input-add-category-place':isPlace}">
        <p-chips [(ngModel)]="selectDealCategory" (onFocus)="onFocus()" (keypress)="eventHandler($event)" (onAdd)="onAdd()"
            placeholder="Add Category OR Sub-Category"></p-chips>
    </div>
   
        <p-tree *ngIf="isTreeShow" [value]="dealCategory" (onNodeExpand)="nodeExpand($event)" styleClass="tree-list"
            selectionMode="single" [(selection)]="selectedFiles" (onNodeSelect)="nodeSelect($event,selectDealCategory)"
            [loading]="loading"></p-tree>
</div>

<div class="modal" id="addDealAlertCategoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row" style="border-bottom: none; justify-content: center;">
                <span class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="modal-title" style="margin-left: 4em;">Adding Deal Alert</h3>
                </span><br />
                <span class="col-md-12 col-sm-12 col-xs-12">
                    <p style="margin-left: 6em; font-size: large;">Deal Alert has been created successfully.</p>
                </span>
            </div>
            <div class="modal-footer" style="border-top: none;justify-content: center;">
                <span><i *ngIf="addDealAlertLoader" class="fa fa-spinner fa-spin fa-2x"></i></span><br />
            </div>
        </div>
    </div>
</div>