<section id="how_work_height" class="work_layout pb-5 pt-5">
        <div class="container">
                <div class="logo_how mb-4">
                        <img src="assets/img/logo_purvice.png">
                </div>
                <div class="work_font mb-2">
                        <strong>Deal Alerts save you time by doing <br> the deal hunting for you.</strong>
                </div>
                <div class="work_font_banner mb-4">
                        <p>Tell us what you’re looking for and we’ll send you an email or push <br> notification when a matching deal is found.</p>
                </div>
                <div class="get_started_button">
                        <button class="btn" (click)="howWork()">Get Started</button>
                </div>
        </div>
</section>
<section class="how_it_works pb-5 pt-5">    
        <div class="container text-center">
                <h3 class="mb-4">How It Works</h3>
                <div class="steps">
                        <div class="separator">
                                <h4 class="border">1</h4>
                        </div>
                        <br>
                        <img src="../../assets/img/register.jpg" class="mt-3 mb-3">
                        <p class="mt-3 mb-5">Register and Validate Your Purvice Account.</p>
                </div>
                <div class="steps">
                        <div class="separator">
                                <h4 class="border">2</h4>
                        </div>
                        <br>
                        <img src="../../assets/img/category.jpg" class="mt-3 mb-3">
                        <p class="mt-3 mb-5">Create alerts for Category, Stores or Brands you're intrested in.</p>
                </div>
                <div class="steps">
                        <div class="separator">
                                <h4 class="border">3</h4>
                        </div>
                        <br>
                        <img src="../../assets/img/alerts.jpg" class="mt-3 mb-3">
                        <p class="mt-3 mb-5 last_step">The deal that matches your alert criteria, we will notify you. <br> You decide how and when you want to be notified.</p>
                </div>
        </div>
</section>