<div class="col-md-12 col-sm-12 col-xs-12 mt-2 mb-2" style="border-top:1px solid #80808040;"></div>
<div class="col-md-12 col-sm-12 col-xs-12 mt-4 mb-4">
    <h6 style="color: #666;">My Deal Alerts</h6>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 mb-4 row-width" >
<p-dataTable #dt [value]="myDealAlerts" expandableRows="true"  [responsive]="true">
        <p-column expander="true" styleClass="col-icon icon-width" [style]="{'text-align':'center'}">
        </p-column>
        <p-column field="name" header=""></p-column>
        <p-column header="" styleClass="editDeal" [style]="{'text-align':'center'}">
            <ng-template let-myDealAlert="rowData" pTemplate="rowexpansion">
                <button pButton icon="fa-pencil" type="button" (click)="editMyDealAlert(myDealAlert,dt)" label="Edit"></button>
            </ng-template>
        </p-column>
         <p-column  header="" styleClass="pauseDeal" [style]="{'text-align':'center'}">
            <ng-template  let-myDealAlert="rowData" pTemplate="body">
                <button pButton icon="{{myDealAlert.icon}}" type="button" (click)="pauseMyDealAlert(myDealAlert)" label={{myDealAlert.lable}}></button>
            </ng-template>
        </p-column> 
        <p-column header="" styleClass="shareDeal" [style]="{'text-align':'center'}">
            <ng-template  let-myDealAlert="rowData" pTemplate="body">
                <button pButton icon="fa-share-alt" type="button" (click)="shareMyDealAlert()" label="Share"></button>
            </ng-template>
        </p-column>
        <p-column header="" styleClass="deleteDeal" [style]="{'text-align':'center'}">
            <ng-template  let-myDealAlert="rowData" pTemplate="body">
                <button pButton icon="fa-minus-circle" type="button" (click)="deleteMyDealAlert(myDealAlert)" label="Delete"></button>
            </ng-template>
        </p-column>
        <ng-template let-myDealAlert pTemplate="rowexpansion">
            <div *ngIf="myDealAlert.isUneditMyDealAlert" class="ui-grid ui-grid-responsive ui-fluid ">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-9">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ml-2">
                            <div class="ui-grid-row mb-1 mt-1">
                                <div class="ui-grid-col-2 catBox mr-4">Rating : </div>
                                <div class="ui-grid-col-10 tag-box">{{myDealAlert.rating}}</div>
                            </div>
                            <div class="ui-grid-row mb-1">
                                <div class="ui-grid-col-2 catBox mr-2">Category : </div>
                                <div class="ui-grid-col-10 tag-box">{{myDealAlert.categoryName}}</div>
                            </div>
                            <div class="ui-grid-row mb-1">
                                <div class="ui-grid-col-2 catBox mr-4">Notify : </div>
                                <div class="ui-grid-col-10 mt-1">{{myDealAlert.notificationMethod}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="myDealAlert.isEditMyDealAlert" class="ui-grid ui-grid-responsive ui-fluid ">
             <div class="ui-grid-row">
                <div class="ui-grid-col-9">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                            <div  *ngIf="myDealAlert.createdBy == 'keyword'" style="display: block;">
                                    <div class="mb-3 ml-2 mt-2">
                                        <div *ngFor="let c of keywordData" class="tagBox mt-1">
                                            <span class="ml-2">{{c}}</span>
                                            <span class="mr-2 ml-2" (click)="onRemove(c)"><i class="fa fa-times" aria-hidden="true" style="cursor: pointer;"></i></span>
                                        </div>
                                    </div>
                                </div> 
                        <div *ngIf="myDealAlert.createdBy == 'keyword'" class="ui-grid-row mt-4 ml-2">
                            <ng-select [items]="filteredKeywordMultiple"
                                multiple="true"
                                bindLabel="categoryName"
                                bindValue="id"
                                placeholder="Add Keyword and/or Category"
                                [(ngModel)]="dealAlerts.categoryId"
                                (keypress)="filterKeywordMultiple($event)"
                                (wheel)="onScroll($event)"
                                (keydown.backspace)="backspace($event)"
                                class="my-deal-alert-search">
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    <div class="ui-helper-clearfix mt-2 mb-2" style="border-bottom:1px solid #D5D5D5" (click)="onSelect($event)">
                                        <span class="ml-2 drop-tag-box"> {{item.key}}</span> 
                                        <span class="ml-2" style="font-size:18px"> {{item.categoryName}}</span> 
                                        <span class="mr-4 ml-4" style="float:right; font-size: 2.5em;"><i class="fa fa-plus-square mb-4 category-addicon" aria-hidden="true"></i></span>
                                        <!-- <img src="{{item.imageUrl}}" class="mb-1 ml-2 mr-4" style="width:32px;float:right;display:inline-block"/> -->
                                    </div>
                                </ng-template>
                            </ng-select>
                             <!-- <p-autoComplete [(ngModel)]="dealAlerts.alertTitle" [suggestions]="filteredKeywordMultiple" (completeMethod)="filterKeywordMultiple($event)" (keyup.enter)="enterKeyEvent($event)" styleClass="wid100"
                             (click)="onSelect(dealAlerts.alertTitle)" placeholder="Add Keyword, Store, Category and/or Brand"  [multiple]="true">
                             <ng-template let-dealAlerts pTemplate="item">
                                     <div class="ui-helper-clearfix mt-2 mb-2" style="border-bottom:1px solid #D5D5D5">
                                          <span class="ml-4" style="font-size:18px"> {{dealAlerts.name}}</span> 
                                          <span class="mr-4 ml-4" style="float:right; font-size: 2.5em;"><i class="fa fa-plus-square mb-4 " aria-hidden="true" style=" color: #999;vertical-align: middle;"></i></span>
                                          <img src="{{dealAlerts.imageUrl}}" class="mb-1 ml-2 mr-4" style="width: 32px; float: right; display: inline-block"/>
                                     </div>
                                 </ng-template> 
                             </p-autoComplete> -->
                        </div>
                        <div *ngIf="myDealAlert.createdBy == 'category'" class="ml-2">
                            <deal-alerts-category></deal-alerts-category>  
                        </div> 
                        <div class="mt-3 ml-2">
                            <div class="ui-grid-col-12"><label><strong>Title / Short Name (optional)</strong></label></div>
                            <div class="ui-grid-col-9"><input [(ngModel)]="dealAlerts.name" class="form-control" type="text"></div>
                        </div>
                         <div class="ml-2"> 
                                 <div class="ui-grid-col-4 mt-2">
                                    <label><strong>Target Forum</strong></label> 
                                    <div class="forumClass"> 
                                        <p-multiSelect [options]="forumOptions" [(ngModel)]="dealAlerts.targetForum" [filter]="false" [panelStyle]="{minWidth:'14em'}"></p-multiSelect>
                                    </div>
                                </div>
                                <div class="ui-grid-col-4 mt-2">
                                    <label><strong>Notification Method</strong></label>
                                    <div class="forumClass">
                                        <p-multiSelect [options]="notificationOptions" [(ngModel)]="dealAlerts.notificationMethod" [filter]="false"
                                            [panelStyle]="{minWidth:'14em'}"></p-multiSelect>
                                    </div>
                                </div>
                                <div class="ui-grid-col-4 mt-2">
                                    <label><strong>When</strong></label>
                                    <div class="forumClass pr-2"> 
                                        <p-multiSelect [options]="whenOptions" [(ngModel)]="dealAlerts.frequencies" [filter]="false" [panelStyle]="{minWidth:'14em'}"></p-multiSelect>
                                    </div>
                                </div> 
                         </div> 
                        <div class="ml-2">
                            <div class="ui-grid-col-12 mt-3"><label><strong>Rating</strong></label></div>
                            <div class="ui-grid-col-12 mb-4"> 
                                          <div class="range-slider">
                                            <div class="range">
                                                <input type="range" min="1" max="5" steps="1" value="1"  [(ngModel)]="dealAlerts.rating" style="width: 65%;">
                                            </div> 
                                            
                                            <ul class="range-labels">
                                                <li class="active-rating selected-rating">+1</li>
                                                <li (click)="myRangeChane()">+2</li>
                                                <li (click)="myRangeChane()">+3</li>
                                                <li (click)="myRangeChane()">+4</li>
                                                <li (click)="myRangeChane()">+5</li>
                                            </ul>
                                        </div>
                            </div>
                        </div>
                        <div class="ui-grid-row ml-2">
                                <div class="ui-grid-col-2"><button pButton type="button" (click)="cancelMyDealAlert(myDealAlert.id)" label="Cancel"></button></div>
                                <div class="ui-grid-col-3"><button pButton type="button" (click)="saveMyDealAlert(dealAlerts, myDealAlert.id)" label="Save Deal Alert"></button></div>
                        </div>
                    </div> 
                </div>
              </div>
            </div>
        </ng-template>
    </p-dataTable>
    </div>

    <div class="modal" id="updateDealAlertModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header row" style="border-bottom: none;justify-content: center;">
                  <span class="col-md-12 col-sm-12 col-xs-12"><h3 class="modal-title" style="margin-left: 4em;">Updating Deal Alert</h3></span><br/>
                  <span class="col-md-12 col-sm-12 col-xs-12"><p style="margin-left: 6em; font-size: large;">Your deal alert is being updated.</p></span>
                </div>
                <div class="modal-footer" style="border-top: none;justify-content: center;">
                    <span><i *ngIf="addDealAlertLoader" class="fa fa-spinner fa-spin fa-2x"></i></span><br/>
                </div>
              </div>
            </div>
          </div>
          <toaster-container></toaster-container>