 <!-- <div id="{{topdeal.id}}" class="col-md-12 cards-list" > -->
        <div class="col-md-3 col-sm-6 col-xs-6 ml-2 giftcard button-height img-height" *ngFor="let topdeal of topUserDeal">
            <h3 class="giftcard-title" style="text-align: -webkit-center; margin-top: auto;">{{topdeal.dealdName}}</h3>
            <h6 class="giftcard-title" style="text-align: -webkit-center; margin-top: auto;">{{topdeal.rating}}</h6>
            <img class="deal-image ml-4 mt-4" src="{{topdeal.imageURL}}">
                <div class="mt-4" style="text-align: center;">
                  <button class="btn btn-primary login-button" *ngIf="topdeal.isAddedAlert" style="border-radius: 5px;" (click)="addAlert(topdeal)" id="{{topdeal.id}}">{{topdeal.addDealAlertButtonName}}</button>
                  <span *ngIf="!topdeal.isAddedAlert" class="mt-2"><i class="fa fa-check" style="color: darkgreen" aria-hidden="true"></i>{{topdeal.addDealAlertButtonName}}</span>
                </div>
    </div>
<!-- </div>  -->
