.app-footer {
  min-height: $footer-height;
  padding: 0 $spacer;
  line-height: $footer-height;
  color: $footer-color;
  background: $footer-bg;
  @include borders($footer-borders);
  .footer-image{
	  	display: inline-block;
	    width: 155px;
	    height: 55px;
	    margin-right: 0;
	    background-color: #031233;
	  //  background: url('../img/ydb-logo.png');
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: 70px auto;
	    border-bottom: 1px solid #cfd8dc;
	}
}
