.app-header.navbar {
  position: relative;
  flex-direction: row;
  height: $navbar-height;
  margin: 0;
  padding: 0;
  background-color: $navbar-bg;
 // @include borders($navbar-border);

  // .navbar-brand {
  //   display: inline-block;
  //   width: $navbar-brand-width;
  //   height: $navbar-height;
  //   padding: $navbar-padding-y $navbar-padding-x;
  //   margin-right: 0;
  //   background-color: $navbar-brand-bg;
  //   background-image: $navbar-brand-logo;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   background-size: $navbar-brand-logo-size;
  //   @include borders($navbar-brand-border);
  // }

  .navbar-nav {
    flex-direction: row;
    align-items: center;
  }

  .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0 !important;
    text-align: center;

    .nav-link {
      padding-top: 0;
      padding-bottom: 0;
	  color: #fff;
	  cursor: pointer;
      .badge {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: 0;
      }

      > .img-avatar {
        height: $navbar-height - 20px;
        margin: 0 10px;
      }
    }
        .nav-link:hover {
color:rgba(236, 239, 241, 0.62);
        }
  }

  .dropdown-menu {
    padding-bottom: 0;
    line-height: $line-height-base;
  }

  .dropdown-item {
    min-width: 180px;
  }
}

.navbar-brand {
  color: $navbar-active-color;

  @include hover-focus {
    color: $navbar-active-color;
  }
}

.navbar-nav {
  .nav-link {
    color: $navbar-color;

    @include hover-focus {
      color: $navbar-hover-color;
    }
  }

  .open > .nav-link,
  .active > .nav-link,
  .nav-link.open,
  .nav-link.active {
    @include plain-hover-focus {
      color: $navbar-active-color;
    }
  }
}

.navbar-divider {
  background-color: rgba(0,0,0,.075);
}
