<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <ion-title class="new-background"> Payment Success </ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>

<ion-content padding>
 <div class="background"></div>
<div class="container">
 
		<div class="row failure-message">
				<div class=" {{class1}} modalbox error col-sm-8 col-md-6 col-lg-5 center animate">
							<ion-icon class="icon-style" name="md-thumbs-down"></ion-icon>
						<!--/.icon-->
						<h1>Payment Failed!</h1>
						<p>Oops! Something went wrong,
								<br> you should try again.</p>
						<button type="button" (click)="myOrders()"  class="redo btn">Try again</button>
					 
				</div>
				<!--/.success-->
		</div>
		<!--/.row-->
</div>
<!--/.container-->
</ion-content>