<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <button (click)='goToDescription();' ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

      <ion-title class="new-background">Order Summary</ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>

<ion-content id="cardLising">

   <ion-row>
    <ion-col>
      <ion-thumbnail class="tab-image-width" item-start>
        <img class="list-item-image" src="{{listingItem.brand.imageUrls[1].imageURL}}">
      </ion-thumbnail>
    </ion-col>
    <ion-col>
      <h2 (click)="setItem(item)" class="list-item-heading list-item-heading-ipad">{{listingItem.brand.brandName}} </h2> <span></span>
      <p class="price-range"> Redeem online only </p>

    </ion-col>
    <ion-col>
      <h2 (click)="setItem(item)" class="list-item-heading order-prise-style list-item-heading-ipad">${{price}}.00 </h2> <span></span>

    </ion-col>
  </ion-row>
  <div class="list-item-border"></div> 
  <!--end of item listing-->
  <!--social user confirm email  -->
   <div *ngIf="!navigateToFriend && !userEmail">
      <ion-item>
        <ion-label floating class="ubuntu-font social-email">
          <ion-icon  name="md-mail"></ion-icon> &nbsp; Email</ion-label>
        <ion-input type="email" name="email" required [(ngModel)]="data.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating class="ubuntu-font social-email">
          <ion-icon  name="md-mail"></ion-icon> &nbsp; Confirm Email</ion-label>
        <ion-input type="email" name="confirmEmail" required [(ngModel)]="data.confirmEmail"></ion-input>
      </ion-item>

       <!--item description-->
        <div class="item-description">

          <ion-grid>
            <ion-row>
              <ion-col class="item-details">
                <h2 class="list-item-heading">Please enter your email carefully , card will be deliver on given email.</h2>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
             
              <ion-col col-6>
                <ion-badge class="align-center" item-end>View terms of service</ion-badge>
              </ion-col>
            </ion-row> -->
            <div class="list-item-border"></div>
          </ion-grid>

        </div>
          <!--end of item description-->
   </div>


  <!--end of social user confirm email  -->
 
  <!--gift a friend   -->
  <div *ngIf="navigateToFriend">
    <div class="margin-left-5">

       <ion-item style=" margin-left: -4%;">
        <ion-label floating class="ubuntu-font social-email">
          <ion-icon  name="md-contact"></ion-icon> &nbsp; Recipient Full Name</ion-label>
        <ion-input type="email" name="email" required [(ngModel)]="data.friendName"></ion-input>
      </ion-item>
      <!-- <h2 class="list-item-heading">Recipient Full Name <span class="required-star"> * </span></h2> -->

      <!-- <ion-input style=" margin-left: -2%;" [(ngModel)]="data.friendName" required floating placeholder="Recipient Name"></ion-input> -->

      <h2 class="list-item-heading">Schedule Delivery <span class="required-star"> * </span></h2>
      <ion-row class="margin-left--5" radio-group required [(ngModel)]="data.isscheduled"> 
        <ion-col>
          <ion-item>
            <ion-label>Instant</ion-label>
            <ion-radio (click)="setSchedule(false)"  value="false"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label> Scheduled</ion-label>
            <ion-radio #Schedule (click)="setSchedule(true)" checked="{{scheduled}}" value="true"></ion-radio>
          </ion-item>
          <ion-item *ngIf="scheduled">
            <ion-label  (click)="datepicker(data.date)" class="date-lable">
              <ion-icon  *ngIf="!data.date && data.isscheduled == 'true'" class="float-right" name="md-calendar"></ion-icon>
            <span *ngIf="!data.date && data.isscheduled == 'true'" > YYYY-MM-DD </span><span *ngIf="data.date">{{data.date}} </span></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <h2 class="list-item-heading">Delivery Options <span class="required-star"> * </span></h2>
    </div>
    <ion-item>
      <ion-label floating class=" ubuntu-font">
        <ion-icon class="" name="md-mail"></ion-icon> &nbsp;Email</ion-label>
      <ion-input class="" type="email" [(ngModel)]="data.friendEmailId" required name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating class=" ubuntu-font">
        <ion-icon class="" name="md-call"></ion-icon> &nbsp;Phone </ion-label>
      <ion-input class="" type="tel"  maxlength="15" [(ngModel)]="data.friendContact"  required name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating class=" ubuntu-font">
        <ion-icon class="" name="md-text"></ion-icon> &nbsp;Add a Message</ion-label>
      <ion-textarea elastic class=""  rows="5"  [(ngModel)]="data.friendMessage" type="text"  name="username"></ion-textarea>
    </ion-item>
 
  </div>


  <!--end of gift a friend  -->
</ion-content>


<ion-footer>
  <ion-row class="buy-next-button">
    <ion-col>
      <h2 class="buy-next-price">${{price}}.00</h2>

    </ion-col>
 
   <ion-col *ngIf="!navigateToFriend && userEmail" >
      <button   (click)="addOrder(data)" ion-button class="next-button-style">Next</button>
    </ion-col>

    <ion-col *ngIf="!navigateToFriend  && !userEmail">
      <button [disabled]="data.email != data.confirmEmail || !data.email" (click)="addOrder(data)" ion-button class="next-button-style">Next</button>
    </ion-col>
        <ion-col *ngIf="navigateToFriend">
      <button [disabled]="!data.friendContact || !data.friendEmailId || data.isscheduled==null || !data.friendName" (click)="addOrder(data)" ion-button class="next-button-style">Next</button>
    </ion-col>
 
  </ion-row>
 
</ion-footer>