order-summary {
    .list-item-heading {
        margin-top: 8%;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 1px;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }
    .list-item-image {
        // width: 52%;
        // height: 80px;
        // padding: 7%;
        margin-top: 7%;
    }
    .price-range {
        margin-top: -4px;
        color: #808080;
    }
    .order-prise-style {
        float: right;
        margin-right: 10%;
        margin-top: 18%;
    }
    .buy-next-button {
        background: #252525;
    }
    .buy-next-price {
        color: white;
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }
    .next-button-style {
        margin-top: 7%;
        width: 93%;
       // height: 84%;
        border-radius: 6px;
    }
    .item-md.item-block .item-inner{
        border-bottom: none;
    }
    .margin-top-2{
        margin-top: 2%;
    }

    .margin-left-5{
        margin-left: 5%;
    }
    .margin-left--5{
        margin-left: -5%;
    }
    .margin-left-2{
        margin-left: -2;
    }
    .social-email{
        color: #171212 !important;
    }

    .required-star{
        font-size: 20px;
        color: #de3737;
    }
}

// responsive css
order-summary {
    // ipad css 
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        /* STYLES GO HERE */
        .list-item-heading-ipad{
            margin-top: 29%;
        }
    } // slider css

    

}

.alert-md .alert-title{
    font-size: 17px;
}