page-home {
    .about-purvice {
        margin-top: 4%;
    }
}

.more-fun-card {
    text-align: center;
    font-size: 21px !important;
}

.card-height {
    height: 20%; // background: red;
}