 
   <ion-menu [content]="content" style="z-index:99;">
        <ion-content class="gyft-menu">
            <ion-list>
                <ion-grid>
                    <!-- <ion-row>
                        <ion-col col-3><img style="width: 100%;height: 86%;" class="logo-size" src="assets/images/logos/benefit13.png"></ion-col>
                        <ion-col col-3>
                            <h1 class="logo-text logo-font-purvice">Purvice</h1>
                        </ion-col>
                    </ion-row> -->
                    <h1 class="logo-text align-center logo-font"><img class="purvice-sidebar-logo" src="assets/images/logos/purvice_logo_pure_white.png"></h1>
                     
                    <!--<p (click)='gotoLogin();' class="align-center color-white"> Login / connect to purvice </p>-->
                    <ion-row>
                    </ion-row>
                </ion-grid>
                 <div class="nav-menu-item-border"></div>
                 <ion-item (click)='goToHome();' class="gyft-menu color-white"> <ion-icon name="md-home"></ion-icon>&nbsp;&nbsp;Home</ion-item>
                 <ion-item (click)='expandAbout();'  class="gyft-menu color-white"><ion-icon name="md-book"></ion-icon>&nbsp;&nbsp;About purvice
                      <ion-icon  class="float-right" name="ios-arrow-down-outline"></ion-icon>
                                    <div class="expandable-menu" *ngIf="expandMenu">
                                        <ion-item (click)='showAboutUs();' class="about-purvice expandable-menu-item gyft-menu color-white">
                                            About Us
                                        </ion-item>
                                        
                                        <ion-item  (click)='showCopyright();' class="expandable-menu-item gyft-menu color-white">
                                            Copyright Policy
                                        </ion-item>
                                        <ion-item (click)='showPrivacyPolicy();'  class="about-purvice expandable-menu-item gyft-menu color-white">
                                            Privacy Policy
                                        </ion-item>
                                        <ion-item  (click)='showTermsOfService();' class="expandable-menu-item gyft-menu color-white">
                                            Terms of Service
                                        </ion-item>
                                    </div>
                 
                 </ion-item>
                  <ion-item  (click)='gotoLogin();'  class="gyft-menu color-white"><ion-icon name="md-log-in"></ion-icon>&nbsp;&nbsp;Log In</ion-item> 
                  <ion-item  (click)='goToSignup();'  class="gyft-menu color-white"><ion-icon name="md-person-add"></ion-icon>&nbsp;&nbsp;Sign Up</ion-item> 
                 <!--<ion-item class="gyft-menu color-white">Login options</ion-item>-->
            </ion-list>
        </ion-content>
    </ion-menu>

 
 

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

