<div class="animated fadeIn">
  <div class="row ">
    <div class="col-md-6 col-50">
      <h5 class="category-page-title"> Categories</h5>

    </div>
    <div class="col-md-6  col-50">
      <div id="new-cat-btn" class="btn btn-primary float-right add-button instant" (click)="categoryAction='Add';addCategory()">
        <i class="fa fa-plus fa-lg mr-1" aria-hidden="true"></i> Add Category</div>
    </div>
  </div>
  <div>    

    <table id="categoryTable" class="table table-bordered table-hover table-responsive ">

      <thead *ngIf="showTable">
        <tr>
          <th id="cat-tbl-nm-col">Name</th>
          <th id="cat-tbl-des-col">Icon</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category  of categories">
          <td>{{category.categoryname}}</td>
          <td><div class="">  <i class="fa {{category.categoryImage}} fa-2x"></i></div></td>
          <td>{{category.description}}</td>

          <td>
            <div class="text-center">
              <div (click)="assignCategory(category)">
                <a href="" (click)="$event.preventDefault()">Assign Items</a>
              </div>
            </div>
          </td>

          <td>
            <div data-toggle="tooltip" data-placement="top" title="Edit Category" class="text-center cursor">
              <div (click)="categoryAction='Update';updateCategory(category)">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </div>
            </div>
          </td>
          <td>
            <div class="text-center cursor" data-toggle="tooltip" data-placement="top" title="Delete Category">
              <div (click)="removeCategory(category)">
                <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
              </div>
            </div>
          </td>


        </tr>
      </tbody>
    </table>
  </div>


</div>

<div class="modal fade" id="itemsModal"  data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content model-rounded-border">
      <div class="modal-header" id="cat-assign-model-header">
        <strong> Assign Items to Category</strong>
        <button type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="items-header">
         <div class="float-right">
         {{setAll? " Clear ":" Select "}} All Cards   <input type="checkbox"  [(ngModel)]="setAll" (click)="setAllItems()"class="ml-2 p-2" style="vertical-align: middle;" ></div>
       </div>
      <div class="modal-body" style="overflow-y:auto; max-height: 300px;">
       
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Select Item</th>
              <th>Items Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item  of items" id="items">
              <td class="vertical-align-center">
                <input type="checkbox"  [(ngModel)]="item.checked">
              </td>
              <td>
                <div id="asign-item-model-img">
                  <img class="modal-image" src="{{  item.brand.imageUrls[0].imageURL }}">
                </div>
                <div id="asign-item-model-prize">
                  <span class="card-item-name"> {{item.brand.brandName}}  </span>
                  <p *ngIf="item.minValue">
                    ${{ item.minValue}} - ${{ item.maxValue}}
                  </p>
                  <p *ngIf="!item.minValue">
                    ${{ getAmt(item.rewardName) }}
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer set-height">
        <button type="button" class="btn btn-secondary instant btn-rounded-border" data-dismiss="modal">Close</button>
        <button type="button" (click)="saveItems()" data-dismiss="modal" class="btn btn-primary instant btn-rounded-border">Save </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="categoryModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content model-rounded-border responsive-device">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{categoryAction}} Category</h5>
        <button (click)="close(categoryForm)" type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #categoryForm="ngForm">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label pop-up-label-text">Name <span class="text-danger">* </span></label>
            <div class="col-sm-9">
              <input #categoryname="ngModel" required type="text" [(ngModel)]="model.categoryname" class="form-control " name="categoryname">
              <div [hidden]="categoryname.valid || categoryname.pristine" class="alert alert-danger field-alert">Name is required</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label pop-up-label-text">Description</label>
            <div class="col-sm-9">
              <textarea [(ngModel)]="model.description" name="description" #description="ngModel" class="form-control" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label pop-up-label-text"> Icon  <span class="text-danger">* </span></label>
            <div class="col-sm-9">
              <input class="form-control" *ngIf="!model.categoryImage" required type="text" name="categoryImage" #categoryImage="ngModel"   [(ngModel)]="model.categoryImage" (click)=showIcons();  />
               <i class="form-control" class="fa {{model.categoryImage}} fa-4x cursor" (click)=showIcons();></i>
              <!--<span *ngIf="!fileStatus" id="update-cat-static-txt">Upload new category image</span>
              <div><img *ngIf="model.categoryImage" src="{{ model.categoryImage }}" class="update-cat-form-model-img"></div>-->
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button"  (click)="close(categoryForm)" class="btn btn-secondary instant btn-rounded-border" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" (click)="submit(categoryForm)" [disabled]="!categoryForm.valid"
          class="btn btn-primary instant btn-rounded-border">Save </button>
          <!--<button *ngIf="model.id" type="button" (click)="submit(model)" data-dismiss="modal" [disabled]="!categoryForm.valid" class="btn btn-primary instant btn-rounded-border">Save </button>-->


      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="removeCategoryModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div id="delete-cat-confirm-model" class="modal-content model-rounded-border responsive-device">
      <div class="modal-header no-border no-margin  ">
        <h5 class="modal-title delete-warning-msg">Do you really want to delete this category ?</h5>
      </div>
      <div class="modal-footer  no-border">
        <button type="button" class="btn btn-secondary instant btn-rounded-border" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteCategory(selectedCategory)" data-dismiss="modal" class="btn btn-danger instant btn-rounded-border">Delete </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content model-rounded-border responsive-device">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Select Icon</h5>
        <button type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
        <div class="row">
          <div class=" col-12 ">
            <span class="float-right mb-3">
             Search: <input class="" type="text"  name="iconSearch" #icon="ngModel"   [(ngModel)]="iconSearch" (ngModelChange)="filterIcon(iconSearch);"  />
            </span>
          </div>
        </div>
          <div class="iconsholder">
            <p *ngFor="let icon  of iconList" (click)="selectedIcon(icon)" [ngClass]="{'icon-selected': icon==model.categoryImage}" class="iconSection">
              <i class="fa {{icon}}"></i></p>
          </div>


        </form>
      </div>  
    </div>
  </div>
</div>

<toaster-container></toaster-container>