<ion-header>
  <div class="toolbar-home">
    <!--toolbar -->
    <ion-toolbar color="white">
      <button (click)='goToProfile();' ion-button icon-only menuToggle="none" class="menu-color">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>

      <ion-title class="new-background">Edit Profile</ion-title>
    </ion-toolbar>
    <!--end of toolbar-->
  </div>
</ion-header>


<ion-content id="edit-profile">

 

 <!--edit profile-->
  <ion-list>
    <ion-item>
      <ion-label floating class="login-color ubuntu-font">
        <ion-icon class="login-color change-user-inputs" name="md-contact"></ion-icon> <span class="change-user-inputs"> &nbsp;First Name</span></ion-label>
      <ion-input class="" type="text" [(ngModel)]="currentUser.firstName" required name="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating class="login-color ubuntu-font">
        <ion-icon class="login-color change-user-inputs" name="md-contact"></ion-icon><span class="change-user-inputs">&nbsp;Last Name</span> </ion-label>
      <ion-input class="" type="text" [(ngModel)]="currentUser.lastName" required name="username"></ion-input>
      <div>
        <ion-icon class="login-color" name="ios-mail-outline"></ion-icon>
      </div>
    </ion-item>

    <ion-item>
      <ion-label floating class="login-color ubuntu-font">
        <ion-icon class="login-color change-user-inputs" name="md-mail"></ion-icon><span class="change-user-inputs">&nbsp;Email</span> </ion-label>
      <ion-input class="" type="email" disabled [(ngModel)]="currentUser.emailId"></ion-input>
      <div>
        <ion-icon class="login-color" name="ios-mail-outline"></ion-icon>
      </div>
    </ion-item>
 <br>
    <ion-row>

      <ion-col>
        <button ion-button  [disabled]="!currentUser.firstName || !currentUser.lastName" (click)="editUser(currentUser)" class="login-button ubuntu-font">Save</button>
      </ion-col>
    </ion-row>
  </ion-list>
 <!--end of edit profile-->
 
</ion-content>
<ion-footer>

</ion-footer>