
edit-profile{

    
// custom
.heading-style{
    margin-top: 3%;
}

.item-description{
  //  box-shadow: 10px 10px 5px #888888;
}

.item-description-font{
    font-size: 20px;
    font-family: ubuntu;

}
// add to common 
.width-50{
   width:50%;
}

.float-right{
    float: right;
}

.margin-m-22{
margin-left: -22%;
}

 .prise-button{
  border-radius:30px;
 }

 .show-price{
   width:40%;
 }

 .buy-for-yourself{
     width: 74%;
 }

.price-add-remove{
    margin-left: 15%;
    width: 100%;
}

.cancel-continue{
        width: 76%;
    margin-top: 10%;
}

// device-specifiqc-media



// slider css

.input-cover {
  border-bottom: 1px solid #4a8bfc;
}

.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #4a8bfc;
  box-shadow: inset 0 -1px 0 0 #4a8bfc;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: #4a8bfc;
  box-shadow: inset 0 -1px 0 0 #4a8bfc;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: #4a8bfc;
  box-shadow: inset 0 -1px 0 0 #4a8bfc;
}

.input-has-focus .label-md[stacked],
.input-has-focus .label-md[floating] {
  color: #4a8bfc;
}

.change-user-inputs{
      font-size: 128%;
    font-weight: bold;
}



}

