 <div   style="margin-top:5%;" class="container profile-setting">
 <h5>Update Profile</h5>
 

 <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item font-wt profile-tab"  >
    <a class="nav-link active"  href="#profile" role="tab" data-toggle="tab">Profile Information</a>
  </li>
  <li class="nav-item font-wt profile-tab"  >
    <a class="nav-link"     href="#buzz" role="tab" data-toggle="tab">Password Information</a>
  </li>
 <!-- <li class="nav-item">
    <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
  </li>-->
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="profile">
    <form  #loginForm="ngForm" class="form-horizontal profile-form">
            <div class="form-group">
              <label for="nameField" class="col-xs-2">First Name</label>
              <div class="col-xs-10">
                 <input type="text" (keyup)="firstnameStatus($event)" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel" class="form-control input-field">
              </div>
               <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
               Enter First Name
              </div>
            </div>
          
            <div class="form-group">
              <label for="emailField" class="col-xs-2">Last Name</label>
              <div class="col-xs-10">
             <input type="text" id="lastName" (keyup)="lastnameStatus($event)"  required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel" class="form-control input-field">
              </div>
                <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
               Enter Last Name
              </div>
            </div>
          
            <div class="form-group">
              <label for="phoneField" class="col-xs-2">Username</label>
              <div class="col-xs-10">
                 <input type="text" [disabled]="true" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel" class="form-control input-field">
              </div>
                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
               Enter Username
              </div>
            </div>
           
            
            <div class="col-xs-10 col-xs-offset-2">
              <button type="button " [disabled]="!firstNameStatus || !lastNameStatus" (click)="doLogin(model)"  class="btn btn-primary px-4 mt-4 login-button instant"> 
                                               Update</button>
            
            </div>
       </form>      
</div>
  <div role="tabpanel" class="tab-pane fade" id="buzz">
   <form  #loginForm="ngForm" class="form-horizontal profile-form">

             

            <div class="form-group">
              <label for="nameField" class="col-xs-2">Current Password</label>
              <div class="col-xs-10">
                 <input type="password" (keyup)="curentpassStatus($event)" placeholder="Old Password" id="oldPassword" required #oldPassword class="form-control input-field">
              </div>
               <div [hidden]="!curentpasswarning" class="alert alert-danger">
               Enter current password
              </div>
            </div>
          
            <div class="form-group">
              <label for="emailField" class="col-xs-2">New password</label>
              <div class="col-xs-10">
             <input type="password" (keyup)="newpassStatus($event)" placeholder="New Password" id="newPassword" required #newPassword  class="form-control input-field">
              </div>
              <div [hidden]="!newpasswarning" class="alert alert-danger">
               Enter new password
              </div>
            </div>

              <div class="form-group">
              <label for="emailField" class="col-xs-2">Confirm Password</label>
              <div class="col-xs-10">
             <input type="password" (keyup)="confirmpassStatus($event)" placeholder="Confirm Password" id="confirmPassword" required #confirmPassword  class="form-control input-field">
              </div>
               
                <div [hidden]="passwordMatch" class="alert alert-danger">
               Password did not match
              </div>
             
            </div>


            <div class="col-xs-10 col-xs-offset-2">
            <button type="button " [disabled]="!currentPasswordStatus || !newPassStatus || !confirmPassStatus || !passwordMatch" (click)="changePass(oldPassword.value,newPassword.value)"  class="btn btn-primary px-4 mt-4 login-button instant"> 
           Update</button>
            
            </div>
       </form>
  </div>
  <!--<div role="tabpanel" class="tab-pane fade" id="references">ccc</div>-->
</div>
 </div>

  <toaster-container></toaster-container>