<section id="giftcards" class="about-page-top-section" >
	<div class="container">
		<h1 class="section-title" style="color:#ffffff;"><br/><br/><br/>
             We believe in gift cards made easy.
        </h1><br/><br/>
 		<h4 class="section-title" style="color:#ffffff;font-weight:bold;">
             Contact us: support@purvice.com
        </h4>      
        
        <br/><br/><br/>
       <!-- <img class="bottom-aligned" src="assets/img/about-main.png" alt="We believe in gift cards made easy."> -->
	</div>
</section>

<div class="container about-us-parent-container" >
		 <p class="about-us-intro-note">
          Welcome to purvice! We’re a digital gift card platform that enables you to buy, send, and manage gift cards from hundreds of top retailers.   
          </p>
          <p class="about-us-intro-note" style="margin-top:10px;">
         &nbsp;
          </p>
</div>


<div class="container about-us-middle-parent"  >
    <div class="row " >
         <div class="col-4"></div>
          <div class="col-4  about-page-middle-section-inner">
             <img class="column-image" src="assets/img/about-left.png" alt="For You">
          <h3 class="section-column-title">For You</h3>
          <p  >Send, buy and manage gift cards from any device. Choose gift cards from hundreds of retailers.</p>
         <!-- <p  >Available on <a href="">iOS</a>, <a href="">Android</a>, and <a href="">the web</a>.</p> -->
          </div>

          <!--  <div class="col-md-4 about-page-middle-section-inner">
         <img class="column-image" src="assets/img/about-center.png" alt="For Your Business">
         <h3 class="section-column-title">For Your Business</h3>
          <p  >Buy gift cards in bulk for employee rewards or customer loyalty incentives with <a href="">purvice Corporate</a>.</p>
         <p  >Create custom gift cards for your small-to-medium sized business with <a href="">purvice Business</a>.</p>
          </div>

        <div class="col-md-4 about-page-middle-section-inner">
           <img class="column-image" src="assets/img/about-right.png" alt="For Developers">
             <h3 class="section-column-title">For Developers</h3>
              <p >Need an integrated gift card solution for your corporate rewards program or mobile app? </p>
              <p >The <a href="">purvice API</a> makes it easy to offer gift cards to any program.</p>
          </div> -->

    
    </div>
</div>
<hr>


<div  *ngIf="videoStatus"  id="aboutus" class="container">
    <p class="about-page-video-section-title">As seen on Ellen, Forbes, and more</p>
    <div style="text-align:center;">
       <a (click)="open();" class="video-link" style="width:280px;height:157px;">
			<img class="video-placeholder" src="assets/img/videoImage.jpg" alt="purvice!">
		</a>
    </div>  
</div>


<hr *ngIf="videoStatus" >

<div class="container about-us-parent-container" >
         <p class="about-us-intro-note-title">
             <!-- #1 for mobile and digital gift cards -->
         </p>

</div>