<section id="gifts" style="position: relative;">


	<section id="slide-default-gift" class="slide col2-gift" style="background-color: #20a8d8; background-position: center top; background-repeat: no-repeat; padding: 50px 0px; position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: visible;">
		<div class="content-width" style="min-height:304.5px;">

			<div class="home-content div-half ">


				<h2 class="section-title" style="color:#ffffff;">Use PayPal to Securely Buy Gift Cards!</h2>

				<div class="home-text" style="color:#ffffff;margin-top:30px;">
					<p>Instant delivery. No fees.
Select gift cards from 200+ retailers.</p>
				</div>


					<a class="button primary-gift-button dynamic-button btn-blue" (click)="gotoGiftCardPage()" data-alt-label="Shop Now">
                  Shop Now                </a>

			</div>

			<div class="gift-image-container div-half" style="min-height:304.5px;">
				<img src="assets/img/payyypall.png" alt="Buy, Send, and Redeem Gift Cards">

			</div>

		</div>

	</section>
</section>
 
<div class="section-divider" >
	<div class="content-width">
		<div class="divider-div"></div>
	</div>
</div>
<section id="promotional-video" style="margin-top: 38px;">
	<div   class="content-width">

		<!--<h2 class="section-title">As seen on Ellen, Forbes, and more!</h2>-->
        <p style="margin-top:40px;font-size:36px;text-align:center;color: #606060">Buying gift cards with PayPal is easy!</p>
		 

	</div>

</section>
<div class="container" style="margin-bottom:50px;">
<div class="row ">
          <div class="col-md-4 about-page-middle-section-inner">
             
        <div>  
        <img src="assets/img/lock.png" style="float:left;    margin-right: 10px;">
        <p style="font-weight:600;">Shop Securely</p>
        </div>
          <p>purvice is certified with Digicert for all transactions. Plus, PayPal securely stores all your payment information in one place.</p>
         
          </div>

           <div class="col-md-4 about-page-middle-section-inner">
        
              <div>  
        <img src="assets/img/clock.png" style="float:left;    margin-right: 10px;">
        <p style="font-weight:600;" >Instant Delivery</p>
        </div>
          <p>Purchase a gift card for yourself or for a friend to be delivered in just a few seconds.</p>
         
          </div>

        <div class="col-md-4 about-page-middle-section-inner">
          
                 <div>  
        <img src="assets/img/star.png" style="float:left;    margin-right: 10px;">
        <p  style="font-weight:600;">Large Selection</p>
        </div>
              <p>We have the biggest selection of retailers to shop from including Amazon.com, Starbuck, GameStop and more.</p>
            
          </div>

    
    </div>
</div>





<div class="section-divider">
	<div class="content-width">
		<div class="divider-div"></div>
	</div>
</div>

<div class="content-width">

		
        <p class="home-page-video-title" style="margin-top:50px;margin-bottom: 9px;">Who is purvice?</p>
        <p class="pay-pal-page-promotion-text">We are the leading gift card platform where you can easily buy, send and redeem gift cards from any device. Also, use purvice to keep track of gift card balances and instantly send friends and family gift cards they’ll love.</p>

	</div>
 
 <div class="section-divider">
	<div class="content-width">
		<div class="divider-div"></div>
	</div>
</div>


<div class="container" style="padding-bottom: 97px;">
    <div class="row" style="padding-top:8%;">
        <div class="col-md-4" style="margin-left:3%;">

          	<img src="assets/img/p.png"> 
        </div>
         <div class="col-md-5" style="margin-left:3%;">
             <p class="pay-pal-page-intro-text">What is PayPal</p>
             <p class="pay-pal-page-paypal-text" >PayPal is an easy, more secure way to pay from one spot.</p>
              <p class="pay-pal-page-paypal-conect-text" >Connect your credit/debit cards or bank account to your PayPal account and pay however you want.</p>
            <p class="pay-pal-page-paypal-how-to-conect-text" >How do I set up a PayPal account? </p>
            <p class="pay-pal-page-insruction-short" >You only need two things to start using PayPal
             <br> <br>  1.An email address 
              <br>  2.A credit card
            </p>
        </div>
    </div>
</div>

 <div class="section-divider">
	<div class="content-width">
		<div class="divider-div"></div>
	</div>
</div>
<div class="content-width" style="text-align:center">

		
        <p class="home-page-video-title" style="margin-top:50px;">
           Start buying gift cards with PayPal
            </p>
          	<a style="align:center;"  class="button dynamic-button white-on-blue" routerLink="/buy-gift-card" data-alt-label="" data-alt-url="">
	          Shop Now        </a>
	</div>

     <div id="visa-page-text">The merchants represented are not sponsors of purvice or otherwise affiliated with purvice. The logos 
      and other identifying marks attached are trademarks of and owned by each represented company and/or 
      affiliates. Please visit each company’s website for additional terms and conditions.</div>