<section id="gifts" style="position: relative;">


	<section id="slide-default-gift" class="slide col2-gift" style="background-color: #20a8d8; background-position: center top; background-repeat: no-repeat; padding: 50px 0px; position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: visible;">
		<div class="content-width" style="min-height:304.5px;">

			<div class="home-content div-half ">


				<h2 class="section-title" style="color:#ffffff;">We accept all major credit cards!</h2>

				<div class="home-text" style="color:#ffffff;margin-top:30px;">
					<p>Instantly buy and send gift cards to friends and family. Choose from hundreds of retailers!</p>
				</div>


				<a class="button primary-gift-button dynamic-button btn-blue" (click)="gotoGiftCardPage()" data-alt-label="Shop Now">
                  Shop Now                </a>

			</div>

			<div class="gift-image-container div-half" style="min-height:304.5px;">
				<img src="assets/img/dd.png" alt="Buy, Send, and Redeem Gift Cards">

			</div>

		</div>

	</section>
</section>
 
<div class="section-divider" *ngIf="videoStatus">
	<div class="content-width">
		<div class="divider-div"></div>
	</div>
</div>
<section id="promotional-video" *ngIf="videoStatus">
	<div   class="content-width">

		<!--<h2 class="section-title">As seen on Ellen, Forbes, and more!</h2>-->
        <p class="home-page-video-title">purvice is the easiest way to instantly send, buy and manage gift cards from any device!</p>
		<a (click)="open();" class="video-link" style="width:280px;height:157px;">
			<img class="video-placeholder" src="assets/img/videoImage.jpg"
				alt="purvice!">
		</a>

	</div>

</section>
<div class="section-divider" >
	<div class="content-width">
		<div class="divider-div"></div>
	</div>
</div>
<section id="gift-app" class="" >
	<div class="content-width">

		<div class="half gift-half">
			<h2 class="section-title mobile-only">Say goodbye to your bulky wallet</h2>
           
			<img src="assets/img/mobileApp.png" alt="Say goodbye to your bulky wallet">
		</div>

		<div class="half">


			<!--<h2 class="section-title">Say goodbye to your bulky wallet</h2>-->
             <p class="static-page-say-gud-bye">Say goodbye to your bulky wallet</p>
             
		     <div class="static-page-app-download-section">
				 <span class="static-pg-app-down-section-design">------</span>
				 <span class="static-pg-app-down-section-design-text">Download the App [<b>Coming Soon!</b>]</span>
				 <span class="static-pg-app-down-section-design">------</span>
			 </div>
              <div class="static-page-download-btn">
              	<img src="assets/img/ios.png" class="static-page-download-btn-left">
                <img src="assets/img/gogleplay.png" class="static-page-download-btn-right">  
	        </div>

		</div>

	</div>

  <div id="visa-page-text">The merchants represented are not sponsors of purvice or otherwise affiliated with purvice. The logos 
      and other identifying marks attached are trademarks of and owned by each represented company and/or 
      affiliates. Please visit each company’s website for additional terms and conditions.</div>

	<div class="modal fade" id="youTubePlayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">			
				<div class="modal-body no-padding height-400">
					<span id="closeVideo" data-dismiss="modal" class="close" aria-hidden="true">x</span>
					<iframe id="promotion-video">
					</iframe>
				</div>
			</div>
		</div>
	</div>
</section>
