
<section id="giftcards" class="top-padding-section">
	<div class="content-width ">
	 
		<div class="row">
			<div class="col-md-3">


				<div class="giftcards-sidebar">

					 
					<div class="">
				  <div class="show-on-mobile-view">
              <select class="category-mobile-view" (change)="onChange($event.target.value)">
                       <option>Select</option>
                       <option  value="about">About Us</option>
                       <option  value="faq">FAQ</option>
                       <option  value="copyright">Copyright policy</option>
                       <option  value="privacy">Privacy</option>
                       <option  value="termsofcondition">Terms Of service</option>
                       
				      </select>

						</div>
						<ul class="giftcards-category-list">
                        <li (click)="redirectToAboutUs()">
                         About Us
                         </li>
                         <li (click)="redirectToFAQ()">
                                FAQ
                                </li>
                         <li (click)="redirectToCopyright()">
							Copyright Policy
                       </li>
                        
                       <li (click)="redirectToPrivacy()">
							Privacy
					   </li>
                         
                        <li (click)="redirectToTerms()">
                         Terms of Service
                         </li>
                       </ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="cards">
					<h2 class="section-title">Most Popular Questions (FAQ)</h2>
					<div class="row">
					    <div class="container">
                            <ul class="questionList">
                                <li (click)="onfaq('q1')">What is your return policy?</li>
                                <li (click)="onfaq('q2')">What is Purvice Choice Card?</li>
                                <li (click)="onfaq('q3')">I forgot my Password, how do I reset?</li>
                                <li (click)="onfaq('q4')">How do I redeem a Purvice Card?</li>
                                <li (click)="onfaq('q5')">How do I redeem a gift card in-store?</li>
                            </ul>
                              
                                <h5 class="faqquestion" id="q1">What is your return policy?</h5>
                                <p class="static-page-text" > All purchases made on the web or through Purvice mobile apps are final.   
                        		</p>


                                <h5 class="faqquestion" id="q2">What is Purvice Choice Card?</h5>
                                <p class="static-page-text" > Purvice Choice Card lets you designate the gift card value to one or more gift cards from our wide array of offerings. This is perfect card for gift. 
   
               					</p>

                                <h5 class="faqquestion" id="q3">I forgot my Password, how do I reset?</h5>
                                <p class="static-page-text" > On Login Screen, Click “Forget Password”. This will walk you through the process of resetting the password.   
               					</p>



                                <h5 class="faqquestion" id="q4">How do I redeem a Purvice Card?</h5>
                                <p class="static-page-text" > Please follow the link in the email. This will take you to website where you will be able to designate the purvice choice card amount among one or more cards.   
               					</p>



                                <h5 class="faqquestion" id="q5">How do I redeem a gift card in-store?</h5>
                                <p class="static-page-text" > Please take the print out of the gift card. Please note that not all cards can be redeemed at store. Please read the terms and conditions as these vary from store to store.   
               					</p>
                     

                        </div>				 
					</div>

				</div>
			</div>
		</div>
	</div>
</section>