<!-- <section id="homeVideo">
		<video playsinline autoplay loop muted style="min-width:100%; min-height:100%;" id="myVideo">
		  <source src="assets/img/home_adpp_is.mp4" type="video/mp4">
		  Your browser does not support HTML5 video.
		  </video>
	  </section> -->

<section id="gifts" style="position: relative;">
	<section id="slide-default-gift" class="home-banner slide col2-gift" style="background-color: #20a8d8; background-position: center top; background-repeat: no-repeat; padding: 50px 0px; position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: visible;">
		<div class="content-width" style="min-height:304.5px;">

			<div class="home-content div-half ">


				<h2 class="section-title" style="color:#ffffff;">Buy, Send, and Redeem Gift Cards</h2>

				<div class="home-text" style="color:#ffffff;margin-top:30px;">
					<p>purvice makes easy for you to give the perfect gift card and conveniently manage them from any device!</p>
				</div>


				<a class="button primary-gift-button dynamic-button btn-blue" (click)="gotoGiftCardPage()" data-alt-label="Shop Now">
                  Shop Now    <i class="fa fa-arrow-right"></i>         </a>

			</div>

			<div class="gift-image-container div-half" style="min-height:304.5px;">
				<img id="bannerImg" src="assets/img/header-image.gif" alt="Buy, Send, and Redeem Gift Cards">

			</div>

		</div>

	</section>
</section>

<section id="retailers">
	<div class="content-width">

		<h2 class="section-title">Buy Gift Cards from over 100+ Retailers</h2>

		<ul class="retailers-list">

			<li class="home-page-gift-cards" *ngFor="let card of cards" (click)="goToDetail(card);">
				<a>
					<img src="{{card.brand.imageUrls[3].imageURL}}"  alt="card.rewardName">
					<h3>{{card.rewardName}}</h3>
				</a>
			</li>

		</ul>


		<div class="gift-accepts">
			<div class="gift-accepts-inner"><span id="purvice-accept-home">purvice Accepts</span>
				<ul id="card-list-home-page" class="payment-list">
					<li>
						<a class="home-page-pay-cards" [routerLink]="['/home/buy-gift-cards-with-credit-cards']">
							<img src="assets/img/images.png" style="height:18px;    margin-bottom: -8px;">
						</a>
					</li>
					<li>
						<a class="home-page-pay-cards" [routerLink]="['/home/buy-gift-cards-with-credit-cards']">
							<img src="assets/img/master.png" style="margin-left: 7px;height: 20px;width: 40px;margin-top: 4px;">
						</a>
					</li>
					<!-- <li>
						<a class="home-page-pay-cards" [routerLink]="['/home/buy-gift-cards-with-credit-cards']">
							<img src="assets/img/Aexpress.png">
						</a>
					</li>
					<li>
						<a class="home-page-pay-cards" [routerLink]="['/home/buy-gift-cards-with-credit-cards']">
							<img src="assets/img/dicss.png">
						</a>
					</li>
					<li>
						<a class="home-page-pay-cards">
							<img src="assets/img/payypal.png" [routerLink]="['/home/buy-gyft-card-with-cpaypal']" style="margin-top: -8px;height: 51px;width: 53px;">
						</a>
					</li>
					<li>
						<a class="home-page-pay-cards">
							<img src="assets/img/ApplePayBig.png"  style="margin-top: 6px;height: 20px;    margin-left: 6px;">
						</a>
					</li> -->


				</ul>
			</div>
		</div>

		<a class="button dynamic-button btn-blue" (click)="gotoGiftCardPage()" data-alt-label="Shop for Gift Cards">
	        Shop for Gift Cards	      </a>


	</div>


</section>
<div *ngIf="videoStatus" class="section-divider">
	<div class="content-width">
		<div class="divider-div"></div>
	</div>
</div>
<section *ngIf="videoStatus" id="promotional-video">
	<div class="content-width">

		<!--<h2 class="section-title">As seen on Ellen, Forbes, and more!</h2>-->
		<p class="home-page-video-title">As seen on Ellen, Forbes, and more!</p>
		<a (click)="open();" class="video-link" style="width:280px;height:157px;">
			<img class="video-placeholder" src="assets/img/videoImage.jpg" alt="purvice!">
		</a>

	</div>

</section>
<div class="section-divider">
	<div class="content-width">
		<div class="divider-div"></div>
	</div>
</div>
<section id="gift-app" class="">
	<div class="content-width">

		<div class="half gift-half">
			<div class="mobile-only section-title home-page-video-title">Say goodbye to your bulky wallet</div>

			<img class="mobileApp" src="assets/img/mobileApp.png" alt="Say goodbye to your bulky wallet">
		</div>

		<div class="half">


			<!--<h2 class="section-title">Say goodbye to your bulky wallet</h2>-->
			<p class=" desktop-only home-page-video-title">Say goodbye to your bulky wallet</p>

			<a *ngIf="!user" class="button dynamic-button white-on-blue" routerLink="/register" data-alt-label="" data-alt-url="">
	          Sign Up Now	        </a>

			<div class="static-page-app-download-section">
				<span class="static-pg-app-down-section-design">------</span>
				<span class="static-pg-app-down-section-design-text"><span *ngIf="!user" >or </span> Download the App [<b>Coming Soon!</b>]</span>
				<span class="static-pg-app-down-section-design">------</span>
			</div>
			<div class="static-page-download-btn">
				<img src="assets/img/ios.png" class="static-page-download-btn-left">
				<img src="assets/img/gogleplay.png" class="static-page-download-btn-right">
			</div>


		</div>

	</div>
	<div class="modal fade" id="youTubePlayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body no-padding height-400">
					<span id="closeVideo" data-dismiss="modal" class="close" aria-hidden="true">x</span>
					<iframe id="promotion-video">
					</iframe>
				</div>
			</div>
		</div>
	</div>
</section>