
<section id="giftcards" class="top-padding-section">
	<div class="content-width ">
	 
		<div class="row">
			<div class="col-md-3">


				<div class="giftcards-sidebar">

					 
					<div class="">
					 <div class="show-on-mobile-view">
                    <select class="category-mobile-view" (change)="onChange($event.target.value)">
					   <option>Select</option>
                       <option  value="about">About Us</option>
                       <option  value="faq">FAQ</option>
                       <option  value="copyright">Copyright policy</option>
                       <option  value="privacy">Privacy</option>
                       <option  value="termsofcondition">Terms Of service</option>
                       
				      </select>

						</div>
						<ul class="giftcards-category-list">
                        <li (click)="redirectToAboutUs()">
                         About Us
                         </li>
                         <li (click)="redirectToFAQ()">
                                FAQ
                                </li>
                         <li (click)="redirectToCopyright()">
							Copyright Policy
                       </li>
                        
                       <li (click)="redirectToPrivacy()">
							Privacy
					   </li>
                         
                        <li (click)="redirectToTerms()">
                         Terms of Service
                         </li>
                       </ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="cards">
					<h2 class="section-title">Privacy</h2>
					<div class="row">
					    <div class="container">

                        

                        <p class="static-page-text">       
purvice, Inc., is referred to in this privacy policy (“Policy”) as “purvice”, “we”, “our”, or “us”.  This Policy explains how personally identifiable information is collected, used and disclosed by purvice with respect to your access and use of our mobile application (“App”), the purvice websites located at https://www.purvice.com  and app.purvice.com (collectively, the “Sites”) and purvice’s online products and services provided therein (collectively with the App and Sites, the “Service”), so that you can make an informed decision about using the Service.  For the avoidance of doubt, the collection, use and disclosure of information by merchants that issue and redeem gift cards using the Service are governed by the privacy policies of those merchants.                        </p>

<p class="static-page-text">       
We reserve the right to change the provisions of this Policy at any time. We will alert you that changes have been made by indicating on this Policy the date it was last updated and, in some cases, we may provide you with additional notice (such as by adding a statement to the homepage of our App and/or Sites or by sending you an email notification). We encourage you to review this Policy from time-to-time to make sure that you understand how any personally identifiable information you provide to us or collected about you will be used.                       
 </p>

 <p class="static-page-text">       
What Is Personally Identifiable Information? </p>

<p class="static-page-text">       
As used in this Policy, the term “personally identifiable information” means information that specifically identifies an individual (such as a name, user name or email address), or information about that individual that is directly linked to information that specifically identifies an individual. Personally identifiable information does not include “aggregate” information, which is data we collect about the aggregate use of the Service or about a group or category of services or users, or data that has been reasonably de-identified and from which individual identities or other personally identifiable information has reasonably been removed. This Policy in no way restricts or limits our collection and use of aggregate or de-identified information.

</p>

<p class="static-page-text">       
What Information Do We Collect?</p>

<p class="static-page-text">       
Active Collection: We collect information from you in various ways when you use the Service. For example, we collect information that you voluntarily provide to us (such as when you send us an email or create a purvice account). Such information may include personally identifiable information, such as your name, email address, social network data, other account data, and financial information. Personal and demographic information may also be collected if you provide such information in connection with posting data, providing access to your online groups and other activities in connection with the Service.
</p>

<p class="static-page-text">       
Automatically Collected When You Use our Service: When you use the Service, some information is also automatically collected. For example, we may automatically collect certain information such as your Internet Protocol (IP) address (which we may use to estimate your approximate location), unique device identifiers, your mobile number, your device model and name, your operating system, your browser type, your preferred language, and your activity on the Service. We may also automatically collect certain logistical information in server logs, including information about how you use various features of our Service and information about the number, frequency and length of each session. We treat this information as personally identifiable information if we combine it with or link it to any of the identifying information mentioned above. Otherwise, this information is used in aggregate or de-identified form only.</p>

<p class="static-page-text">       
In connection with our App, we may collect information about the precise geolocation of your device with your consent. For information about how to disable this collection, please see “Your Choices” below. Please note that our collection of geolocation is in addition to our use of your IP address to estimate your approximate location.
</p>

<p class="static-page-text">       
We may also automatically collect certain information through the use of “cookies” when you use the Service. Cookies are small data files stored on your hard drive at the request of a website. Among other things, cookies help us to improve the Service and your experience. If we link cookies to any personally identifiable information, we will treat this information as personally identifiable information. If you wish to block, erase or be warned of cookies, please refer to your browser manufacturer to learn about these functions. However, if you choose to remove or reject cookies, this could affect certain features or services made available via the Service.
</p>


<p class="static-page-text">       
The use of cookies by our partners, affiliates, tracking utility company, or Service Providers (as defined below) is not covered by this Policy.
</p>


<p class="static-page-text">       
We may use Web beacons or similar technology on the Service. We may link the information gathered by clear gifs to your personally identifiable information. Web beacons are small, invisible graphic images that may be used on the Service or in emails relating to the Service to collect certain information and monitor user activity on the Service, such as to count visits, understand usage effectiveness and to tell if an email has been opened and acted upon.
</p>

<p class="static-page-text">       
Personally identifiable information will be stored on secured servers, and we may store and process personally identifiable information in the United States and other countries.

</p>

<p class="static-page-text">       
Information We Collect From Other Sources: We may also obtain information from other sources and combine that with information we collect through our Service. For example, if you create or log into your account through a social media site, we will have access to certain information from that site, such as your name, account information, profile photo and friends lists, in accordance with the authorization procedures determined by such social media site.
</p>

<p class="static-page-text">       
How Do We Use the Personally Identifiable Information We Collect?
</p>

<p class="static-page-text">       
We use personally identifiable information collected through the Service for the purposes described in this Policy or elsewhere on the Service. For example, we may use personally identifiable information we collect:
</p>

<ul>
<li class="static-page-text">to process and complete any transactions in connection with the Service;</li>
<li class="static-page-text">to request feedback and to otherwise contact you about your use of the Service, products and services of purvice or other companies, and any other news and promotions we think will be of interest to you;</li>
<li class="static-page-text">to provide, improve and enhance products and services purvice or its affiliated companies offer and to market those products and services;</li>
<li class="static-page-text">to respond to your emails, questions, comments, requests and complaints, and to provide customer service;</li>
<li class="static-page-text">to monitor and analyze Service usage and trends;</li>
<li class="static-page-text">to perform analytics for various purposes such as personalizing and improving the Service, and our users’ experiences with the Service (such as providing content or features that match interests), and to increase the Service’s functionality and user friendliness;</li>
<li class="static-page-text">investigate and prevent fraudulent transactions and other illegal activities;</li>
<li class="static-page-text">to notify you about important changes to the Service;</li>
<li class="static-page-text">for any other purpose for which the information was collected; and</li>
<li class="static-page-text">to send you confirmations, updates, security alerts, additional information about our products and services and support and administrative messages, and otherwise facilitate your use of, and our administration and operation of, the Service.</li>
</ul>

<p class="static-page-text">       
What Personally Identifiable Information Do We Share With Third-Parties?
</p>

<p class="static-page-text">       
We will not knowingly share the personally identifiable information we collect from you through the Service with third-parties, except as described in this Policy or on the Service. For example, we may share personally identifiable information as follows:
</p>

<ul>
<li class="static-page-text">with vendors, consultants, and other service providers (such as a credit card processing company to bill you for the Service and an email service provider to send out emails on our behalf) (“Service Providers”) who are engaged by or working with us in connection with the operation of the Service and who need access to such information to carry out their work for us;</li>
<li class="static-page-text">with fraud prevention companies that may use information about you to help us and their other clients prevent fraudulent or other illegal transactions;</li>
<li class="static-page-text">when you give us your consent to do so, including if we notify you on the Service that the information you provide will be shared in a particular manner and you provide such information;</li>
<li class="static-page-text">in an aggregated or de-identified form that does not reasonably identify you;</li>
<li class="static-page-text">when we believe in good faith that we are lawfully authorized or required to do so or that doing so is reasonably necessary or appropriate to comply with the law or legal processes or to respond to lawful requests or legal authorities including, but not limited to, responding to lawful subpoenas, warrants or court orders;</li>
<li class="static-page-text">when we believe in good faith that we are lawfully authorized or required to do so or that doing so is reasonably necessary or appropriate to protect the rights, property, or safety of purvice, our users, our employees, copyright owners, third-parties or the public including, but not limited to, protecting purvice or our users from fraudulent, abusive, inappropriate, or unlawful use of the Service;</li>
<li class="static-page-text">to enforce or apply this Policy, our terms or service, or our other policies or agreements; and</li>
<li class="static-page-text">in connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition, or in any other situation where personally identifiable information may be disclosed or transferred as one of the business assets of purvice.</li>
</ul>

<p class="static-page-text">       
You understand that when you use the Service, information you provide via the Service, information you grant access to by using the Service, as well as any information you share with individuals through the Service, will be available to other users and in some cases may be made publicly available.
</p>

<p class="static-page-text">       
We are not responsible for the actions of Service Providers or other third-parties, nor are we responsible for any additional information you provide directly to any other users or third-parties, and we encourage you to become familiar with third-party privacy practices before disclosing information directly to any such third-parties. Nothing herein restricts the sharing of aggregated or anonymized information, which may be shared with third-parties without your consent.
</p>


<p class="static-page-text">       
    Access to Personally Identifiable Information
</p>

<p class="static-page-text">       
If your personally identifiable information changes, or if you no longer desire the Service, you may correct, update or delete it by making the change via the settings link available via our Service or by emailing our customer support at support@purvice.com
</p>


<p class="static-page-text">       
 If you wish to request the deletion of an unauthorized account, you may contact us at support@purvice.com
We will retain your information for as long as your account is active or as needed to provide the Service. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes and enforce our agreements.
 </p>

 <p class="static-page-text">       
 Tell-A-Friend
  </p>

<p class="static-page-text">       
 If you choose to use our referral service to tell a friend about the Service, we will ask you for your friend’s contact information. We may use telephone numbers, email addresses, Facebook and other social networks to invite friends to use the Service. purvice stores the contact information of your friends for the sole purpose of inviting your friends to use the Service and tracking the success of our referral program.
  </p>

  <p class="static-page-text">   
      Links to Other Websites    
  </p>

 <p class="static-page-text">   
      The Service may contain links to other websites. Any personally identifiable information you provide on the linked pages is provided directly to that third-party and is subject to that third-party’s privacy policy. This Policy does not apply to such linked websites, and we are not responsible for the content or privacy and security practices and policies of these websites or any other websites that are linked to/from the Service. We encourage you to learn about their privacy and security practices and policies before providing them with personally identifiable information.
</p>

 <p class="static-page-text">   
Security – What Steps Do We Take To Protect Your Information Online?
</p>

<p class="static-page-text">
    We take reasonable measures to protect your personally identifiable information in an effort to prevent loss, misuse, and unauthorized access, disclosure, alteration and destruction. Please be aware, however, that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can guarantee against any interception or any other type of misuse. Therefore, we cannot guarantee its absolute security. To assist with the protection of personally identifiable information, you must keep your password confidential and not disclose it to any other person. You are responsible for all uses of the Service by any person using your password. Please advise us immediately if you believe your password has been misused. If you have any questions about security on our Service, you can contact us at support@purvice.com.
</p>

<p class="static-page-text">
Advertising and Analytics Services
</p>

<p class="static-page-text">
We may use third-party ad networks to display advertising within our Service and across the Internet, and we may use our own and third-party analytics services for various purposes including better understanding and enabling your use of our Service. These services may involve the use of Web beacons, cookies, and other tracking technologies to collect information about your activities on our Service and other websites and online services, including device identifiers, web browser, pages viewed, time spent on pages, links clicked and conversion information. Further, your collected information and the analytics services may be used by purvice and others to, for example, provide you with targeted advertising based upon your interests, analyze and track transaction-related and other collected data, and determine the popularity of certain content. Many of the ad networks on our Service participate in the Digital Advertising Alliance’s self-regulatory program, which allows you to opt out of having your browser information used for interest-based advertising. For more information, please visit www.aboutads.info/choices. Please note that opting out of interest-based advertising specifically does not opt you out of all advertising generally. You may continue to receive generic ads from ad networks on our Service.
</p>

<p class="static-page-text">
Connecting Via Social Networks
</p>

<p class="static-page-text">
You can log in to the Service using sign-in services from your social network such as Facebook Connect or an Open ID provider. Certain services, like Facebook Connect, give you the option to post information and to share such information with others within your social network. If you stop using the social network from which you signed-in to use the Service, you agree that we will nevertheless retain the personally identifiable information from such social network to which you provided us access in accordance with this Policy.
</p>

<p class="static-page-text">
Social Media Features and Widgets
</p>

<p class="static-page-text">
The Service includes social media features, such as the Facebook Like button and widgets, the Share this button, and interactive mini-programs that run within the Service. These features may collect your IP address, and may set a cookie to enable the feature to function properly. Your interactions with these features are governed by the privacy policy of the company providing them.
</p>

<p class="static-page-text">
    Your Choices
</p>

<p class="static-page-text">
    Promotional Communications. You may “opt-out” of receiving marketing or promotional communications from us by following the instructions in those messages or by emailing us at support@purvice.com. If you opt out, we may still send you non-promotional messages, such as messages about your account, previous transactions or our ongoing business relations.
</p>

<p class="static-page-text">
    If you initially consent to our collection of precise geolocation information via our App, you can subsequently stop the collection of this information at any time by changing the preferences on your mobile device. If you do so, certain features of our App will no longer function. You may also stop our collection of geolocation information by following the standard uninstall process to remove our App from your device. Please note that if you opt out of our collection of geolocation information, we may still use your IP address to estimate your approximate location.
</p>

<p class="static-page-text">
    Cookies. Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our Service.
</p>



                         </div>				 
					</div>

				</div>
			</div>
		</div>
	</div>
</section>