.subtitle {
    margin: 0 0 2em 0;
    color:#8491a0;
    font-weight: 600;
    line-height: 55px;
    text-transform: uppercase;
  }
  .fancy {
	line-height: 0.5;
	text-align: center;
  }
  .fancy span {
	display: inline-block;
	position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 1px dashed #d2d7dd;
	
	top: 0;
	width: 70px;
  }
  .fancy span:before {
	right: 100%;
	margin-right: 15px;
  }
  .fancy span:after {
	left: 100%;
	margin-left: 15px;
	}

    .noAccount{
        margin-top: 20px;
        font-weight: 600;
    }

    .or-wrapper {
        margin: 0 auto;
        position: relative;
    }

    .or-wrapper div.sep {
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 90;
        border-top: 1px dashed #d2d7dd;
    }

    .or-wrapper p {
        position: relative;
        display: inline-block;
        margin: 5px 0;
        padding: 0 10px;
        color: #8491a0;
        font-weight: 600;
        line-height: 55px;
        text-transform: uppercase;
        background-color: #fff;
        z-index: 100;
    }

    .footer-divider{
      border-bottom: 1px solid black;
    }

    hr { 
      margin-bottom: 1rem;
      border: 0;
      border-top: 2px solid rgba(7,34,15,.1);
      background-color: #53bbe2;
    }

    .copy{
      color:#53bbe2;
      cursor: pointer;
    }

    .footer-link{
      color:#53bbe2;
      margin-left: 49%;
    }

    @media screen and (max-width: 320px) {
    .copy{
      margin-right: 0%;
    }
    .footer-link{
      margin-left: 0% !important;
    }
    }

    @media screen and (max-width: 375px) {
      .copy{
        margin-right: 0%;
      }
      .footer-link{
        margin-left: 0% !important;
      }
      }

      @media screen and (max-width: 425px) {
        .copy{
          margin-right: 0%;
        }
        .footer-link{
          margin-left: 0% !important;
        }
        } 
        
        @media screen and (max-width: 768px) {
          .copy{
            margin-right: 0%;
          }
          .footer-link{
            margin-left: 0% !important;
          }
          }     

          .card{
            border-top: 5px solid #63c2de;
          }

          .kep-login-facebook{
            padding: unset!important;
            font-size: unset!important;
            text-transform: unset!important;
            border-radius: 4px!important;
          }
          .google_btn{
            background-color: #4285f4!important;
            border-radius: 4px!important;
            width: -webkit-fill-available!important;
            color: #fff!important;
            font-weight: 600!important;
          }
          .kep-login-facebook.metro{
            width: -webkit-fill-available;
            height:97%!important;
          }


          button {
            margin-bottom: 0px!important;
        }