<div class="animated fadeIn">
  <table id="userTable" class="table table-bordered table-hover table-responsive ">
    <thead>
      <tr class="table-design">
        <th style="width:52px;">Order Id</th>
        <th>Card Name </th>
        <th>Card Image </th>
        <th>Order Type</th>
        <th>Order Status</th>
        <th> Order Detail</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders.result;let i = index ">
        <td>{{order.id}}</td>
        <td> {{order.item.brand.brandName}}</td>
        <td><img src="{{ order.item.brand.imageUrls[0].imageURL}} " class="order-list-img"></td>

        <td>{{order.orderType}}</td>
        <td>{{order.tangoOrderStatus=='Completed'?'Successful':order.tangoOrderStatus}}</td>
        <td>

          <input id="tbl-btn" type="button" value="View Detail" (click)="showDetails(i)" class="btn btn-primary instant btn-rounded-border">
        </td>
      </tr>
    </tbody>
  </table>
</div>






<div *ngIf="showPopUp" class="modal fade" id="ordarsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content order-detail-pop">
      <div class="modal-header" id="cat-assign-model-header">
        <strong> Order Details</strong>
        <button type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body order-detail-modal-body">

        <div class="row">
          <div class="col-sm-3" id="order-detail-pop-image-section">
            <img class="order-det-pop-card-image" src="{{ orders.result[indexId].item.brand.imageUrls[0].imageURL}}">
          </div>
          <div class="col-sm-4">
            <h5 class="order-detail-modal-label">Card Name</h5>
            <h5 class="order-detail-modal-value">{{orders.result[indexId].item.brand.brandName}}</h5>

            <h5 class="order-detail-modal-label">Total Value/Amount</h5>
            <h5 class="order-detail-modal-value">${{orders.result[indexId].amount}}</h5>

            <h5 class="order-detail-modal-label">Order Type: Self/Friend</h5>
            <h5 class="order-detail-modal-value">{{orders.result[indexId].orderType}}</h5>

            <h5 class="order-detail-modal-label">Order Date</h5>
            <h5 class="order-detail-modal-value">{{convertDate(orders.result[indexId].orderDate)}}</h5>


            <h5 *ngIf="orders.result[indexId].orderType!='Self'" class="order-detail-modal-label">Friend's Email:</h5>
            <h5 *ngIf="orders.result[indexId].orderType!='Self'" class="order-detail-modal-value">{{orders.result[indexId].friendEmailId}}</h5>
          </div>



          <div class="col-sm-4">
            <h5 class="order-detail-modal-label">Order Number</h5>
            <h5 class="order-detail-modal-value">{{orders.result[indexId].id}}</h5>

            <h5 class="order-detail-modal-label">Payment Status</h5>
            <h5 class="order-detail-modal-value"> {{orders.result[indexId].paymentStatus=='Completed'?'Successful':orders.result[indexId].paymentStatus}}</h5>

            <h5 class="order-detail-modal-label">Order Status</h5>
            <h5 class="order-detail-modal-value">{{orders.result[indexId].tangoOrderStatus=='Completed'?'Successful':orders.result[indexId].tangoOrderStatus}}</h5>

            <h5 *ngIf="orders.result[indexId].orderType!='Self'" class="order-detail-modal-label">Scheduled Date</h5>
            <h5 *ngIf="orders.result[indexId].orderType!='Self'" class="order-detail-modal-value">{{convertDate(orders.result[indexId].scheduledDate)}}</h5>

            <h5 *ngIf="orders.result[indexId].orderType!='Self'" class="order-detail-modal-label">Friend's Phone:</h5>
            <h5 *ngIf="orders.result[indexId].orderType!='Self'" class="order-detail-modal-value">{{orders.result[indexId].friendContact}}</h5>
          </div>


        </div>
        <h5 *ngIf="orders.result[indexId].orderType!='Self'&&orders.result[indexId].friendMessage" class="order-detail-modal-label friends-msg">Friend's Message:</h5>
        <h5 *ngIf="orders.result[indexId].orderType!='Self'&&orders.result[indexId].friendMessage" class="order-detail-modal-value friends-msg">
          {{orders.result[indexId].friendMessage}}</h5>








      </div>

    </div>
  </div>
  </div>