<section id="giftcards">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-xs-12 friend-details">
                <div class="friend-info ">
                    <div *ngIf="showCard" class="form-group row ">
                        <div class="order-detail">
                            <h2>Order Summary</h2>
                        </div>
                        <div class="icon col-sm-3 col-30 ">
                            <img src="{{selectedCard.brand.imageUrls[1].imageURL}}" class="img-icon" alt="...">
                        </div>
                        <div class="col-sm-9 col-70 ">
                            <div class="form-group row no-margin selected-card-detail">
                                <div class="col-md-12">
                                    <h4> {{selectedCard.brand.brandName}}</h4>
                                </div>

                                <div class="col-md-12">
                                    <div> ${{selectedCard.selectedPrice}}</div>
                                    <a class="change-link" (click)="goToCards()" >CHANGE</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <form #form="ngForm">
                        <div class="form-group row field-border no-margin-bottom ">
                            <label for="inputEmail3" class="col-sm-3 col-form-label friend-heading">Recipient Name</label>
                            <div class="col-sm-9">
                                <input type="text" (keyup)="friendName($event)" class="form-control styled" id="friends_name" name="friends_name" [(ngModel)]="model.friendName" placeholder="Recipient Name">
                              <div *ngIf="!firstNameStatus" class="alert alert-danger">
                                 Please provide recipient name         
                             </div>
                            </div>
                         
                        </div>
                           

                        <div class="form-group row field-border no-margin-bottom ">
                            <label for="inputEmail3" class="col-sm-3 col-form-label friend-heading">Schedule Delivery</label>
                          
                            <div class="col-sm-9">


                            <div id="radio-instant">
                                  <input (click)="showDatePicker()" required #schedule="ngModel" class="form-check-input styled" [(ngModel)]="model.scheduleValue"  type="radio" class="big" name="schedule"   value="instance" >
                            </div>

                            <div id="instant-radio-lab">
                                 <label for="instant" style="font-weight: 700;">Instant</label>
                            </div>

                              <div id="schedule-radio" >
                                  <input (click)="hideDatePicker()" required #schedule="ngModel" [(ngModel)]="model.scheduleValue" class="form-check-input styled" type="radio" class="big"  name="schedule" 
                                   value="schedule">
                            </div>

                              <div id="schedule-radio-lab">
                                 <label for="schedule" style="font-weight: 700;">Schedule</label>
                            </div>

                             <div id="show-hide-date-picker" >
                                  <input #OnDate type="text" data-date-format='yyyy-mm-dd' class="form-control styled" id="datepicker" placeholder="mm/dd/yy">

                                   <i class="fa fa-calendar" aria-hidden="true" id="icon-calendar"></i>
                            </div>

<!--<div [hidden]="schedule.valid || schedule.pristine" class="alert alert-danger">
    Please select date type
</div>-->



                            </div>
                        </div>



                        <div class="form-group row field-border no-margin-bottom">
                            <label for="inputEmail3" class="col-sm-3 col-form-label friend-heading">Delivery Options</label>
                            <div class="col-sm-9">
                                <div class="form-group row no-margin">
                                    <label for="inputEmail3" class=" col-xs-2 col-sm-3  col-form-label col-25">Email</label>
                                    <div class="col-75">
                                        <input type="email" autocomplete="off" (keyup)="friendEmail($event)" [(ngModel)]="model.friendEmailId" class="  form-control styled"  name="email" id="inputEmail3" placeholder="Email">
                                    <div *ngIf="!EmailStatus" class="alert alert-danger">
                                    Provide valid email address      
                             </div>
                                    </div>
                                </div>
                                <!-- 
                                <div class="form-group row no-margin">
                                    <label for="inputEmail3" class=" col-xs-2 col-sm-3  col-form-label col-25 ">Text Message</label>
                                    <div class=" col-75">
                                        <input type="text" class="form-control styled" [(ngModel)]="model.friendContact"  id="message" name="message" placeholder="e.g.415 555 55555">
                                    </div>
                                </div>
                                 -->
                            </div>
                        </div>


                        <div class="form-group row field-border no-margin-bottom ">
                            <label for="inputEmail3" class="col-sm-3 col-form-label friend-heading">Add a Message</label>
                            <div class="col-sm-9">                                
                                  <textarea  class="form-control styled"id="message" name="textarea"  [(ngModel)]="model.friendMessage"  placeholder="Hi, &#10; &#10;I thought you would like this gift."  rows="10" cols="17"></textarea>
                            </div>
                        </div>

                        <button [disabled]="!firstNameCheckoutStatus || !CheckOutStatusEmail" type="button" class="btn btn-lg btn-block checkout-button instant" (click)="createOrder(model,OnDate.value)">Proceed to Checkout</button>
                    </form>
                </div>
            </div>            
        </div>

        <br/>
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="friend-info ">
                    <p class="text-friend-details-page">
						&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resultError" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div id="delete-cat-confirm-model" class="modal-content model-rounded-border responsive-device">
      <div class="modal-header no-border no-margin  ">
        <h5 class="modal-title delete-warning-msg">{{message}}</h5>
            <button  type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer  no-border">        
        <button type="button" data-dismiss="modal" class="btn btn-danger instant btn-rounded-border">Ok </button>
      </div>
    </div>
  </div>
</div>
</section>