<section id="giftcards" class="">
	<div class="content-width ">
		<div class="custom-width ">
				<div class="row favLink"><span class="showFav"><i class="fa fa-heart"></i> My Favorites</span></div>
			<div class="fav-container row">
				<h2>My Favorites</h2>
							<div id="favItems" class="favItems row">
									<div class="fav-result">
											Sorry, no Favourite Gift Cards found.</div>
					</div>
			</div>
			
			<div class="row">
				
				<div class="col-md-3  padding-right-15 padding-right-none">
					<h1 class="serach-title pl-4">Buy Gift Cards Online</h1>
				</div>
				<div class="col-md-9 padding-left-15 padding-left-none">
					<div class="search">
						<input id="card-search" name="brandSearch" #brandSearch [(ngModel)]="searchText" (ngModelChange)="getCards(searchText)" class="card-search"
							type="text" placeholder="Search for brand">
							<i class="fa fa-search card-search-icon"></i>
							<span *ngIf="showResultMessage&&searchText">
							<div class="search-result">
								Sorry, no results found for <b>"{{searchText}}"</b></div>
						</span>
					</div>
				</div>
			</div>
		</div>

		
		<div class="custom-width ">
			<div class="row">

				<!-- <div class="col-md-3 padding-right-15 padding-right-none">


					<div class="giftcards-sidebar pl-4">

						<h3 class="giftcards-sidebar-title">Categories</h3>
						<div class="">
							<div class="show-on-mobile-view">

								<select class="category-mobile-view" [(ngModel)]="selectedCategoryName" (change)="setCategory(selectedCategoryName)">
									      <option [value]="selectCategory" disabled selected>Select Category</option>
								<option  value="All Categories">All Categories</option>
									<option  *ngFor="let category of categories" value="{{category.categoryname}}">{{category.categoryname}}</option>
				
							</select>
							</div>
							<ul class="giftcards-category-list">

								<li (click)="getAllItems();" [ngClass]="{ 'active': showAll }">
									<div class="floating-box category-icon">
										<i class="fa fa-book  fa-lg category-list-img" aria-hidden="true"></i>
									</div>

									<div class="floating-box floating-box-right first-letter">
										All Categories
									</div>

								</li>
								<li *ngFor="let category of categories" [ngClass]="{ 'active': category.id == selectedCategory.id }" (click)="setCategory(category.categoryname);">
									<div class="floating-box category-icon">
										<i class="fa {{category.categoryImage}} fa-lg category-list-img"></i>
									</div>

									<div class="floating-box floating-box-right first-letter">
										{{ category.categoryname}}
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div> -->
				<!-- <div >
						<div> Your Content </div>
						<div> Your Content </div>
						<div> Your Content </div>
						<div> Your Content </div>
						<div> Your Content </div>
						<div> Your Content </div>
						<div> Your Content </div>
					  </div> -->
					  <div class="owl-carousel-container">
							<div class="owl-carousel-inner-container">
								<div class="owl-carousel">

										<div (click)="getAllItems();" class="cat-container" [ngClass]="{ 'active': showAll }">
											<div class="floating-box category-icon">
												<i class="fa fa-book  fa-lg category-list-img" aria-hidden="true"></i>
											</div>
			
											<div class="floating-box floating-box-right first-letter">
												All Categories
											</div>
			
										</div>
										<div *ngFor="let category of categories" class="cat-container" [ngClass]="{ 'active': category.id == selectedCategory.id }" (click)="setCategory(category.categoryname);">
											<div class="floating-box category-icon">
												<i class="fa {{category.categoryImage}} fa-lg category-list-img"></i>
											</div>
			
											<div class="floating-box floating-box-right first-letter">
												{{ category.categoryname}}
											</div>
										</div>
			
									</div>
								</div>
					  </div>
					  
				<div class="col-md-12  padding-left-15 padding-left-none cards-top-margin">
					<div class="cards">


						<div *ngIf="showLoader">
							<h5 class="text-center">
								<i class="fa  fa-spinner fa-2x "></i></h5>
						</div>
						<div *ngIf="selectedCategoryName&&!showLoader;else other_content">
							<h5 class="text-left selected-category">
								{{selectedCategoryName}} </h5>
						</div>
						<ng-template #other_content>
							<h5 class="no-category">
							</h5>
						</ng-template>
						<div *ngIf="noCardAvailable">
							<h5 class="text-center selected-category">
								Sorry, no card available in this category <b>"{{selectedCategoryName}}"</b> </h5>
						</div>
						<div class="row">

							<div id="{{card.id}}" class="col-md-12 cards-list" *ngFor="let card of cards; let i=index">
								<div class="col-md-3 col-sm-6 col-xs-6 ml-2 subcard_{{subcard.id}}_{{subcard.brand.id}}" [ngClass]="index!=0 ? 'giftcard' : ''" *ngFor="let subcard of card.cardData"
									(click)="extendCard(card,subcard);openPanel=false;" [attr.parent-id]="subcard.id" [attr.brand-id]="subcard.brand.id">

									<img class="giftcard-image" src="{{subcard.brand.imageUrls[5].imageURL}}">
									<h3 class="giftcard-title">
										{{subcard.brand.brandName}}</h3>
										<div class="gift-switch-wrapper">
											<div class="gift-switch">
												<span *ngIf="subcard.minValue" class="card-range">
												${{subcard.minValue}} - ${{subcard.maxValue}}             </span>
												<span class="fav-icon" title="{{subcard.brand.brandName}}"><i class="fa fa-heart"></i></span>
											</div>
										</div>

							</div>
							<div class="row col-sm-12" *ngIf="card.showCard">
								<div class="card-details card-controls" style="display: block;">
									<span id='close' class="close-card-details" (click)="hideDetails()">x</span>
									<div class="card-details-left col-md-8 col-60">
										<div class="card-details-header">
											<a href="" (click)="goToDetail(selectedCard);$event.preventDefault()">
												<img class="card-details-image" src="{{selectedCard.brand.imageUrls[5].imageURL}}">
											</a>

											<h4 class="card-link " (click)="goToDetail(selectedCard);">
												<a id="ipad-portrait-card-txt">
            						       {{selectedCard.brand.brandName}}               </a>
											</h4>

										</div>

										<div id="ipad-port-view-card-des" [innerHTML]="selectedCard.brand.shortDescription"></div>

										<div *ngIf="selectedCard.brand" id="accordion" class="no-padding mt-2" style="margin-bottom: 50px;" role="tablist" aria-multiselectable="true">
											<div class="card">
												<div class="card-header cursor term-header" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
													aria-controls="collapseOne" (click)="openPanel=!openPanel" role="tab" id="headingOne">
													<div class="mb-0 r">
														Terms and Conditions
														<i class="fa fa-plus  float-right mt-1" [hidden]="openPanel" aria-hidden="true"></i>
														<i class="fa fa-minus float-right mt-1" [hidden]="!openPanel" aria-hidden="true"></i>
													</div>
											</div>

											<div id="collapseOne" class="collapse term-detail" role="tabpanel" aria-labelledby="headingOne">
												<div *ngIf="selectedCard.brand" class="card-block ">
													<div [innerHTML]="selectedCard.brand.terms" class="no-padding"> </div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="card-selector col-md-4 col-40">
									<div class="change-value-wrap">
										<span *ngIf="selectedCard.minValue" class="change-value lower" [ngClass]="!allowIncrement ? 'disabled' : ''" (click)="decrementPrice()"><i class="fa fa-minus"></i></span>
										<span class="card-price">${{selectedCard.selectedPrice}}</span>
										<span class="change-value higher" *ngIf="selectedCard.maxValue" [ngClass]="!allowDecrement ? 'disabled' : ''" (click)="incrementPrice()"><i class="fa fa-plus"></i></span>

									</div>
									<br>
									<button class="btn btn-info button  blue-on-white cursor" (click)="buyForSelf(selectedCard);">Buy for Yourself</button>
									<div class="or"> OR </div>
									<button (click)="goToFriend(selectedCard);" class="btn btn-info button  blue-on-white cursor">Send as a Gift</button>

								</div>



							</div>
						</div>
					</div>
					<div id="{{card.id}}" class="col-md-12 show-on-mobile-view" *ngFor="let card of viewCards">
						<div class="col-md-3 col-sm-6 col-xs-6 ml-2 giftcard subcard_{{subcard.id}}_{{subcard.brand.id}}" [attr.parent-id]="subcard.id" [attr.brand-id]="subcard.brand.id" *ngFor="let subcard of card.cardData" (click)="extendViewCard(card,subcard);openCardPanel=false;">

							<img alt="subcard.name" class="giftcard-image" src="{{subcard.brand.imageUrls[5].imageURL}}">
							<h3 class="giftcard-title">
								{{subcard.rewardName}}</h3>
							<div class="gift-switch-wrapper">
								<div class="gift-switch">
									<span *ngIf="subcard.minValue" class="card-range">
										${{subcard.minValue}} - ${{subcard.maxValue}}             </span>
										<span class="fav-icon" title="{{subcard.brand.brandName}}"><i class="fa fa-heart"></i></span>
								</div>
							</div>
								



							
						</div>
						<div class="col-md-12" *ngIf="card.showCard">
							<div class="card-details card-controls card-align" style="display: block;">
								<span id='close' class="close-card-details" (click)="hideDetails()">x</span>
								<div class="card-details-left col-md-8">
									<div class="card-details-header">
										<a href="" (click)="$event.preventDefault()">
											<img class="card-details-image" src="{{selectedCard.brand.imageUrls[1].imageURL}}">
										</a>

										<h4 class="card-link" (click)="goToDetail(selectedCard);">

											{{selectedCard.brand.brandName}}
										</h4>

									</div>

									<div [innerHTML]="selectedCard.brand.shortDescription"></div>
									<div *ngIf="selectedCard.brand" id="accordionCard" class="no-padding mt-2" style="margin-bottom: 50px;" role="tablist" aria-multiselectable="true">
											<div class="card">
												<div class="card-header cursor term-header" data-toggle="collapse" data-parent="#accordionCard" href="#collapseTwo" aria-expanded="true"
													aria-controls="collapseOne" (click)="openCardPanel=!openCardPanel" role="tab" id="headingOne">
													<div class="mb-0 r">
														Terms and Conditions
														<i class="fa fa-plus  float-right mt-1" [hidden]="openCardPanel" aria-hidden="true"></i>
														<i class="fa fa-minus float-right mt-1" [hidden]="!openCardPanel" aria-hidden="true"></i>
													</div>
											</div>

											<div id="collapseTwo" class="collapse term-detail" role="tabpanel" aria-labelledby="headingOne">
												<div *ngIf="selectedCard.brand" class="card-block ">
													<div [innerHTML]="selectedCard.brand.terms" class="no-padding"> </div>
												</div>
											</div>
										</div>
									</div>

								</div>

								<div class="card-selector col-md-4">
									<div class="change-value-wrap">
										<span *ngIf="selectedCard.minValue" class="change-value lower btn-lower" [ngClass]="!allowIncrement ? 'disabled' : ''" (click)="decrementPrice()"><i class="fa fa-minus"></i></span>
										<span class="card-price">${{selectedCard.selectedPrice}}</span>
										<span class="change-value higher btn-lower" *ngIf="selectedCard.maxValue" [ngClass]="!allowDecrement ? 'disabled' : ''" (click)="incrementPrice()"><i class="fa fa-plus"></i></span>

									</div>
									<br>
									<button class="btn btn-info button  blue-on-white cursor" (click)="buyForSelf(selectedCard);">Buy for Yourself</button>
									<div class="or"> OR </div>
									<button (click)="goToFriend(selectedCard);" class="btn btn-info button  blue-on-white cursor">Send as a Gift</button>

								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content model-rounded-border">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"> Confim Your Email Address</h5>
					<button type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				</div>
				<div class="modal-body">
					<form #emailForm="ngForm">


						<div class="form-group row">
							<label class="text-danger col-sm-12 text-center form-label">* Please provide your valid email address for order verification</label>
						</div>
						<div class="form-group row">
							<label for="inputEmail3" class="col-sm-3 col-form-label ">User Email</label>
							<div class="col-sm-9">
								<input #email="ngModel" type="text" [(ngModel)]="model.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control "
									name="username" required (keyup)="getEmailStatus($event)" autocomplete="off">

									<div class="alert alert-danger field-alert" [hidden]="email.valid  || email.pristine">
										<div *ngIf="email.errors && email.errors.required">
											Email is required
										</div>
										<div *ngIf="email.errors && email.errors.pattern">
											Email is invalid
										</div>
									</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputEmail3" class="col-sm-3 col-form-label ">Confirm Email</label>
							<div class="col-sm-9">
								<input #confirmEmail="ngModel" type="text" [(ngModel)]="model.confirmEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
									class="form-control " id="confirmEmail" name="confirmEmail" required (keyup)="getVerifyEmailStatus($event)" autocomplete="off">

									<div class="alert alert-danger" *ngIf="!emailStatusMatched">
										Both the email should be matched
									</div>
							</div>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary instant btn-rounded-border" (click)="close(emailForm)" data-dismiss="modal">Close</button>
					<button type="button" (click)="submit(emailForm)" data-dismiss="modal" [disabled]="!emailForm.valid || !emailStatusMatched"
						class="btn btn-primary instant btn-rounded-border">Save </button>
				</div>

			</div>
		</div>
	</div>
</section>