<section id="card-detail-section-top">
    <div class="container">
        <div *ngIf="showDetails" class="row card-detail-selector-outer">
            <div class="col-sm-5 row card-detail detail-page-card-img-top">
                <div class="col-30">
                    <img class="img-responsive img-size" alt="Bloomingdale's Gift Card" title="Bloomingdale's Gift Card" src="{{selectedCard.brand.imageUrls[5].imageURL}}">
                </div>

                <div class="card-selector col-md-3 col-70">
                    <div class="change-value-selector">
                        <span *ngIf="selectedCard.minValue" class="change-value lower btn-align card-detail-page-value-changer" [ngClass]="!allowIncrement ? 'disabled' : ''"
                            (click)="decrementPrice()"><i class="fa fa-minus"></i></span>
                            <span id="details-page-card-selector-prize" class="card-price card-price-align">${{selectedCard.selectedPrice}}</span>
                            <span class="change-value higher btn-align card-detail-page-value-changer" *ngIf="selectedCard.maxValue" [ngClass]="!allowDecrement ? 'disabled' : ''"
                                (click)="incrementPrice()"><i class="fa fa-plus"></i></span>

                    </div>
                    <br>
                    <button class="btn btn-info button  blue-on-white buy-align instant" (click)="buyForSelf(selectedCard)">Buy for Yourself</button>
                    <div class="or"> or </div>
                    <button (click)="goToFriend(selectedCard);" class="btn btn-info button  blue-on-white buy-align instant">Send as a Gift</button>

                </div>
            </div>
            <div class="divider-v"></div>
            <div class="col-sm-7 card-text details-page-top-section-text">
                <div class="card-detail-title"> {{ selectedCard.brand.brandName }}</div>

                <div class="single-card-description" [innerHTML]="htmlToPlaintext(selectedCard.brand.description)"> </div>
            </div>

        </div>
      
    </div>
      <div *ngIf="showDetails" id="accordion" class="container no-padding mt-2" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header cursor"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="openPanel=!openPanel"  role="tab" id="headingOne">
                    <h5 class="mb-0">
                     
          Terms and Conditions
       <i class="fa fa-plus  float-right" [hidden]="openPanel" aria-hidden="true"></i>
       <i class="fa fa-minus float-right" [hidden]="!openPanel" aria-hidden="true"></i>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block single-card-description">
                        <div [innerHTML]="selectedCard.brand.terms"></div>
                    </div>
                </div>
            </div>
        </div>
</section>


<section id="giftcards">
    <div class="container">
        <div class="row p-3">
            <div class="col-sm-9">


                <div class="section-heading">Who is purvice?</div>
                <div class="aboutus">We are the #1 trusted mobile gift card app where you can easily upload, buy, and redeem gift cards in stores
                    or online. Use purvice to also keep track of gift card balances and instantly send friends and family gift
                    cards they’ll love.</div>

                <div class="gift-accepts">
                    <div class="gift-accepts-inner"><span id="purvice-accept-home">purvice Accepts</span>
                        <ul id="card-list-home-page" class="payment-list">
                            <li>
                                <a class="home-page-pay-cards" [routerLink]="['/home/buy-gift-cards-with-credit-cards']">
                                    <img src="assets/img/images.png" style="height:18px;    margin-bottom: -8px;">
                                </a>
                            </li>
                            <li>
                                <a class="home-page-pay-cards" [routerLink]="['/home/buy-gift-cards-with-credit-cards']">
                                    <img src="assets/img/master.png" style="margin-left: 7px;height: 20px;width: 40px;margin-top: 4px;">
                                </a>
                            </li>
                            <!-- <li>
                                <a class="home-page-pay-cards" [routerLink]="['/home/buy-gift-cards-with-credit-cards']">
                                    <img src="assets/img/Aexpress.png">
                                </a>
                            </li>
                            <li>
                                <a class="home-page-pay-cards" [routerLink]="['/home/buy-gift-cards-with-credit-cards']">
                                    <img src="assets/img/dicss.png">
                                </a>
                            </li>
                            <li>
                                <a class="home-page-pay-cards">
                                    <img src="assets/img/payypal.png" [routerLink]="['/home/buy-gyft-card-with-cpaypal']" style="margin-top: -8px;height: 51px;width: 53px;">
                                </a>
                            </li>
                            <li>
                                <a class="home-page-pay-cards">
                                    <img src="assets/img/ApplePayBig.png" style="margin-top: 6px;height: 20px;    margin-left: 6px;">
                                </a>
                            </li> -->


                        </ul>
                    </div>
                </div>
            </div>

            <div *ngIf="videoStatus" class="col-sm-3 responsive-margin">
                <a (click)="open();" class="video-link">
                    <img class="video-img-card-details-page" alt="purvice" src="assets/img/videoImage.jpg">
                </a>
                <p class="video-note">As seen on the Ellen DeGeneres Show! Watch the video!</p>


            </div>
        </div>
    </div>
</section>
<div class="section-divider">
    <div class="content-width">
        <div class="divider-div"></div>
    </div>
</div>


<section id="giftcards">

    <div class="container">
        <p class="add-card-msg">You may also like...</p>

        <div class="row">
            <div class="col-sm-3 iphone-6-landscape" *ngFor="let card of feturedCards; let i=index" (click)="goToDetail(card)">
                <a>
                    <div class="card-item-parent">
                        <div class="card-item-parent-child">
                            <div class="card-item-parent-child-right">
                                <h4 class="card-item-name">{{card.brand.brandName }}</h4>

                                <span *ngIf="card.minValue; else fixedValue" class="card-value-range">
                              ${{ card.minValue}} -  ${{ card.maxValue}}               
                              </span>
                                <span fixedValue class="card-value-range">
                              ${{ card.fixedValue}}
                              </span>

                            </div>
                            <div class="card-item-parent-child-left">

                                <img class="img-responsive detail-page-group-image" alt="Bloomingdale's Gift Card" title="Bloomingdale's Gift Card" src="{{card.brand.imageUrls[0].imageURL}}">
                            </div>
                        </div>
                    </div>
                </a>
            </div>




        </div>
    </div>

</section>
<div class="modal fade" id="youTubePlayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body no-padding height-400">
                <span id="closeVideo" data-dismiss="modal" class="close" aria-hidden="true">x</span>
                <iframe id="promotion-video">
                </iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content model-rounded-border">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Confim Your Email Address</h5>
                <button type="button" class="close instant" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #emailForm="ngForm">


                    <div class="form-group row">
                        <label class="text-danger col-sm-12 text-center form-label">* Please provide your valid email address for order verification</label>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label ">User Email</label>
                        <div class="col-sm-9">  
                            <input #email="ngModel" type="text" [(ngModel)]="model.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control "
                                name="username" required (keyup)="getEmailStatus($event)" autocomplete="off">

                                <div class="alert alert-danger field-alert" [hidden]="email.valid  || email.pristine">
                                    <div *ngIf="email.errors && email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors && email.errors.pattern">
                                        Email is invalid
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label ">Confirm Email</label>
                        <div class="col-sm-9">
                            <input #confirmEmail="ngModel" type="text" [(ngModel)]="model.confirmEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                class="form-control " id="confirmEmail" name="confirmEmail" required (keyup)="getVerifyEmailStatus($event)"
                                autocomplete="off">

                                <div class="alert alert-danger" *ngIf="!emailStatusMatched">
                                    Both the email should be matched
                                </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary instant btn-rounded-border" (click)="close(emailForm)" data-dismiss="modal">Close</button>
                <button type="button" (click)="submit(emailForm)" data-dismiss="modal" [disabled]="!emailForm.valid || !emailStatusMatched"
                    class="btn btn-primary instant btn-rounded-border">Save </button>
            </div>

        </div>
    </div>
</div>
